{% extends 'pages/index.jinja' %}

{% block content %}
<!-- Page Content -->
    <div class="w3-padding-large" id="main">
        <a href="/logout">Log Out</a> <br />
        This is the hidden page
    </div>
{% endblock content %}