{#
    TODO: Fade page to white before redirecting
#}
<!doctype html>
<head>
    <title>{% block title %}The Warehouse{% endblock title %}</title>
    <link rel="icon" href="/static/img/spy.ico" type="image/png"/>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/styles/arena-styles.css">
    {% block head_block %}{% endblock head_block %}
</head>

<body>

<nav>
{% block navblock %}{% endblock navblock %}
</nav>
{% block picture %}{% endblock picture %}
{% block content %}
    <button type="submit" id=enter-arena value="/arena/cipher-warehouse/{{ workout_id }}" onclick="">Enter The Warehouse!</button>
{% endblock content %}
</body>
{% block js_block %}
    <script>
        function enterWarehouse(URL)
        {
            window.setTimeout(function () {
            location.href = URL;
            }, 2000);
        }
    </script>
{% endblock js_block %}
</html>
