{% extends 'pages/index.jinja' %}

{% block content %}
<!-- Page Content -->
    <div class="w3-padding-large" id="main">
      <!-- Header/Home -->
      <header class="w3-container w3-padding-32 w3-center w3-black" id="home">
        <h1 class="w3-jumbo"><span class="w3-hide-small">Welcome to</span> Jonny Hash</h1>
        <p>Cryptographic Challenges and Tools...</p>
        <img src="/static/img/sinister (2).jpg" alt="a bigger thing" class="w3-image" width="992" height="600">
      </header>

      {#  <!-- Exercise Details Section --> #}
        <h2 class="w3-text-light-grey">This exercise...</h2>
        <hr style="width:200px" class="w3-opacity">
        <p>
            In this exercise, you will take the given hash and compare it to the generated hashes for
            all possible passwords. First list and save all of your guesses for the password into the file, "password_list.txt".
            Next you want to upload the file to the site using the button below, hit submit, and see what the results are!
            For sake of simplicity (and time), we will be using an unsalted, MD5 hashing algorithm.
            If the given hash and the generated hash are equivalent, then you have found the password! <br>I wonder
            where that password can be used?
            <br>
            <br>
            MD5 is another hashing algorithm used to secure data, primarily, passwords. When talking of security, the MD5
            algorithm is now considered obsolete and has been replaced by more secure methods such as SHA256, RipeMD, WHIRLPOOL,
            just to name a few. I bet Jonny wishes he had chosen a different method.
        </p>

        <!-- MD5 Generator Section -->
        <div class="w3-padding-64 w3-content w3-text-grey" id="generator">
            <h2 class="w3-text-light-grey">MD5 Generator</h2>
            <hr style="width:200px" class="w3-opacity">

            <div class="w3-section">
                <p>Enter all possible passwords and then press submit to view the hash:</p>

                {% block jsform_block %}
                    <script>
                    let text_input = $('#text_input');
                    let submit = $('#submit');
                    </script>
                {% endblock jsform_block %}

                <!-- take the input from textform and push the results to pwdoutput -->
                <form action="" id="textform" method="post">
                    <textarea rows="4" cols="80" name="text_input" ></textarea>
                    <br>
                    <input type="submit" value="Submit">
                </form>
                <br>
                <textarea rows="4" cols="80" name="hash_value" id="pwdoutput"></textarea>

<!-- End MD5 Generator  <textarea rows="" cols="50" name="hashresult"></textarea> -->

            </div>
        </div>
{% endblock content %}


{#  recycle code

<nav class="navbar navbar-expand-lg navbar-dark bg-primary" >
        <h1 class="text-light">Flask Basics</h1>
        <button class="navbar-toggler"
                type="button"
                data-toggle="collapse"
                data-target="#top_nav"
                aria-controls="top_nav"
                aria-expanded="false"
                aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="top_nav">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link {% if request.path == '/template_list_example' %}text-light{% endif %}" href="/template_list_example">
                        List Example
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link {% if '/data_in_url' in request.path  %}text-light{% endif %}" href="/data_in_url/EXAMPLE">
                        Data In URLs
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link {% if request.path == '/simple_form' %}text-light{% endif %}" href="/simple_form">
                        Simple Form
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link {% if request.path == '/ajax_example' %}text-light{% endif %}" href="/ajax_example">
                        AJAX Example
                    </a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card bg-light">
                    <div class="card-body">
                        {% block content %}
                        <h2>Default Content!</h2>
                        <p>If a page doesn't overwrite the content block, this is displayed!</p>
                        {% endblock %}
                    </div>
                </div>
            </div>
        </div>
    </div>


    Javascript needed by the entire site can be included here.  It's a good idea to only include
    the minimum needed by every page here and then extend the js_block below with any page-specific
    Javascript to reduce page load times.

    <script
        src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
    <script
        src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
        integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="
        crossorigin="anonymous"></script>
    <script
        src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script
        src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

    {% block js_block %}{% endblock %}

    This block can be overwritten by child templates to add page-specific Javascript
    #}
