{% extends 'pages/index.jinja' %}

{% block content %}
<!-- Page Content -->
    {#  <!-- Exercise Details Section --> #}
        <h2 class="w3-text-light-grey">This exercise...</h2>
        <hr style="width:200px" class="w3-opacity">
        <p>
            In this exercise, you will take the given hash and compare it to the generated hashes for
            all possible passwords. First list and save all of your guesses for the password into the file, "password_list.txt".
            Next you want to upload the file to the site using the button below, hit submit, and see what the results are!
            For sake of simplicity (and time), we will be using an unsalted, MD5 hashing algorithm.
            If the given hash and the generated hash are equivalent, then you have found the password! <br>I wonder
            where that password can be used?
            <br>
            <br>
            MD5 is another hashing algorithm used to secure data, primarily, passwords. When talking of security, the MD5
            algorithm is now considered obsolete and has been replaced by more secure methods such as SHA256, RipeMD, WHIRLPOOL,
            just to name a few. I bet Jonny wishes he had chosen a different method.
        </p>

        <!-- MD5 Generator Section -->
        <div class="w3-padding-64 w3-content w3-text-grey" id="generator">
            <h2 class="w3-text-light-grey">MD5 Generator</h2>
            <hr style="width:200px" class="w3-opacity">

            <div class="w3-section">
                {% if hashed_passwords %}
                    <table>
                    <thead>
                    <tr>
                        <th width="250" align="left">Plaintext</th>
                        <th align="left">MD5 Hash</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for hashed_password in hashed_passwords %}
                    <tr>
                        <td>{{ hashed_password.plaintext }}</td>
                        <td>{{ hashed_password.hash }}</td>
                    </tr>
                    {% endfor %}
                    </tbody>
                    </table>

                {% else %}
                <p>Choose the password_list.txt document on your computer and click submit:</p>

                {% if upload_error %}
                <div class="alert alert-danger" role="alert">{{upload_error}}</div>
                {% endif %}
                <form method="POST" action="{{ request.path }}" enctype="multipart/form-data">
                <div class="form-group">
                    <label for="password_file">Choose a CSV file from your computer.</label>
                    <input type="file" class="form-control-file" name="password_file" id="password_file" />
                    <br />
                    <input type="submit" class="btn btn-primary btn-sm" value="Upload File" />
                </div>
                </form>
                {% endif %}
            </div>
        </div>
{% endblock content %}