{% block title %}<title>Trojan Bricks Coming Soon!</title>{% endblock %}
{% block header %}
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">


  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,600,600i,700,700i" rel="stylesheet">
  <link href="https://allyoucan.cloud/cdn/icofont/1.0.1/icofont.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/css/bootstrap.min.css">
  <link href="../static/css/base.css" rel="stylesheet">

{% endblock %}
{% block page_content %}
  <!--Countdown Clock-->
  <header id="header" class="d-flex align-items-center">
    <div class="container d-flex flex-column align-items-center">

      <h1>Trojan Brick</h1>
      <h2>Harden clay of amazing fun coming soon!</h2>
      <div class="countdown d-flex justify-content-center" data-count="2025/06/22">
        <div>
          <h3>%D</h3>
          <h4>Days</h4>
        </div>
        <div>
          <h3>%H</h3>
          <h4>Hours</h4>
        </div>
        <div>
          <h3>%M</h3>
          <h4>Minutes</h4>
        </div>
        <div>
          <h3>%S</h3>
          <h4>Seconds</h4>
        </div>
      </div>

    </div>
  </header>
  <main id="main">
    <!-- About Trojan Bricks-->
    <section id="about" class="about">
      <div class="container">
        <div class="row content">
          <div class="col-lg-6">
            <h2>Introducing the new Trojan Brick!</h2>
            <h3>The best, new toy of 2025 is coming soon near you! </h3>
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0">
            <p>
                The Trojan Brick is a new, hardened clay moulding that is revolutionizing fun! Our toy factories are
                outputting thousands of Trojan Bricks to bring each household a fun, engaging way to play! With a mass
                amount of Trojan Bricks being produced, we are happy to introduce our upcoming website to keep up with
                all of our wonderful orders. Stay tuned as we prepare and develop this site! Here are some ways that
                the Trojan Brick is reinventing fun!
            </p>
            <ul>
              <li><i class="icofont-check"></i> Brand-new limited edition harden clay </li>
              <li><i class="icofont-check"></i> Unlimited amount of fun! </li>
              <li><i class="icofont-check"></i> Affordable cost</li>
            </ul>
            <p class="font-italic">
              The Trojan Brick is not to be confused with any ordinary brick. Our Trojan Brick is the cutting-edge toy
                of the future.
            </p>
          </div>
        </div>
      </div>
    </section>
  </main>
  <a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>
{% endblock %}
{% block js_block %}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/js/bootstrap.bundle.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.countdown/2.2.0/jquery.countdown.min.js"></script>
  <script src="../static/js/base.js"></script>
{% endblock %}

