/*
    ======================= General CSS styles =========================
    Used by all templates in application with the Arena Blueprint
    templates being the exception to this.
    ---------------------------------------------------------------------
*/
html {
    background: #202023;
    margin: 0;
    font-family: Arial, "Arial Narrow", SansSerif, sans-serif;
    font-size: 16px;
    color: whitesmoke;
    text-align: left;
    min-width: 1440px;
}
body {
    top: 0;
    margin: 0 0 50px 0;
    padding: 0;
}
div.footer-div {
    left: 100px;
    width: 100%;
    bottom: 0;
    margin: auto;
    text-align: center;
}
h1, h2, h3, h4, h5, h6 {
    font-family: "Candara Light", sans-serif;
    color: steelblue;
}
ol {
    font-size: 16px;
}
li {
    line-height: 1.5em;
}
/* Main Content Wrappers */
div.main-content-wrapper {
    left: 50px;
    margin: auto;
    padding: 1px 16px;
}
div.inner-content-wrapper {
    position: relative;
    padding-bottom: 20px;
}
.inner-content-wrapper {
    display: block;
    margin: auto;
    width: 80%;
}
div.list-wrapper {
    position: relative;
    background-color: #3b3b3e;
    border: 1px solid gray;
    border-radius: 2px;
    padding: 10px;
    max-width: 300px;
}
/* Sidebar (nav div) styles */
.sidebar {
    background: #3b3b3e;
    left: 0;
    padding: 0;
    width: 110px;
    position: fixed;
    height: 100%;
    overflow: hidden;
    border-right: 1px solid black;
}
.sidebar a {
    color: whitesmoke;
    font-size: 18px;
    display: block;
    padding: 10px;
    text-decoration: none;
}
.sidebar a.active {
    background-color: #b9b9ba;
}
.sidebar a:hover:not(.active) {
    background: #21465f;
}
.sidebar img {
    width: 80px;
}
.sidebar-icon {
    display: block;
    font-size: 1.5em;
    text-align: center;
}
.sidebar-txt {
    text-align: center;
}
/* General image styles */
img {
    border: 1px solid gray;
    border-radius: 2px;
}
.content-img {
    width: 80%;
    min-width: 800px;
    margin: auto;
    border: 1px solid gray;
    border-radius: 4px;
    box-shadow: 1px 2px 0 0 darkgray;
}
header.banner-image {
    margin: auto;
    text-align: center;
}
.img-modal {}
/* General Button Styles */
.btn {
    display: inline-block;
    background-color: #3498DB;
    color: black;
    width: 70%;
    max-width: 150px;
    height: 40px;
    padding: 0 10px;
    cursor: pointer;
    text-align: center;
    vertical-align: middle;
    letter-spacing: .5px;
    font-size: 14px;
    text-transform: uppercase;
    outline: 0;
    border: none;
    border-radius: 2px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 3px 1px -2px rgba(0, 0, 0, 0.12),
    0 1px 5px 0 rgba(0, 0, 0, 0.2);
    transition: all 0.4s ease-in;
}
input.btn {
    margin-top: 20px;
    padding-left: 15px;
}
div.btn {
    display: table-cell;
    margin: auto;
    z-index: 99;
}
input[type="file"] {
    /* Setting top: -500px is a temp fix for issue where clicking the
       input div would activate the input action twice. */
    top: -500px;
    visibility: hidden;
    display: none;
    z-index: -1;
}
.btn:active {
    animation: 0.4s animate-btn;
}
.btn:hover {
    background-color: #2980B9;
}
@keyframes animate-btn {
    50% {
        transform: scale(1.2, 1.2);
        opacity: 0;
    }
    99% {
        transform: scale(0.001, 0.001);
        opacity: 0;
    }
    100% {
        transform: scale(0.001, 0.001);
        opacity: 1;
    }
}
/* General Input Styles */
.input-div {
    align-content: center;
    width: 100%;
}
input {
    display: inline-block;
    width: 70%;
    margin: 15px auto;
    height: 30px;
    font-size: 16px;
}
label {
    display: inline-block;
    font-family: "Candara Light", sans-serif;
    color: black;
    font-size: 16px;
    letter-spacing: 0.5px;
}