{% extends "base.html" %}

{% block title %}Unauthorized{% endblock %}

{% block content %}
    <div class='image_container' style='text-align: center;'>
        <img style='text-align:center;' src="/static/imgs/CyberGymLogo_small.png" alt="UA Little Rock Cyber Gym Logo"/>
    </div>
    <div id='error_container' style='margin:auto;text-align:center;'>
        <h2>Unauthorized</h2>
        <p>Your account has not yet been approved to access the requested Cyber Gym materials.</p>
        <p>If the error persists, please contact support at cybergym@ualr.edu</p>
    </div>
{% endblock %}