Click==7.0
Flask==1.0.3
itsdangerous==1.1.0
Jinja2==2.10.1
MarkupSafe==1.1.1
Werkzeug
google-cloud-storage
google-cloud-datastore
google-api-python-client
google-cloud-pubsub
google-cloud-runtimeconfig
pyyaml
flask-wtf
cryptography==2.8
python-jose[cryptography]==3.0.1
requests==2.22.0
email-validator==1.0.5
google-auth==1.20.1
google-cloud-logging