{% extends "base.html" %}
{% block title%} Workout {{ workout_name }} {% endblock %}
{% import 'nuke_macro.html' as nuke %}
{% import 'logo_macro.html' as logo %}

{% block content%}
    <script>
    function server_action(action, server_name){
        $.ajax({
            type: "POST",
            url: "/student/server_management/{{ workout.key.name }}",
            contentType: "application/json",
            data: JSON.stringify({
                "action": action,
                "server_name": server_name
            })
        })
    }

    function prepare_survey(){
        //Set up display modal for student feedback survey
        var modal = document.getElementById("surveyModal");
        var btn = document.getElementById("surveyBtn");
        var span = document.getElementsByClassName("close-modal")[0];

        btn.onclick = function() {
            modal.style.display = "block";
        }

        span.onclick = function() {
            modal.style.display = "none";
        }
        
        window.onclick = function(event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        }

        $("#survey_form").on('submit',function(event){
            event.preventDefault();
            var feedback_data = new FormData(this);
            $.ajax({
                    type: "POST",
                    url: "/student/feedback/{{ workout.key.name }}",
                    data: feedback_data,
                    contentType: "application/json;charset=utf-8",
                    data: feedback_data,
                    contentType: false,
                    processData: false,
                    success: function(data){
                        var jsonData = JSON.parse(data);
                        alert("Survey submitted!");
                    }
                })
        });
    }

    function prepare_assessment(){
        $(".workout_assessment_form").submit(function(e) {
            e.preventDefault();
            $("#loading-msg").html('Please wait while the process completes' +
                '</br><div class="loader"></div>');

            var form = $(this);
            var url = form.attr('action');

            //Serialize form data
            var assessment_data = new FormData(this);
            $.ajax({
                //Send data to server and add the submitted answer to the answered questions display
                type: "POST",
                url: url,
                data: assessment_data,
                contentType: false,
                processData: false,
                success: function(data)
                {
                    $("#loading-msg").html("");
                    var jsonData = JSON.parse(data);
                    if(jsonData["answer"]){
                        //Find previous submission and update answer on page
                        var submitted_answers = document.querySelectorAll(".submitted_answer_group > .submitted_question");
                        for(var i = 0; i < submitted_answers.length; i++){
                            if(submitted_answers[i].innerHTML == "Question: " + jsonData["question"]){
                                let answer_element = submitted_answers[i].nextElementSibling;
                                answer_element.innerText = "Submission: " + jsonData['answer'];
                                return;
                            }
                        }
                        //If no previous attempt, create new submission div for this question
                        var new_submission_element = document.createElement('div');
                        new_submission_element.className = "submitted_answer_group";

                        var question_element = document.createElement('p');
                        question_element.innerHTML = "Question: " + jsonData["question"];
                        question_element.className = "submitted_question";
                        new_submission_element.appendChild(question_element);

                        var answer_element = document.createElement('p');
                        answer_element.innerHTML = "Submission: " + jsonData["answer"];
                        answer_element.className = "submitted_answer";
                        new_submission_element.appendChild(answer_element);

                        $("#submitted_answers").append(new_submission_element);
                    }
                }
            });
            //Reset form and activate the submission indicator check mark
            this.reset();
            var form_question = this.querySelectorAll(".question_group > p > .submission_indicator");
            form_question.forEach(element => element.innerHTML = "&#10004");
            return false;
        });
        $("assessment_reveal").click(function(){
            $("#assessment_form").fadeIn();
        });
    }

    $(document).ready(function(){
        var snapshot_timestamps = document.getElementsByClassName('snapshot_time');
        for(var i = 0; i < snapshot_timestamps.length; i++){
            var raw_timestamp = snapshot_timestamps[i].innerHTML;
            var formatted_timestamp = Date.parse(raw_timestamp);
            snapshot_timestamps[i].innerHTML = new Date(formatted_timestamp).toLocaleString();
        }
        
        //Set up workout assessment
        prepare_assessment();
        
        //Set up student feeback survey
        prepare_survey();

    });
    
    </script>
{% if workout['registration_required'] %}
    <script src="../static/login.js"></script>
    <script>
        var auth_config = {
            apiKey: '{{auth_config["api_key"]}}',
            authDomain: '{{auth_config["auth_domain"]}}',
            projectId: '{{auth_config["project_id"]}}'
        };
        initApp(auth_config).then(value => {
            if(value['admin'] == false && value['student'] == false){
                location.href = "/login";
            }
        })
    </script>
{% endif %}
{% if build_type == "compute" %}
    <script>
        //Used if the workout involves VMs
        //Regularly check the state, and update the current state indicator
        //After a control button is clicked, disable the buttons until the VMs are able to respond to GCP API requests
        function check_workout_state(){
            var state = $.ajax({
                type:"POST",
                url: "/workout_state/{{ workout.key.name }}",
                traditional: "true",
            });
            return state;
        }

        function update_state(){
            var state_display = document.getElementById("workout_state_display");
            var workout_link = document.getElementById("workout_link");
            var build_workout = document.getElementById("build_workout");
            check_workout_state().then( new_state => {
                if(new_state == "RUNNING"){
                    workout_link.style.visibility = "visible";
                    state_display.style.color = "green";
                    state_display.innerHTML = "RUNNING";
                    $("#start-vm").attr("disabled", "disabled");
                    $("#stop-vm").removeAttr("disabled");     
                    $("#reset-vm").removeAttr("disabled");   
                    $(".nuke_btn").removeAttr("disabled");
                    $(".loader").remove();                   
                } else if(new_state == "READY"){
                    workout_link.style.visibility = "hidden";

                    state_display.style.color = "red";
                    state_display.innerHTML = "STOPPED";
                    $("#start-vm").removeAttr("disabled");
                    $("#stop-vm").attr("disabled", "disabled");
                    $("#reset-vm").attr("disabled", "disabled");
                    $('.nuke_btn').removeAttr('disabled');
                    $(".loader").remove();                    }
                else if(new_state == "START"){
                    workout_link.style.visibility = "hidden";
                    build_workout.style.visibility = "visible";

                    state_display.style.color = "red";
                    state_display.innerHTML = "NOT BUILT";
                    $("#start-vm").attr("disabled", "disabled");
                    $("#stop-vm").attr("disabled", "disabled");
                    $("#reset-vm").attr("disabled", "disabled");
                    $('.nuke_btn').attr("disabled", "disabled");
                    $(".loader").remove();
                } else if(new_state == "DELETED"){
                    workout_link.style.visibility = "hidden";

                    state_display.style.color = "black";
                    state_display.innerHTML = "NO LONGER AVAILABLE";
                    $("#start-vm").attr("disabled", "disabled");
                    $("#stop-vm").attr("disabled", "disabled");
                    $("#reset-vm").attr("disabled", "disabled");
                    $('.nuke_btn').attr("disabled", "disabled");
                    $(".loader").remove();
                } else {
                    workout_link.style.visibility = "hidden";

                    state_display.style.color = "orange";
                    state_display.innerHTML = "WORKING";
                    $("#start-vm").attr("disabled", "disabled");
                    $("#stop-vm").attr("disabled", "disabled");
                    $("#reset-vm").attr("disabled", "disabled");
                    $('.nuke_btn').attr("disabled", "disabled");
                    $(".loader").remove();  
                }
            });
            
        }
        $(document).ready(function(){
            update_state();
            var state_checker = setInterval(update_state, 10000);

            $(".control_form").submit(function(event){
                event.preventDefault();
                clearInterval(state_checker);
                check_workout_state().then(new_state => {
                    
                    var currentState = new_state;
                    $('#start-vm').attr('disabled','disabled');
                    $('#stop-vm').attr('disabled','disabled');
                    $('#reset-vm').attr('disabled','disabled');
                    $('.nuke_btn').attr('disabled', 'disabled');
                    $("#loading-msg").html('Please wait while the process completes' +
                        '</br><div class="loader"></div>');
                    var route = "/" + event.target.id;
                    var workout_id = document.getElementById("workout_id").value;
                    var runtime = document.getElementById('time').value;
                    
                    $.ajax({
                        type: "POST",
                        url: route,
                        data: JSON.stringify({
                                "workout_id": workout_id,
                                "time": runtime,
                            }),
                        contentType: "application/json;charset=utf-8",
                        success: function(data){
                            var temp_state = currentState.toString();
                            var state_update = setInterval(function(){
                                check_workout_state().then(test_state => {
                                    if(test_state !== currentState){
                                        clearInterval(state_update);
                                        update_state();
                                        state_checker = setInterval(update_state, 10000);
                                    }
                                });
                            }, 5000);
                        }
                    })
                })
            }); 
        });
    </script>
{% endif %}

<style>
    .server_control_container{
        display:flex;
        flex-direction:row;
    }
    .btn:hover{
        background-color:white!important;
        color:var(--main_color, #6e2639)!important;
    }
    .assessment_question{
        margin-bottom:0;
    }
    .question_group{
        border: 1px solid lightgray;
        margin-bottom:0;
    }
    .survey_btn {
        background-color: var(--main_color, #6e2639)!important;
        color: white !important;
        width: 10em;
        border-radius: 4px;
        border: None;
        margin-bottom: 20px;
        padding: 5px;
    }
    .survey_btn:hover {
        background-color:white!important;
        color:var(--main_color, #6e2639)!important;
    }
</style>

<style>
body {font-family: Arial, Helvetica, sans-serif;}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}
.close-modal {
    color: #aaaaaa;
    font-size: 2.2em;
    font-weight: bold;
    padding-right: 20px;
}
.close-modal:hover {cursor: pointer}
.text-input {
    display:block;
    width:75%;
    height:100%;
    margin-right:45%;
}
</style>

<div class='landing_container col-lg-12'>
    <div class='row'>
        <div class='workout_links col-sm-2' style="margin-top:1em;border-right:1px solid black">
            {{ logo.logo_div() }}
            <br><h2>Workout Control</h2><br>
            <p>Workout status: 
                {% if build_type == "container" %}
                    <span id="workout_state_display" style="color:green;">RUNNING</span>
                {% else %}
                    <span id='workout_state_display' style="color:red;">STOPPED</span>
                {% endif %}</p><br>
            <div id="loading-msg"></div>
            {% if workout['state'] == "START" %}
                <div class='control_button'>
                    <form class="control_form" id='build_workout' action="/build_workout" method="post">
                        <div class="input-field" >
                            <input type="hidden" id="workout_id" name="workout_id" value="{{ workout.key.name }}">
                        </div>
                        <div class="btn-ctn">
                            <button type="submit" id="build-workout" class="waves-effect waves-light btn">BUILD WORKOUT</button>
                        </div>
                    </form>
                </div>
            {% endif %}
                <p>Expiration date: {{ expiration }}</p><br>
                {% if build_type == "compute" %}
                    <div class='control_button'>
                        <form class="control_form" id='start_vm' action="/start_vm" method="post">
                            <div class="input-field form-group" >
                                <input type="hidden" id="workout_id" name="workout_id" value="{{ workout.key.name }}">
                                <input type="number" id="time" class="form-control" name="time" value="2" min="1" max="10" style="margin-top:1em;">
                                <label>Run time (1 - 10 hours)</label>
                            </div>
                            <div class="btn-ctn">
                                {% if is_expired %}
                                    <button type="submit" id="start-vm" class="waves-effect waves-light btn" disabled>START WORKOUT</button>
                                {% else %}
                                    {% if state == "READY" %}
                                        <button type="submit" id="start-vm" class="waves-effect waves-light btn" >START WORKOUT</button>
                                    {% else %}
                                        <button type="submit" id="start-vm" class="waves-effect waves-light btn" disabled>START WORKOUT</button>
                                    {% endif %}
                                {% endif %}
                            </div>
                        </form>
                    </div>
                    <div class='control_button'>
                        <form class="control_form" id="stop_vm" action="/stop_vm" method="post">
                            <input type="hidden" id="workout_id" name="workout_id" value="{{ workout.key.name }}">
                            <div class="btn-ctn">
                                {% if is_expired %}
                                    <button id="stop-vm" class="waves-effect waves-light btn" disabled>STOP WORKOUT</button>
                                {% else %}
                                    {% if state == "RUNNING" %}
                                        <button id="stop-vm" class="waves-effect waves-light btn" >STOP WORKOUT</button>
                                    {% else %}
                                        <button id="stop-vm" class="waves-effect waves-light btn" disabled>STOP WORKOUT</button>
                                    {% endif %}
                                {% endif %}
                            </div>
                        </form>
                    </div>
                    <div class='control_button'>
                        <form class="control_form" id="reset_vm" action="/reset_vm" method="post">
                            <input type="hidden" id="workout_id" name="workout_id" value="{{ workout.key.name }}">
                            <div class="btn-ctn">
                                <button id="reset-vm" class="waves-effect waves-light btn" disabled>RESET WORKOUT</button>
                            </div>
                        </form>
                    </div>

                    {% if is_expired == False %}
                        {{ nuke.nukeButton(workout.key.name|string) }}
                    {% endif %}
                {% endif %}
            {% if workout['registration_required'] %}
                <hr><a href="/student/home" class="btn">Home</a>
            {% endif %}
        </div>
        <div class='col-sm-9' style="padding-top:1em; margin-top:2%;">

            <div id='workout_info' class='container' style="margin:0;">
                <h2>Welcome to your {{ workout['workout_name'] }} workout!</h2>
                <p>{{ description }}</p>
                <p>Need help with your workout? Check the <a href="/faq">FAQ page</a> or the <a href="/{{workout['type']}}_faq">{{workout['type']}} FAQ page</a></p>
                {% if is_expired %}
                    <p><b>*This workout has expired. You can still view your assessment, but if you need to continue working please contact your instructor.</b></p>
                {% endif %}
                {% if workout['student_instructions_url'] %}
                    <a href="{{ workout['student_instructions_url'] }}" target="_blank" rel="noopener noreferrer" class='landing_dropdown'>Workout Instructions</a><br>
                {% endif %}
                <div  id='login-info' style="margin: 20px 0 0;">
                    {% if build_type == "compute" %}
                        <h2>Workout Login</h2>
                        {% if "workout_credentials" in workout %}
                            {% for credential in workout["workout_credentials"]%}
                                <p>Credentials for user <b>{{ credential["workout_user"] }}</b>: {{ credential["workout_password"] }}</p>
                            {% endfor %}
                        {% else %}
                            <p>Workout Username: {{workout['workout_user']}}</p>
                            <p>Workout Password: {{workout['workout_password']}}</p>
                        {% endif %}
                    {% endif %}

                </div> <!--Workout info container-->
                <br>
                
                <h2>Workout Servers</h2>
                {% if build_type == 'container' %}
                    <a style="width:50%" class="btn" id="container_workout_link"
                    href="{{container_url}}/{{workout.key.name}}"
                    target="_blank" rel="noopener noreferrer">Enter your workout!</a>
                {% else %}
                    <a style="width:50%; visibility:hidden" class="btn" id="workout_link" href="http://{{ workout.key.name }}{{ dns_suffix }}:8080/guacamole/#/" target="_blank">Enter your workout!</a>
                <table id='workout_server_table' style="position: relative; border-collapse: separate; border-spacing: 1em 0;">
                    <tr>
                        <th>Server Name</th>
                        <th>IP</th>
                        <th>Server State</th>
                        <th>Operations</th>
                        <th>Snapshots</th>
                    </tr>
                {% for server in servers %}
                    <tr>
                        <td>{{server['name']}}</td>
                        <td>{{ server['config']['networkInterfaces'][0]['networkIP'] }}</td>
                        <td>{{server['state']}}</td>
                        <td>
                            <div class="server_control_container" id='{{server["name"]}}_operations'>
                            <div class="server_control_container" id='{{server["name"]}}_operations'>
                                <a style="background-color:green;" class="btn" onclick="server_action('START', '{{server['name']}}')">Start</a>
                                <a class="btn server_control_button" onclick="server_action('STOP', '{{server['name']}}')">Stop</a>
                                <a class="btn server_control_button" style="background-color:red;" onclick="server_action('REBUILD', '{{server['name']}}')">Rebuild</a>
                            </div>
                        </td>
                        <td>
                            {% if 'guacamole' not in server['name'] %}
                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#{{server['name']}}_snapshot_modal">
                                Manage Snapshots
                            </button>
                            <div class="modal fade" id="{{server['name']}}_snapshot_modal" tabindex="-1" role="dialog" style="box-shadow:none;background-color:transparent;" aria-labelledby="ModalLabel_{{workout.name}}" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="ModalLabel_{{workout.name}}">Snapshot Management: {{server.key.name}}</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            {% if 'snapshots' in server and server['snapshots']%}
                                                <!-- {{server['snapshots']}} -->
                                                <div id="{{server.key.name}}_snapshot_restore">
                                                    <table class="table">
                                                        <tr>
                                                            <th>Snapshot Name</th>
                                                            <th>Creation Date</th>
                                                        </tr>
                                                        {% for snapshot in server['snapshots'] | sort(attribute='creation_date') %}
                                                            <tr>
                                                                <td>{{snapshot['snapshot_name']}}</td>
                                                                <td class="snapshot_time">{{snapshot['creation_date']}}</td>
                                                            </tr>
                                                        {% endfor %}
                                                        
                                                    </table>
                                                    <a class="btn" href="#" onclick="server_action('RESTORE', '{{server.key.name}}')">Restore</a>
                                                </div>
                                            {% endif %}
                                            <div id="{{server.key.name}}_new_snapshot" style="margin-top: 1em;">
                                                <a href="#" class="btn" onclick="server_action('SNAPSHOT', '{{server.key.name}}')">Create New Snapshot</a>
                                                <p><small>Snapshots are automatically created at midnight. Creating a new snapshot will overwrite the previous one.</small></p>
                                            </div>
                                        </div>
                                        <div class="modal-footer" style="justify-content:center;">
                                            <button type="button" class="btn" data-dismiss="modal">Close</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}

                </table>
                {% endif %}
                <br>
                
                {% if score %}
                    <p>Assessment Results: {{ score }}</p>
                    <p>*Results may not be final</p>
                {% endif %}
            </div>
            <div id="workout_id" hidden>{{ workout.key.name }}</div>
            
                {% if assessment %}
                <script>
                    function reveal_assessment(){
                        $(".workout_assessment_form").fadeToggle();
                    }
                </script>
                <br>  
                <div class='container' id='assessment'>
                    <a class='landing_dropdown btn' href="#" id='assessment_dropdown_control' onclick="reveal_assessment()">Assessment</a><br>
                    {% for question in assessment%}
                        <form class='workout_assessment_form' method="POST" style="display:none; margin-top:2em;" enctype="multipart/form-data">

                        {% if question['type'] == 'input' %}
                            <div class='question_group form-group'>
                                <input type="hidden" name="question" value="{{ question['question'] }}" />
                                <p class="assessment_question">{{ question['question'] }}<span class="submission_indicator" style="color: green;"></span></p><br>
                                <input type='text' class="form-control" name="answer" required/>
                                <button type='submit' class="btn" style="margin-top:0;text-align:center;" >Submit</button><br>
                            </div>
                        {% elif question['type'] == 'upload' %}
                            <div class='question_group form-group'>
                                <input type="hidden" name="upload_prompt" value="{{ question['question'] }}" />
                                <input type="hidden" name="upload_index" value="{{loop.index}}" />
                                <p class="assessment_question">{{ question['question'] }}<span class="submission_indicator" style="color: green;"></span></p><br>
                                <input type='file' id='assessment_file_upload' class="form-control-file" name='file_upload'><br><br>
                                <button type='submit' class="btn" style="margin-top:0;text-align:center;" >Submit</button><br>
                            </div>
                        {% elif question['type'] == 'auto' %}
                            <div class='question_group form-group'>
                                <input type="hidden" name="question" value="{{ question['question'] }}" />
                                <p class="assessment_question">{{ question['question'] }}</p> 
                                {% if question['complete'] %}
                                <span style='color:green;'>Complete</span>
                                {% else %}
                                <span style='color:red;'>Not completed</span>
                                {% endif %}
                                <br>
                            </div>
                        {% endif %}
                        </form><br>
                    {% endfor %}

                        <div id="submitted_answers" style="margin-top: 1em;">
                        {% if 'submitted_answers' in workout %}
                            <h5>Submitted Answers</h5>
                            {% for submission in workout['submitted_answers'] %}
                                <div class="submitted_answer_group">
                                    <p class="submitted_question" style="margin-bottom:0;" >Question: {{submission['question']}}</p>
                                    <p class="submitted_answer">Submission: {{submission['answer']}}</p>
                                </div>
                            {% endfor %}
                        {% endif %}
                        </div>
                        
                    <button id="surveyBtn" class="survey_btn">Complete Survey</button>

                    <div id="surveyModal" class="modal">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="survey-title">SURVEY FORM</h1>
                                <span class="close-modal">&times;</span>
                            </div>
                            <div class="modal-body">
                                <form id="survey_form" method="post" enctype="multipart/form-data">
                                    {% for key in survey.keys() %}
                                        <label for={{survey[key]}}>{{survey[key]}}</label>
                                        <input type='textarea' class="text-input" id={{survey[key]}} size="60" name={{survey[key]}}/>
                                        <br>
                                    {% endfor %}
                                    <input type="submit" value="Submit Survey" name="Submit" class="survey_btn"/>
                                </form>
                            </div>
                        </div>
                    </div>
                </div> <!--Assessment Dropdown-->
                {% endif %}
        </div>
    </div> <!--Main Container-->
</div>
{% endblock %}
