google.cloud
google-api-core==2.11.0
google-cloud-storage
google-cloud-datastore==2.15.1
google-api-python-client==2.83.0
google-cloud-pubsub
google-cloud-runtimeconfig
google-cloud-logging
pyyaml
pymysql==1.0.3
cryptography==40.0.1
python-jose[cryptography]==3.3.0
oauth2client
netaddr
functions-framework==3.3.0
flask==2.2.3
google-cloud-error-reporting==1.9.1