google.cloud
google-api-core==2.11.0
google-cloud-storage
google-cloud-datastore==2.14.0
google-api-python-client==2.80.0
google-cloud-pubsub
google-cloud-runtimeconfig
google-cloud-logging
pyyaml
pymysql
cryptography==39.0.2
python-jose[cryptography]==3.3.0
oauth2client
netaddr
functions-framework==3.3.0
flask==2.2.3
google-cloud-error-reporting==1.9.0