{% extends 'base.html' %}
{% block title %}XSS{% endblock %}
{% block styles %}
    <link type="text/css" rel="stylesheet" href="{{ url_for('classified.static', filename='css/classified-app.css')}}">
{% endblock %}
{% block nav_title %}Cross-Site Scripting{% endblock %}
{% block navbar %}
    <div class="navbar-nav mr-auto">
        <ul class="nav nav-pills top-navbar-pill">
            <li class="nav-item pr-1" role="presentation">
                <a class="nav-link text-center" href="{{ url_for('classified.dom', workout_id=workout['id']) }}">DOM XSS</a>
            </li>
            <li class="nav-item pr-1" role="presentation">
                <a class="nav-link text-center" href="{{ url_for('classified.reflected', workout_id=workout['id']) }}">Reflected XSS</a>
            </li>
            <li class="nav-item pr-1" role="presentation">
                <a class="nav-link text-center" href="{{ url_for('classified.stored', workout_id=workout['id']) }}">Stored XSS</a>
            </li>
        </ul>
    </div>
{% endblock %}
{% block content %}
<main class="col main pt-3 mt-3 h-100">
    <div class="overflow-auto">
        <div class="tab-content">
            <div class="tab-content fade active show" id="dom-tab" role="tabpanel" aria-labelledby="dom-tab-btn">
                <div class='summary-container' style="margin-top: 10px;">
                    {% autoescape false %}
                        <h1 style="text-align: center">DOM Cross-Site Scripting</h1>
                        <hr>
                        {% if 'bad_request' in attack %}
                            <h3 class="text-center">Hello! I have a bad request for you!</h3>
                             <div class="col">
                                <p  class="pt-2 info-block">
                                    With the DOM model, Javascript is able ot create dynamic HTML.
                                     This includes changing, creating, or removing HTML attributes, events, and elements.
                                    In a DOM-based XSS attack, the source and execution of the attack are in the DOM and never
                                    leaves the browser.
                                    <br>
                                    <br>
                                    Try sending a bad request through a query parameter.
                                </p>
                            </div>
                            {{ attack.bad_request | safe }}
                            <pre><code class="code-block"><{{ '\script>' }}{{ attack.cleaned }} {{'<\/script'}}></code></pre>
                        {% else %}
                            <h3  class="text-center">I'm waiting for a bad request...</h3>
                            <div class="col">
                                <p  class="pt-2 info-block">
                                    With the DOM model, Javascript is able ot create dynamic HTML.
                                     This includes changing, creating, or removing HTML attributes, events, and elements.
                                    In a DOM-based XSS attack, the source and execution of the attack are in the DOM and never
                                    leaves the browser.
                                    <br>
                                    <br>
                                    Try sending a bad request through a query parameter.
                                </p>
                            </div>
                        {% endif %}
                    {% endautoescape %}
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}