**/.idea
**/env
**/__pycache__

*.pyc

.DS_Store
main/subscriber.py
local-scripts/
/build-files/private/
/build-files/build-update-scripts/private/
/main/static/private/
/main/templates/private/
/cloud-functions/test_command.py
/venv/
container-applications/classified/IoT/overview.md
container-applications/classified/local_files/
cloud-build-scripts/node_modules/
design-files/private/
/build-files/workout-specs/needs-encrypted/**/*.yaml
/build-files/workout-specs/needs-encrypted/**/*.yml
/build-files/workout-instructions/teacher-instructions/needs-encrypted/*.pdf
/local_files/
/test.py
/admin_scripts/temp/
