**/.idea
**/env
**/__pycache__

*.pyc

.DS_Store
cyber-gym/subscriber.py
local-scripts/
/build-files/private/
/cyber-gym/static/private/
/cyber-gym/templates/private/
/cloud-functions/test_command.py
/venv/
cyber-gym/bad.db
