**/.idea
**/env
**/__pycache__

*.pyc

.DS_Store
main/subscriber.py
local-scripts/
/build-files/private/
/build-files/build-update-scripts/private/
/main/static/private/
/main/templates/private/
/cloud-functions/test_command.py
/venv/
container-applications/classified/IoT/overview.md
container-applications/classified/local_files/
cloud-build-scripts/node_modules/
design-files/private/
/build-files/workout-specs/needs-encrypted/**/*.yaml
/build-files/workout-specs/needs-encrypted/**/*.yml
/build-files/workout-instructions/teacher-instructions/needs-encrypted/*.pdf
/local_files/
/test.py
/admin_scripts/temp/
/admin_scripts/bryce_test_scripts/
admin_scripts/quick_command.py
/v2/build_files/instructions/teacher/plaintext/
/v2/build_files/specs/plaintext/
admin_scripts/reports/
/admin_scripts/ryan_scripts/
/v2/.bulk_settings.yaml
/v2/documentation/
/v2/documentation/images/
/v2/bill/
.env
.gitignore
v2/container-applications/Classified/test.py
/v2/build_files/admin_scripts/local/
/v2/setup_gui.py
v2/build_files/server-code/keepitsimple-ac-scripts/certs/
v2/build_files/server-code/keepitsimple-ac-scripts/build/
