google.cloud
google-api-core
google-cloud-storage
google-cloud-datastore==2.14.0
google-api-python-client==2.80.0
google-cloud-pubsub==2.15.0
google-cloud-runtimeconfig
google-cloud-logging
pyyaml
pyAesCrypt