{# Cards are used as part of the Build Workout tab in teacher_classroom.html #}
{% macro buildWorkoutCards(specs, build_type, url, courses=None) %}
    {% for spec in specs %}
        {% set outer_loop = loop %}
        <div class="card unit-card col-lg-4 col-sm-12" onclick="show_modal_card('current_{{ build_type }}_{{ outer_loop.index }}')">
            <div class="card-body">
                <h5 class="card-title">{{ spec.summary.name }}</h5>
                {% if spec.summary.tags %}
                    {% for tag in spec.summary.tags %}
                        <div class="badge filterTags text-truncate {{ tag['id'] | lower }}">{{ tag.name }}</div>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
        <div class="modal fade" tabindex="-1" role="dialog" id="current_{{ build_type }}_{{ loop.index }}">
            <div class="modal-dialog modal-lg" role="document" style="overflow-y: initial !important;">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5>{{ spec.summary.name }}</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">x</span>
                        </button>
                    </div>
                    <div class="modal-body" style="overflow-y: auto; max-height: 80vh;">
                        <div class="build-tags">
                            {% if spec.summary.tags %}
                                {% for tag in spec.summary.tags %}
                                    <div class="badge {{ tag['id'] | lower }}" style="width: fit-content">{{ tag.name }}</div>
                                {% endfor %}
                            {% endif %}
                        </div>
                        <div style="border-bottom: 1px solid #e6e6e6; padding: 3px;">
                            <p>{{ spec.summary.description }}</p>
                        </div>
                        {% set form_id = build_type ~ '_' ~ outer_loop.index ~ '_form' %}
                        <form id="{{ build_type }}_{{ outer_loop.index }}_form" action="{{ url }}" method="post"
                              onsubmit="displayWaitingMessage('current_{{ build_type }}_{{ outer_loop.index }}');">
                            <div class="form-group">
                                <input type="hidden" name="email" id="email" />
                                <input type="hidden" name="build_file" id="build_file" value="{{ spec['id'] }}">
                            </div>
                            <div class="form-group">
                                <label for="class-expire-date-{{ outer_loop.index }}">Expires: </label>
                                <input id="class-expire-date-{{ outer_loop.index }}" class="form-control" name="expires"
                                       type="datetime-local" onchange="validateDateTime(this)">
                            </div>
                            {% if not spec.lms_quiz %}
                                <div id="{{ build_type }}-build-count-{{ outer_loop.index }}-div" class="form-group">
                                    <label for="build-count-{{ outer_loop.index }}">Enter max number of students:</label>
                                    <input id="build-count-{{ outer_loop.index }}" class="form-control" type="number" name="build_count" min="1" max="500" />
                                </div>
                            {% endif %}
                            {% if spec.lms_quiz %}
                                {% if courses %}
                                    <hr>
                                    {{ create_lms_fields(form_id, outer_loop, courses, True) }}
                                    <div class="form-group">
                                        <label for="quiz-due-date-{{ outer_loop.index }}">Quiz Due: </label>
                                        <input id="quiz-due-date-{{ outer_loop.index }}" class="form-control" name="lms_due_at"
                                               type="datetime-local" onchange="validateDateTime(this)">
                                    </div>
                                    <div class="d-flex justify-content-center">
                                        <button type="submit" id="build-{{ build_type }}-{{ loop.index }}" class="waves-effect waves-light btn-fa text-center build-workout">Build Workout!</button>
                                    </div>
                                {% else %}
                                    <div class="form-group text-center" style="background-color: lightgoldenrodyellow; border: 1px solid lightblue; border-radius: 4px;">
                                        <p style="margin-top: 1rem;"><i class="fa fa-warning"></i>No LMS courses found. Make sure to add your LMS API key in user settings first!</p>
                                    </div>
                                    <div class="d-flex justify-content-center">
                                        <p id="build-{{ build_type }}-{{ outer_loop.index }}"
                                           class="waves-effect waves-light btn-fa text-center build-workout disabled" disabled="true"
                                           style="pointer-events: none; opacity: 70%;">Build Workout!</p>
                                    </div>
                                {% endif %}
                            {% else %}
                                {% if courses %}
                                    {{ create_lms_fields(form_id, outer_loop, courses, False) }}
                                {% endif %}
                                <div class="d-flex justify-content-center">
                                    <button type="submit" id="build-{{ build_type }}-{{ loop.index }}"
                                            class="waves-effect waves-light btn-fa text-center build-workout">Build Workout!</button>
                                </div>
                            {% endif %}
                        </form>
                    </div> <!-- End modal-body -->
                </div> <!--End modal-content -->
            </div> <!-- End modal-dialog -->
        </div> <!-- End modal-->
    {% endfor %}
{%- endmacro %}

{% macro create_lms_fields(form_id, outer_loop, courses, enable) %}
    <!-- Generates form fields from LMS values -->
    {% if enable %}
        <label for="use_lms">Build with LMS</label>
        <input type="checkbox" name="use_lms" value="" checked readonly style="pointer-events: none;">
        <input type="text" name="lms_integration" value="1" readonly hidden>
    {% else %}
        <label for="lms_integration">Build with LMS</label>
        <input type="checkbox" name="use_lms" value="" onclick="enableLMSFields('{{ form_id }}')">
        <input type="text" name="lms_integration" value="" readonly hidden>
    {% endif %}
    <div class="form-group">
        <label for="lms-type-{{ outer_loop.index }}">Learning Management System: </label>
        {% if enable %}
        <select id="lms-type-{{ outer_loop.index }}" class="form-control" name="lms_type"
                onchange="updateLMSCourses(this.value, '-course-select-div-{{ outer_loop.index }}')">
        {% else %}
        <select id="lms-type-{{ outer_loop.index }}" class="form-control" name="lms_type" disabled
                onchange="updateLMSCourses(this.value, '-course-select-div-{{ outer_loop.index }}')">
        {% endif %}
            {% for lms, value in courses.items() %}
                <option value="{{ lms }}">{{ lms | capitalize }}</option>
            {% endfor %}
        </select>
    </div>
    {% for lms, value in courses.items() %}
        {% if lms == 'canvas' %}
            <div id="{{ lms }}-course-select-div-{{ outer_loop.index }}" class="form-group lms-courses">
                <label for="course-code-{{ outer_loop.index }}">Course Code: </label>
                {% if enable %}
                    <select id="{{ lms }}-course-code" class="form-control" name="lms_course_code">
                {% else %}
                    <select id="{{ lms }}-course-code" class="form-control" name="lms_course_code" disabled>
                {% endif %}
                    <option value="" type="hidden" hidden="hidden" selected disabled>-- Select a Course --</option>
                    {% for course_id, course_name in courses[lms].items() %}
                        <option value="{{ course_id }}">{{ course_name }}</option>
                    {% endfor %}
                </select>
            </div>
        {% else %}
            <div id="{{ lms }}-course-select-div-{{ outer_loop.index }}" class="form-group lms-courses" hidden disabled>
                <label for="course-code-{{ outer_loop.index }}">Course Code: </label>
                {% if enable %}
                    <select id="{{ lms }}-course-code" class="form-control" name="lms_course_code">
                {% else %}
                    <select id="{{ lms }}-course-code" class="form-control" name="lms_course_code" disabled>
                {% endif %}
                    <option value="" type="hidden" hidden="hidden" selected disabled>-- Select a Course --</option>
                    {% for course_id, course_name in courses[lms].items() %}
                        <option value="{{ course_id }}">{{ course_name }}</option>
                    {% endfor %}
                </select>
            </div>
        {% endif %}
    {% endfor %}{# End select lms course generation #}
{% endmacro %}