.nav-link {
    width: auto;
    padding: .5rem;
}
.nav-link-tabs {
    margin-right: 5px;
}
.nav-item.show .nav-link, .nav-tabs .nav-link.active {
    background-color: var(--main_color, #6e2639);
    color: white;
}
.prevent-select {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.tab-pane {
    margin-top: 1rem;
}
/* Home Tab Grid Styles */


/* General Table Styles */
.info-container > table {
    padding: 0px;
    width: 100%;
}
.table-ctn {
    table-layout: auto;
    border: 1px solid darkgray;
    box-shadow: 1px 2px 3px 0 gray;
    border-collapse: collapse;
}
@media (max-width: 979px) {
    .table-ctn {
        table-layout: auto !important;
        padding: 0;
        border-collapse: collapse;
        border: 1px solid darkgray;
        box-shadow: 1px 3px 5px 0 gray;
    }
}
.table-large {
    width: 100%;
}
.table_title {
    float: left;
}
thead {
    color: gray;
}
.selected td {
    color: black;
    border-bottom: 4px solid var(--main_color, #6e2639);
}
.table-small {
    table-layout: auto !important;
    padding: 0;
    border-collapse: collapse;
    min-width: 750px;
}
.table-small td, .table-small tr, .table-small th,
.table-small tbody td, .table-small tfoot td,
.table-small tfoot th {
    width: auto !important;
}
.table-small td {
    white-space: nowrap;
}
.table-small tr {
    padding: 5px;
    white-space: nowrap;
}
.td.btn-fa:last-child {
    margin-right: 0;
}
.checkmark {
    display:inline-block;
    width: 20px;
    height:20px;
    -ms-transform: rotate(45deg); /* IE 9 */
    -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
    transform: rotate(45deg);
    margin-right: 5px;
}
.checkmark:before {
    content: "";
    position: absolute;
    width: 5px;
    height: 15px;
    left: 11px;
    top: 6px;
}

#vuln-templates-table .checkmark:before {
    background-color: var(--main_color, #6e2639);
}
#network-build-table .checkmark:before {
    background-color: whitesmoke;
}
.checkmark:after {
    content: "";
    position: absolute;
    width: 5px;
    height: 5px;
    left: 7px;
    top: 16px;
}
#vuln-templates-table .checkmark:after {
    background-color: var(--main_color, #6e2639);
}
#network-build-table .checkmark:after {
    background-color: whitesmoke;
}
.readOnly {
        border: 0;
        outline: 0;
        margin: 5px;
}
.readOnly:focus {
    outline: none !important;
}

/* Vuln Template Table Styles */
#vuln-templates-table {
    border-collapse: collapse;
}
#vuln-template-btn {
    width: 200px;
    float: right;
    margin: 10px 20px 40px 10px;
}
#vuln-template-btn-div {
    margin-bottom: 30px;
}

/* Network Build Table Styles */
#network-build-table {
    border-collapse: collapse;
    width: 250px;
    border: 1px solid darkgray;
    box-shadow: 1px 3px 5px 0 gray;
}
#network-build-table td {
    text-align: left;
    color: black;
    padding: 10px;
}
#network-build-table td:hover {
    background-color: #bbbcbd;
    color: black;
    cursor: pointer;
}
#network-build-table .selected td {
    color: whitesmoke;
    background-color: #6e2639;
    border-bottom: 1px solid gray;
}
.network-control-group {
    display: flex;
    flex-direction: column;
}
.network-template-div {
    margin: auto;
    align-content: center;
}
#network-build-btn {
    width: 100px;
    box-shadow: 1px 3px 5px 0 gray;
    align-items: center;
    margin: auto auto 15px auto;
    border: none;
}
#boot-container div {
    float: left;
}
.active-build {
    background-color: var(--main_color, #6e2639);
}
.active-build td {
    color: whitesmoke !important;
    cursor: default !important;
}
.active-build td:hover {
    background-color: var(--main_color, #6e2639) !important;
}
/* Server Table Styles */
.server-table-div {
    border: 1px solid darkgray;
    box-shadow: 1px 3px 5px 0 gray;
    min-width: 780px;
}
#server-header-row:hover {
    background: white !important;
}

/* Toggle Switch Styles */
.power-toggle-div {
    margin-left: 50px;
    align-items: center;
    padding: 0;
}
#power-toggle-label {
    margin-right: 10px;
}
#power-toggle-form  {
    padding-top: 12px;
}
.power-toggle {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 21px;
    padding-top: 10px;
}
.power-toggle input {
    opacity: 0;
    width: 0;
    height: 0;
}
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    box-shadow: 0 0 1px gray;
    -webkit-transition: .3s;
    transition: .3s;
}
.slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 2px;
    bottom: 1px;
    background-color: white;
    -webkit-transition: .3s;
    transition: .3s;
}
input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}
input:checked + .slider {
    background-color: #00ce81;
}
input:checked + .slider:before {
    -webkit-transform: translateX(36px);
    -ms-transform: translateX(36px);
    transform: translateX(36px);
}
.slider.round {
    border-radius: 34px;
}
.slider.round:before {
    border-radius: 50%;
}

/* Auto Shutoff Modal Styles */
.modal-center {
    text-align: center;
    margin-left: 35%;
    margin-top: -15%;
}
.modal-body {
    padding-top: 0;
}
.auto-shutoff-counter .count {
    color: #000;
    display: inline-block;
    vertical-align: top;
    font-size: 25px;
    font-weight: 700;
    line-height: 30px;
    padding: 0 2px;
    min-width: 35px;
    text-align: center;

}
.auto-shutoff-counter .plus {
    cursor: pointer;
    display: inline-block;
    vertical-align: top;
    color: white;
    width: 30px;
    height: 30px;
    font: 30px/1 Arial, sans-serif;
    text-align: center;
    border-radius: 12%;
}
.auto-shutoff-counter .minus {
    cursor: pointer;
    display: inline-block;
    vertical-align: top;
    color: white;
    width: 30px;
    height: 30px;
    font: 30px/1 Arial, sans-serif;
    text-align: center;
    border-radius: 12%;
    background-clip: padding-box;
}
#auto-shutoff-time {
    border: 0;
    width: 50%;
}
.auto-shutoff-btn {
    display: flex;
    max-width: 250px;
    margin: auto;
    align-items: center;
    border: none;
    box-shadow: 1px 2px 2px 0 gray;
}
.auto-shutoff-btn:hover {
    box-shadow: 0 1px 1px 0 gray;
}

/* Create Class Slideout modal */
.modal-dialog-slideout {
    min-height: 100%;
    margin: 0 0 0 auto;
    background: #fff;
}
@media (min-width: 400px) {
    .modal-sm {
        max-width: 400px;
    }
}
.modal-dialog-slideout.modal-sm {
    
}
.modal.fade .modal-dialog.modal-dialog-slideout {
    -webkit-transform: translate(100%,0)scale(1);
    transform: translate(100%,0)scale(1);
}
.modal.fade.show .modal-dialog.modal-dialog-slideout {
    -webkit-transform: translate(0,0);
    transform: translate(0,0);
    display: flex;
    align-items: stretch;
    -webkit-box-align: stretch;
    height: 100%;
}
.modal.fade.show .modal-dialog.modal-dialog-slideout .modal-body{
    overflow-y: auto;
    overflow-x: hidden;
}
.modal-dialog-slideout .modal-content{
    border: 0;
}
.modal-dialog-slideout .modal-header, .modal-dialog-slideout .modal-footer {
    height: 69px;
    display: block;
}
.modal-dialog-slideout .modal-header h5 {
    float:left;
}

/* Server Management Styles */
#settings-container.tab-pane {
    margin-top: 0 !important;
    padding: 0;
}
.col {
    padding-right: 0;
}
.server-manage-wrapper {
    width: 90%;
    align-content: center;
    margin: auto;
}
.server-toolbar-div {
    margin-top: 10px;
    width: 100%;
    border: 1px solid gray(50);
    /*box-shadow: 0 4px 3px -4px gray;
    background-color: whitesmoke;*/
    border-radius: 4px;
    text-align: center;
}
ul.server-toolbar {
    display: inline-block;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
li.server-control {
    margin: 5px 0 0 0;
    float: left;
}
li button {
    display: block;
    text-align: center;
    color: black;
    padding: 3px 10px;
    text-decoration: none;
    margin: 0 10px 0 0;
}
.server-control-btn {
    display: inline-block;
    height: 100%;
    border: none;
    background-color: white;
    /*background-color: whitesmoke;*/
}
.server-control-btn:hover {
    background-color: gray;
    box-shadow: 0 4px 3px -4px black;
    border-radius: 10px;
    color: white;
}
.server-control-btn:active {
    background-color: var(--main_color, #6e2639);
    box-shadow: 0 1px 1px 2px inset black;
    color: white;

}
.button-icon {
    width: 20px;
    height: auto;
    padding-right: 2px;
}
.server-control-btn:hover img, .server-control-btn:active img {
    filter: invert(100%);
}

/* Manage Servers Table */
table#manage-server-table {
    border-spacing: 0 10px;
    border-collapse: separate;
}
.machine-cell {
    background-color: whitesmoke;
    box-shadow: 0 4px 3px -4px gray;
    border: 1px solid gray;
    color: black;
}
tr.machine-cell {
    border-radius: 4px;
}
#manage-server-header {
    background-color: whitesmoke;
    box-shadow: 0 4px 3px -4px gray;
    border: 1px solid gray(50);
    border-radius: 4px;
    height: 50px;
    width: 100%;
    color: black;
}
