/* Arena Landing Styles */

/* ################################################ */
/* Background Image */
/* ################################################ */
html {
  background: url("/JohnnyArena/static/img/abandoned_warehouse.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* ################################################ */
/* Main Styles */
/* ################################################ */
h1, h2, h3, h4, h5, h6, header, title, footer, button {
  font-family: Lekton, Roboto, "Roboto Thin", "Arial Narrow", Arial;
  font-kerning: auto;
  letter-spacing: 3px;
  font-weight: bold;
}

p, textarea, input, label, ul, li {
  font-family: Lekton, Roboto, "Roboto Thin", "Arial Narrow", Arial;
  font-kerning: auto;
  letter-spacing: 2px;
  font-size: 18px;
}

div.arena-dark-container {
  height: 80%;
  width: 85%;
  min-height: 930px;
  min-width: 800px;
  margin: auto auto 50px auto;
  background: rgba(0, 0, 0, 0.4);
}

div.arena-banner-image {
  width: 80%;
  min-width: 770px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  padding-bottom: 15px;
}

img.arena-banner-image {
  display: block;
  width: 90%;
  min-width: 770px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid gray;
  border-radius: 2px;
  opacity: 80%;
}

.arena-main-content-container {
  height: 80%;
  width: 90%;
  margin: auto;
  min-height: 520px;
  min-width: 770px;
  padding-top: 15px;
  padding-bottom: 15px;
  background: #ffffff;
  border: 1px solid gray;
  border-radius: 2px;
  box-shadow: 1px 20px 20px 15px #000000;
}

div.arena-footer {
  height: 10%;
  width: 70%;
  margin: 0 auto;
  padding-top: 10px;
  padding-bottom: 10px;
}

p.arena-footer {
  font-family: Lekton, "Roboto Thin";
  font-size: 15px;
  color: whitesmoke;
  text-align: center;
}

/* ################################################ */
/* Arena Level 2 Styles */
/* ################################################ */

/* Cipher Form Styles */
.cipher_form {
  width: 80%;
  margin: auto;
  border: 1px solid black;
  border-radius: 2px;
  padding: 15px;
}

h1, h2#form_header {
  margin-left: 20px;
  text-underline: #4CAF50;
}
#cipher_input_area {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  width: 100%;
  min-height: 50px;
  resize: vertical;
  font-family: Lekton, "Roboto Thin";
  font-size: 18px;
  color: black;
  background-color: whitesmoke;
}

#cipher_input_area:focus   {
  border: 1px solid #4CAF50;
  box-shadow: 0 0 3px #444444;
}

#cipher_type {
  display: block;
  margin-top: 10px;

  border: 1px solid black;
  box-shadow: 0 2px 3px #444444;
  background-color: #3f5858;
  color: whitesmoke;
  font-family: Lekton, "Roboto Thin", Roboto;
  font-size: 20px;
  cursor: pointer;
}

#cipher_type:hover {
  border-bottom: 5px solid darkred;
  cursor: pointer;
}

input[id='key'] {
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
}

input[id='keyword']{
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
}

/* Decryption Tool Button Styles */
button[id='button_decrypt'], button[id='cipherInfoBtn'] {
  display: block;
  margin: 15px 0 15px 0;
  background-color: #3f5858;
  color: whitesmoke;
  border-radius: 2px;
  border: 1px solid black;
  box-shadow: 1px 2px 2px #444444;

  font-size: 18px;
  font-family: Lekton, "Roboto Thin", Roboto;
}
button[id='button_decrypt']:hover, button[id='cipherInfoBtn']:hover {
  background-color: #527272;
  cursor: pointer;
}
button[id='button_decrypt']:active, button[id='cipherInfoBtn']:active {
  background-color: #396d6d;
  box-shadow: 0 1px 0#444444;
  border: 1px solid black;
}
p#form_error {
  margin: 4px;
  color: orangered;
  font-size: 15px;
}

/* Collapsible Cipher List / Cipher Info Styles */
.cipher_list, .cipherInfoDiv {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  padding: 15px;
  /* border: 1px solid black;*/
}
.cipher-buttons, .cipherInfoBtn {
  background-color: #1f445e;
  color: whitesmoke;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: 1px solid black;
  border-radius: 2px;
  text-align: left;
  outline: none;
  font-size: 15px;
}
.active, .cipher-buttons:hover, .cipherInfoBtn:hover {
  background-color: #34709a;
}

.cipher-buttons:after,  .cipherInfoBtn:after {
  content: '\02795'; /* Unicode character for "plus" sign (+) */
  font-size: 15px;
  color: whitesmoke;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2796"; /* Unicode character for "minus" sign (-) */
}

.ciphers, .cipherInfoContent {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: whitesmoke;
}

/* Cipher Info Styles */
.cipherInfoContent, button[class=cipherInfoBtn] {
  margin-bottom: 20px;
}

img[id='colTranspositionImg'] {
  display: block;
  width: 40%;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid black;
  border-radius: 4px;
}
