.text-box{
    border-radius:25px;
    background-color:whitesmoke;
    height:auto;
    width:60%;
    box-shadow:2px 5px;
    border: 1px solid;
    margin: 0 auto;
}

.text-area{
    padding:1.5em 1.5em 1.5em 1.5em;
    height:auto;
}

.hoverable{
  display:inline-block;
  backface-visibility: hidden;
  vertical-align: middle;
  position:relative;
  box-shadow: 0 0 1px rgba(0,0,0,0);
  tranform: translateZ(0);
  transition-duration: .3s;
  transition-property:transform;
}

.hoverable:before{
  position:absolute;
  pointer-events: none;
  z-index:-1;
  content: '';
  top: 100%;
  left: 5%;
  height:10px;
  width:90%;
  opacity:0;
  background: -webkit-radial-gradient(ellipse at center, rgba(255, 255, 255, 0.35) 0%, rgba(255, 255, 255, 0) 80%);
  background: radial-gradient(ellipse at center, rgba(255, 255, 255, 0.35) 0%, rgba(255, 255, 255, 0) 80%);
  /* W3C */
  transition-duration: 0.3s;
  transition-property: transform, opacity;
}

.hoverable:hover, .hoverable:active, .hoverable:focus{
  transform: translateY(-5px);
}
.hoverable:hover:before, .hoverable:active:before, .hoverable:focus:before{
  opacity: 1;
  transform: translateY(-5px);
}

@keyframes bounce-animation {
  16.65% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }

  33.3% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
  }

  49.95% {
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
  }

  66.6% {
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px);
  }

  83.25% {
    -webkit-transform: translateY(1px);
    transform: translateY(1px);
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

.bounce {
    animation-name: bounce-animation;
    animation-duration: 2s;
}

@media (min-width: 768px) {
    .navbar{
        text-align: center !important;
        float: none;
        display: inline-block;
  }
}

body {
    background-image: url("/static/bg_abstract.jpg");
    font-weight: 600;
    text-align: center !important;
}

nav {
    background: none !important;
    text-transform: uppercase;
}
nav li {
    margin-left: 3em;
    margin-right: 3em;
}
nav li a {
    transition: .5s color ease-in-out;
}

