<!DOCTYPE html>
<html lang="en" class="home-background-image">
<head>
	<title>Phish Phactor</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" href="/static/imgs/icons/shuttle-launch.ico"/>

    <link rel="stylesheet" type="text/css" href="/static/vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/static/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/static/fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
    <link rel="stylesheet" type="text/css" href="/static/vendor/animate/animate.css">
	<link rel="stylesheet" type="text/css" href="/static/vendor/css-hamburgers/hamburgers.min.css">
    <link rel="stylesheet" type="text/css" href="/static/vendor/animsition/css/animsition.min.css">
    <link rel="stylesheet" type="text/css" href="/static/vendor/select2/select2.min.css">
	<link rel="stylesheet" type="text/css" href="/static/vendor/daterangepicker/daterangepicker.css">
    <link rel="stylesheet" type="text/css" href="/static/stylesheets/util.css">
	<link rel="stylesheet" type="text/css" href="/static/stylesheets/main.css">

</head>
<body class="home-background">
     <div class="home-body-title">
        <header class="home-body-header outset">
            <h1>PHISH PHACTOR</h1>
        </header>
    </div>
    <div id="nav-bar" class="hook-body-nav">
            <ul class="nav">
                <li class="nav"><a class="li.nav.active" href="/home">Home</a></li>
                <!--<li class="nav"><a class="li.nav.active" href="/about">About</a></li> -->
                <li class="nav"><a class="li.nav.active" href="/logout">Logout</a></li>
            </ul>
    </div>
    <div class="home-body-div">
        <h1>Social Engineering</h1>
        <p class="home-body-div-txt" style="text-align: left">
            What is Social Engineering (SE)? SE is what we call any attempt a person will use to manipulate a person into
            revealing private information. Because of our inherent desire to trust each person we come in contact with,
            we often find that humans are the weakest link of any network. Knowing this, social engineers will manipulate this
            trust to their benefit and effectively steal credential. SE can happen in three basic forms, phishing (over the web),
            vishing (over the phone), and in person. Most common method is phishing which generally comes in the form of
            what we call spam mail.<br> Phishing attacks are usually pretty easy to spot as they are sent out in mass and can
            be full of errors or be for services or products that you don't even own. The ones that are especially hard to
            catch are the attacks that are personalized specifically for you. In that case, the attacker will have spent
            some time to research your work, hobbies, personal interests, and services. All of this can be easily found with
            help of Google and social medias. Luckily there are still ways to prevent falling victim to such attacks.
        </p>
        <br><h4>Safety Tips</h4>
            <ul class="home-body-div-txt home-body-ul"  style="text-align: left">
                <li class="home-body-ul">
                    Be cautious of what you post online. One of the first places any hacker will check when personalizing a
                    phishing attack is social media. The less information strangers can learn from your profiles,
                    the better.
                </li>
                <li class="home-body-ul">
                    Be suspicious of anyone requesting personal information. For example,
                    if someone calls claiming to be from your credit card company, opt to call back and then call
                    the number found on the official website.
                </li>
                <li class="home-body-ul">If an email or message seems sketchy, it probably is. Don't click any links from it.
                    Businesses like Google, PayPal, Amazon, or even banks will never send you emails asking you log in to
                    check suspicious activity or confirm your identity. It can be good practice to call the person or company directly
                    and confirm that they are the ones who sent it.</li>
                <li class="home-body-ul">
                    What is the most effective way to avoid SE scams? Take the next flight to space. But then again,
                    can you trust NASA? Hmm...
                </li>
            </ul>
        <br><h4 style="text-align: left">Spotting An Attack</h4>
        <div class="container-fluid">
            <ul class="home-body-div-txt home-body-ul">
                <li class="home-body-ul">
                    Generally, attacks will convey a sense of urgency or time constraint to the victim.
                </li>
                <li class="home-body-ul">
                    Poor grammar or misspellings can be a good sign the message is fake.
                </li>
                <li class="home-body-ul">In emails, check the email header. While these can easily be spoofed to look valid, most common
                    attacks will have some obfuscated address.
                </li>
                <li class="home-body-ul">Hover links to see where they will actually take you. Just because it says Facebook.com doesn't mean
                    that's where you'll end up. Hovering the link will most often help catch that.
                </li>
            </ul>
            <br><h4 style="text-align: left">A Simple Example</h4>
            <p class="home-body-div-txt" style="text-align: left">
            Note the general sense of urgency, the header points to site other than chase.com, and also they really want
            to make sure you know to enter your information in <em>correctly</em>. For your "safety", of course.
            <em>*wink wink*</em>
            </p><br>
            <img src="/static/imgs/chase_phish.png" class="home-example-img" title="A Simple Example">
        </div>

        <!-- <span>
            <iframe src="https://giphy.com/embed/S9uwNtm2CBIPbCknNX" width="474" height="480" frameBorder="0"
                    class="giphy-embed" allowFullScreen></iframe>
             <p><a href="https://giphy.com/gifs/S9uwNtm2CBIPbCknNX">via GIPHY</a></p>
         </span> -->
    </div>

     <!-- Footer -->
     <footer>
         <div class="container">
             Copyright &copy; UA Little Rock Cyber Gym 2019
         </div>
     </footer>

     <!-- The Modal -->
    <input class="checkbox-cb" id="checkbox-cb" type="checkbox" />
    <div class="cookie-bar">
      <span class="message">This website uses cookies to give you an incredible experience. Do you accept cookie usage?
          <br><a href="/LOGIN" style="font-size: 20px; color:white; text-decoration: underline ">Yes! Take My Cookies!</a>
      </span>
      <span class="mobile">
          This website uses cookies, <a href="/LOGIN">Accept?</a>
      </span>
      <label for="checkbox-cb" class="close-cb"><a></a>x</label>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="/static/vendor/jquery/jquery-3.2.1.min.js"></script>
    <script src="/static/vendor/animsition/js/animsition.min.js"></script>
    <script src="/static/vendor/bootstrap/js/popper.js"></script>
	<script src="/static/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="/static/vendor/select2/select2.min.js"></script>
    <script src="/static/vendor/daterangepicker/moment.min.js"></script>
	<script src="/static/vendor/daterangepicker/daterangepicker.js"></script>
    <script src="/static/vendor/countdowntime/countdowntime.js"></script>
    <script src="/static/js/main.js"></script>
</body>
</html>
