/*
    ======================= JohnnyCipher CSS =========================
    Extends Main-Styles.css; Used by JohnnyCipher application
    ---------------------------------------------------------------------
*/
.inner-content-wrapper#cipherMain {
    text-align: center;
}
.inner-content-wrapper hr {
    width: 80%;
}
.cipher-input {
    width: 60%;
    margin-top: 5px;
}
label.cipher-label {
    color: whitesmoke;
    font-size: 20px;
}
input#key {
    max-width: 40px;
}
.caesar-form{
    text-align: center;
}
.caesar-form-btn {
    border: 2px solid transparent;
    background: #3498DB;
    color: #ffffff;
    font-size: 16px;
    line-height: 25px;
    padding: 10px 0;
    text-decoration: none;
    text-shadow: none;
    border-radius: 3px;
    box-shadow: none;
    transition: 0.25s;
    display: block;
    width: 250px;
    margin: 0 auto;
}
