<!DOCTYPE html>
<html>
<title>Classified Landing Page</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Karma">
<style>
body,h1,h2,h3,h4,h5,h6 {font-family: "Karma", sans-serif}
.w3-bar-block .w3-bar-item {padding:20px}
</style>
<body>

<!-- Sidebar (hidden by default) -->
<nav class="w3-sidebar w3-bar-block w3-card w3-top w3-xlarge w3-animate-left" style="display:none;z-index:2;width:40%;min-width:300px" id="mySidebar">
  <a href="javascript:void(0)" onclick="w3_close()"
  class="w3-bar-item w3-button">Close Menu</a>
  <a href="#workouts" onclick="w3_close()" class="w3-bar-item w3-button">Workouts</a>
  <a href="#about" onclick="w3_close()" class="w3-bar-item w3-button">XSS</a>
</nav>

<!-- Top menu -->
<div class="w3-top">
  <div class="w3-white w3-xlarge" style="max-width:1200px;margin:auto">
    <div class="w3-button w3-padding-16 w3-left" onclick="w3_open()">☰</div>
    <div class="w3-center w3-padding-16">UA Little Rock Classified Workouts</div>
  </div>
</div>

<!-- !PAGE CONTENT! -->
<div class="w3-main w3-content w3-padding" style="max-width:1200px;margin-top:100px">

  <!-- First Photo Grid-->
  <div class="w3-row-padding w3-padding-16 w3-center" id="workouts">
    <div class="w3-quarter">
      <img src="/static/css/XSSCyberGym.png" alt="Cross-Site Scripting" style="width:100%">
      <h3>Cross-Site Scripting</h3>
      <p>Cross-Site Scripting Workout...Learn how to </p>
    </div>
    <div class="w3-quarter">
      <img src="/static/css/WIPCyberGym.png" alt="WIP" style="width:100%">
      <h3>WIP</h3>
      <p></p>
    </div>
    <div class="w3-quarter">
      <img src="/static/css/WIPCyberGym.png" alt="WIP" style="width:100%">
      <h3>WIP</h3>
      <p></p>
    </div>
    <div class="w3-quarter">
      <img src="/static/css/WIPCyberGym.png" alt="WIP" style="width:100%">
      <h3>WIP</h3>
      <p></p>
    </div>
  </div>

  <!-- Second Photo Grid-->
  <div class="w3-row-padding w3-padding-16 w3-center">
    <div class="w3-quarter">
      <img src="/static/css/WIPCyberGym.png" alt="WIP" style="width:100%">
      <h3>WIP</h3>
      <p></p>
    </div>
    <div class="w3-quarter">
      <img src="/static/css/WIPCyberGym.png" alt="WIP" style="width:100%">
      <h3>WIP</h3>
      <p></p>
    </div>
    <div class="w3-quarter">
      <img src="/static/css/WIPCyberGym.png" alt="WIP" style="width:100%">
      <h3>WIP</h3>
      <p></p>
    </div>
    <div class="w3-quarter">
      <img src="/static/css/WIPCyberGym.png" alt="WIP" style="width:100%">
      <h3>WIP</h3>
      <p></p>
    </div>
  </div>

  <!-- Pagination -->
  <div class="w3-center w3-padding-32">
    <div class="w3-bar">
      <a href="#" class="w3-bar-item w3-button w3-hover-black">«</a>
      <a href="#" class="w3-bar-item w3-black w3-button">1</a>
      <a href="#" class="w3-bar-item w3-button w3-hover-black">2</a>
      <a href="#" class="w3-bar-item w3-button w3-hover-black">3</a>
      <a href="#" class="w3-bar-item w3-button w3-hover-black">4</a>
      <a href="#" class="w3-bar-item w3-button w3-hover-black">»</a>
    </div>
  </div>
</div>

<script>
function w3_open() {
  document.getElementById("mySidebar").style.display = "block";
}

function w3_close() {
  document.getElementById("mySidebar").style.display = "none";
}
</script>

</body>
</html>
