<!DOCTYPE html>
<html>
<title>Stored XSS</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
.w3-sidebar a {font-family: "Roboto", sans-serif}
body,h1,h2,h3,h4,h5,h6,.w3-wide {font-family: "Montserrat", sans-serif;}
</style>
<body class="w3-content" style="max-width:100%">

<!-- Sidebar/menu -->
<nav class="w3-sidebar w3-bar-block w3-white w3-collapse w3-top" style="z-index:-1;width:10%;" id="mySidebar">
    <div class="w3-padding-64 w3-large w3-text-grey" style="font-weight:bold">
      <a href="{{url_for('xss_d')}}" class="w3-bar-item w3-button">Domain Object Model Cross-Site Scripting </a>
      <a href="{{url_for('xss_r')}}" class="w3-bar-item w3-button">Reflected Cross-Site Scripting</a>
      <a href="{{url_for('xss_s')}}" class="w3-bar-item w3-button">Stored Cross-Site Scripting </a>
  </div>
</nav>
<!-- !PAGE CONTENT! -->
<div class="w3-top">
  <div class="w3-black w3-xlarge" style="max-width:100%;margin:auto;">
    <div class="w3-center w3-padding-16">UA Little Rock Classified Workouts</div>
  </div>
</div>
<div class="w3-main" style="margin-left:15%;margin-top:5%">
    <!-- Top header -->
  <header class="w3-container w3-xlarge">
    <p class="w3-left">Stored Cross-Site Scripting</p>
  </header>
    <form method="post" name="guestform">
			<table width="550" border="0" cellpadding="2" cellspacing="1">
				<tr>
					<td width="100">Name *</td>
					<td><input name="txtName" type="text" size="30" maxlength="10"></td>
				</tr>
				<tr>
					<td width="100">Message *</td>
					<td><textarea name="mtxMessage" cols="50" rows="3" maxlength="50"></textarea></td>
				</tr>
				<tr>
					<td width="100">&nbsp;</td>
					<td>
						<input name="btnSign" type="submit" value="Sign Guestbook" onclick="return validateGuestbookForm(this.form);" />
						<input name="btnClear" type="submit" value="Clear Guestbook" onClick="return confirmClearGuestbook();" />
					</td>
				</tr>
			</table>
    </form>
</div>

<script>
// Open and close sidebar
function w3_open() {
  document.getElementById("mySidebar").style.display = "block";
  document.getElementById("myOverlay").style.display = "block";
}

function w3_close() {
  document.getElementById("mySidebar").style.display = "none";
  document.getElementById("myOverlay").style.display = "none";
}
</script>

</body>
</html>
