{% extends "fa_base.html" %}
{% block title%} Workspace {{ workspace_name }} {% endblock %}
{% import 'cln_logo_macro.html' as logo %}
{% block styles %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('student_app.static', filename='css/fixed-arena-landing-styles.css') }}">
{% endblock styles %}
{% block navbar %}
    <div class="navbar-nav mr-auto">
        <ul class="nav nav-pills top-navbar-pill">
                <li class="nav-item">
                    <a href="{{ url_for('home') }}" class="nav-link text-center" style="min-width: 100px;">Home</a>
                </li>
        </ul>
    </div>
    <div class="navbar-nav ml-auto">
        <button id="sign-out" class="nav-item btn top-navbar-btn">Sign Out</button>
    </div>
{% endblock %}
{% block content%}
    <script type="text/javascript" src='{{ url_for("static", filename="js/login.js") }}'></script>
    <script>
          var teacher_email = null;
          var auth_config = {
            apiKey: '{{auth_config["api_key"]}}',
            authDomain: '{{auth_config["auth_domain"]}}',
            projectId: '{{auth_config["project_id"]}}'
          };
          initApp(auth_config).then(value => {
            enable_signout();
            if(value['admin'] === true){
              var admin_button = document.createElement("a");
              admin_button.href = "/admin/home";
              admin_button.className = "nav-link";
              admin_button.innerHTML = "Admin Page";
            }
            if(value['student'] === true){
              var student_home_link = document.createElement("a");
              student_home_link = '/student/home';
              student_home_link.className = "nav-link";
              student_home_link.innerHTML = "Your Student Page";
            }
          });
    </script>
    <!-- Development guide:

    - The state checking logic can be cleaned up to remove the functions and buttons that we don't need for
    fixed-arena workouts. Considering the size of the branch, it might be easier to rewrite the update_state
    function from scratch.

    - We'll need to add a space to display a network diagram that Ryan is currently working on. This diagram can
    either be passed in during the initial page load or via a GET request after the page is loaded. The latter
    might allow for more dynamic diagram creation in the future

    - For any resource that is needed after page load, use the API as much as possible. For the workspace landing page,
    most of the traffic can be directed through the fixed_arena_workspace api.

    -->
    <!--suppress ALL -->

    <script>
        //Used if the workout involves VMs
        //Regularly check the state, and update the current state indicator
        //After a control button is clicked, disable the buttons until the VMs are able to respond to GCP API requests
        function check_workspace_state(){
            var resp = $.ajax({
                type:"GET",
                url: "/api/fixed-arena/class/{{ fixed_arena_workout.parent_id }}",
                traditional: "true",
            });
            if (resp.status == '200') {
                state = resp['workspace_settiings'][0]['state'];
            }
            else {
                state = 'NOT BUILT'
            }
            return state;
        }

        function update_state(){
            var state_display = document.getElementById("workspace_state_display");
            var workspace_link = document.getElementById("workspace_link");
            var build_workspace = document.getElementById("build_workspace");
            check_workspace_state().then( new_state => {
                if(new_state == "RUNNING"){
                    workspace_link.style.visibility = "visible";
                    state_display.style.color = "green";
                    state_display.innerHTML = "RUNNING";
                    $("#start-vm").attr("disabled", "disabled");
                    $("#stop-vm").removeAttr("disabled");
                    $("#reset-vm").removeAttr("disabled");
                    $(".nuke_btn").removeAttr("disabled");
                    $(".loader").remove();
                } else if(new_state == "READY"){
                    workspace_link.style.visibility = "hidden";

                    state_display.style.color = "red";
                    state_display.innerHTML = "STOPPED";
                    $("#start-vm").removeAttr("disabled");
                    $("#stop-vm").attr("disabled", "disabled");
                    $("#reset-vm").attr("disabled", "disabled");
                    $('.nuke_btn').removeAttr('disabled');
                    $(".loader").remove();                    }
                else if(new_state == "START"){
                    workspace_link.style.visibility = "hidden";
                    build_workspace.style.visibility = "visible";

                    state_display.style.color = "red";
                    state_display.innerHTML = "NOT BUILT";
                    $("#start-vm").attr("disabled", "disabled");
                    $("#stop-vm").attr("disabled", "disabled");
                    $("#reset-vm").attr("disabled", "disabled");
                    $('.nuke_btn').attr("disabled", "disabled");
                    $(".loader").remove();
                } else if(new_state == "DELETED"){
                    workspace_link.style.visibility = "hidden";

                    state_display.style.color = "black";
                    state_display.innerHTML = "NO LONGER AVAILABLE";
                    $("#start-vm").attr("disabled", "disabled");
                    $("#stop-vm").attr("disabled", "disabled");
                    $("#reset-vm").attr("disabled", "disabled");
                    $('.nuke_btn').attr("disabled", "disabled");
                    $(".loader").remove();
                } else {
                    workspace_link.style.visibility = "hidden";

                    state_display.style.color = "orange";
                    state_display.innerHTML = "WORKING";
                    $("#start-vm").attr("disabled", "disabled");
                    $("#stop-vm").attr("disabled", "disabled");
                    $("#reset-vm").attr("disabled", "disabled");
                    $('.nuke_btn').attr("disabled", "disabled");
                    $(".loader").remove();
                }
            });
        }
        $(document).ready(function(){
            update_state();
            var state_checker = setInterval(update_state, 30000);

            $(".control_form").submit(function(event){
                event.preventDefault();
                clearInterval(state_checker);
                check_workspace_state().then(new_state => {

                    var currentState = new_state;
                    $('#start-vm').attr('disabled','disabled');
                    $('#stop-vm').attr('disabled','disabled');
                    $('#reset-vm').attr('disabled','disabled');
                    $('.nuke_btn').attr('disabled', 'disabled');
                    $("#loading-msg").html('Please wait while the process completes' +
                        '</br><div class="loader"></div>');
                    var route = "/" + event.target.id;
                    var workspace_id = document.getElementById("workspace_id").value;
                    var runtime = document.getElementById('time').value;

                    $.ajax({
                        type: "POST",
                        url: route,
                        data: JSON.stringify({
                                "workspace_id": workspace_id,
                                "time": runtime,
                            }),
                        contentType: "application/json;charset=utf-8",
                        success: function(data){
                            var temp_state = currentState.toString();
                            var state_update = setInterval(function(){
                                check_workout_state().then(test_state => {
                                    if(test_state !== currentState){
                                        clearInterval(state_update);
                                        update_state();
                                        state_checker = setInterval(update_state, 30000);
                                    }
                                });
                            }, 5000);
                        }
                    })
                })
            });
        });
        $(document).ready(function (){
            document.querySelector('#start-vm-form').addEventListener('submit', (e) => {
                e.preventDefault();
                const data = Object.fromEntries(new FormData(e.target));
                console.log(data);
                send_action(data, workspace_id='{{ fixed_arena_workout.id }}');
            });
            document.querySelector('#stop-vm-form').addEventListener('submit', (e) => {
                e.preventDefault();
                const data = Object.fromEntries(new FormData(e.target));
                console.log(data);
                send_action(data, workspace_id='{{ fixed_arena_workout.id }}');
            });
            document.querySelector('#reset-vm-form').addEventListener('submit', (e) => {
                e.preventDefault();
                const data = Object.fromEntries(new FormData(e.target));
                console.log(data);
                send_action(data, workspace_id='{{ fixed_arena_workout.id }}');
            });
        });
    </script>
 <div id='content-row' class='row row-offcanvas row-offcanvas-left vh-100'>
        <!--TODO: Create toggle sidebar button in top navbar -->
        <!--<div id="sidebar-div" class="col-sm-3 col-md-2 sticky-top nav-sidebar">-->
        <div id="sidebar-div" class="col-md-3 col-lg-2 sidebar-offcanvas h-100 overflow-auto nav-sidebar" role="navigation">
            <ul id="sidebar-nav" class="nav nav-pills flex-column sticky-top pl-0 mt-3" role="tablist">
                <li>{{ logo.logo_div() }}</li>
                <li><h2 style="color:whitesmoke;">Workspace Control</h2></li>
                <li><p><span style="color:whitesmoke;">Workspace Status:</span>
                        {% if fixed_arena_class.state == 4 %}
                            <span id="workspace_state_display" style="color:limegreen;">RUNNING</span>
                        {% else %}
                            <span id='workspace_state_display' style="color:lightcoral;">STOPPED</span>
                        {% endif %}
                    </p>
                </li>
                <li><div id="loading-msg"></div></li>
                <li><a style="width:100%; background-color: #1c2538; color: whitesmoke" class="btn" id="workspace_link" href="http://{{ fixed_arena_workout.parent_id }}-display{{ dns_suffix }}:8080/guacamole/#/?username={{ fixed_arena_workout.proxy_connections[0].username }}&password={{fixed_arena_workout.proxy_connections[0].password}}" target="_blank">ENTER WORKSPACE!</a></li>
                <li><p style="color: whitesmoke;">Expiration date: {{ expiration_iso8601 }}</p></li>
            </ul>
        </div> <!--End sidebar-menu div
        col-md-10 col-sm-10 col-10
        -->
        <div id="content-div" class="col main mt-3 h-100 pr-3 overflow-auto">
            <div class='col-sm-9' style="padding-top:1em; margin-top:2%;">
                <div id='workspace_info' class='container' style="margin:0;">
                    <h2>Welcome to your {{ fixed_arena_class.summary.name }} workspace!</h2>
                    <p>{{ fixed_arena_class.summary.description }}</p>
                    {% if is_expired %}
                        <p><b>*This workspace has expired. If you need to continue working please contact your instructor.</b></p>
                    {% endif %}
                    {% if fixed_arena_class.summary.student_instructions_url %}
                        <a href="{{ fixed_arena_class.summary.student_instructions_url }}" target="_blank" rel="noopener noreferrer" class='landing_dropdown'>Workspace Instructions</a><br>
                    {% endif %}
                        <br>
                        <h2>Workspace Servers</h2>
                        <table id='workspace_server_table' style="position: relative; border-collapse: separate; border-spacing: 1em 0;">
                            <tr>
                                <th>Server Name</th>
                                <th>IP</th>
                                <th>Server State</th>
                            </tr>
                            <tr>
                                <td>{{servername}}</td>
                                <td>{{serverip.internal_ip }}</td>
                                <td>{{fixed_arena_class.state}}</td>
                            </tr>
                        </table>
                        <br>
                </div>
            </div>
        </div> <!--Main Container-->
</div>
{% endblock %}

