{% extends 'v2-base.html' %}
{% block title %}Workspace {{ workspace.name }}{% endblock %}
{% import 'logo_macro.html' as logo %}
{% import 'contact_us.html' as forms %}
{% block styles %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('student_app.static', filename='css/fixed-arena.css') }}">
{% endblock %}
{% block navbar %}
    <div class="navbar-nav mr-auto">
        <ul class="nav nav-pills top-navbar-pill">
            <li class="nav-item">
                <a href="{{ url_for('home') }}" class="nav-link text-center">Cyber Arena</a>
            </li>
            <li class="nav-item">
                <a href="{{ url_for("fixed_arena.home") }}" class="nav-link text-center">STOC</a>
            </li>
            {% if 'admins' in auth_list %}
                <li class="nav-item">
                    <a href='{{ url_for("admin.home") }}' class="nav-link text-center">Admin Home</a>
                </li>
            {% endif %}
        </ul>
    </div>
    <div class="navbar-nav navbar-right">
        <ul class="nav nav-pills top-navbar-pill">
            <li class="nav-item m-l-r-3">
                <a id="contact-us" class="nav-item btn top-navbar-btn" href='#' data-toggle="modal"
                   data-target="#modalContactUs"><i class="fa fa-envelope-o icon-light"></i>Contact Us</a>
            </li>
            <li class="nav-item disabled">
                <p id="banner" class="nav-item btn top-navbar-btn disabled no-select"></p>
            </li>
            {% if workspace.registration_required %}
                <li class="nav-item">
                    <a id="sign-out" class="nav-item btn top-navbar-btn"><i class="fa fa-sign-out"></i>Sign Out</a>
                </li>
            {% elif auth_config and not workspace.registration_required %}
                <li class="nav-item">
                    <a id="sign-in" class="nav-item btn top-navbar-btn"><i class="fa fa-sign-out"></i>Sign In</a>
                </li>
            {% endif %}
        </ul>
    </div>
{% endblock %}
{% block content %}
    <script type="text/javascript" src='{{ url_for("static", filename="js/login.js") }}'></script>
    <script type="text/javascript" src='{{ url_for("static", filename="js/main_app.js") }}'></script>
    <script type="text/javascript" src='{{ url_for(".static", filename="js/student_app.js") }}'></script>
    <script type="text/javascript" src='{{ url_for(".static", filename="js/workspace.js") }}'></script>
    <script>
          var teacher_email = null;
          var auth_config = {
              apiKey: '{{ auth_config["api_key"] }}',
              authDomain: '{{ auth_config["auth_domain"] }}',
              projectId: '{{ auth_config["project_id"] }}'
          };
          initApp(auth_config).then(value => {
              enable_signout();
               // Set welcome banner
              const welcome_nav = document.getElementById('banner');
              welcome_nav.textContent = value['display_name'];
          });
           $(document).ready(function() {
               // Call functions that need to be run during initial page load here
               let tsToDate = new TimestampToDate();
               tsToDate.convert_timestamps();
               collapseDiv();
                {% if workspace.expired == False %}
                    {% if workspace.state != 72 %}
                        new WorkspaceControl('{{ fixed_arena_class["id"] }}', 'workoutStateObj', '{{ workspace.api.fixed_arena_class }}').toggle({{ workspace.state }});
                    {% endif %}
               {% endif %}
           });
           {% if workspace.expired == False %}
               {% if workspace.state != 72 %}
                   let control = new WorkspaceControl('{{ fixed_arena_class["id"] }}', 'workoutStateObj', '{{ workspace.api.fixed_arena_class }}');
                   {% if workspace.state != 62 %}
                       control.poll();
                   {% endif %}
               {% endif %}
          {% endif %}
    </script>
    <div id="content-row" class="row row-offcanvas row-offcanvas-left vh-100">
        <div id="sidebar-div" class="position-fixed col-md-3 col-lg-2 order-0 sidebar-offcanvas h-100 overflow-auto nav-sidebar" role="navigation" style="top: 50px;">
            <ul id="sidebar-nav" class="nav nav-pills flex-column sticky-top pl-0 mt-3" role="tablist">
                <li>{{ logo.cln_logo_div() }}</li>
                <li id="control-ctn" class="control-container">
                    <ul class="flex-column control-container-list">
                        <li class="nav-item disabled control-container-list">
                            {% if workspace.expired == False %}
                                <!-- If the workspace isn't expired, show the expiration date. If the workspace has a start-time and
                                run duration set, display a countdown timer until shutoff -->
                                {% if workspace.state != 72 %}
                                    <h5><i id="workoutState" class="fa fa-circle buildState running fa-pr-5"></i><span id="workoutStateObj" style="color: white;"></span></h5>
                                    <p style="color: white;">Expires: <span class="timestampField">{{ workspace.expires }}</span> </p>
                                {% endif %}
                            {% else %}
                                <div id="room-timer-div" class="nav-link disabled" style="pointer-events: none">
                                    <h5 class="text-center">Workout Expired</h5>
                                </div>
                            {% endif %}
                        </li>
                    </ul><!-- End #control-ctn ul.control-container-list -->
                </li> <!-- End workspace control container -->
                <li class="nav-item" role="presentation">
                    <button class="nav-link active" id="home-tab" data-toggle="pill"
                            data-target="#home-container" type="button" role="tab"
                            aria-controls="home-container" aria-selected="true"><i class="fa fa-book fa-lg fa-pr-5"></i>Workout</button>
                </li>
            </ul><!-- End #sidebar-nav -->
        </div><!-- End #sidebar-div -->
         <main class="col offset-2 main pt-3 mt-3 h-100 pr-3"  style="overflow: auto;">
             <div id="content-div" class="overflow-auto">
                <div id="tab-container" class="tab-content">
                    <div class="tab-pane fade active show" id="home-container" role="tabpanel" aria-labelledby="home-tab">
                        <div class="container">
                            <div id="workspace-summary-div" class="info-container">
                                <div id="class-summary">
                                    <h2 class="text-center">{{ fixed_arena_class.summary.name }}</h2>
                                    <p>{{ fixed_arena_class.summary.description }}</p>
                                    {% if fixed_arena_class.summary.student_instructions_url %}
                                        <div style="margin: 2vh 0 2vh 0;">
                                                <a class='btn-fa' href="{{ fixed_arena_class.summary.student_instructions_url }}"
                                                    target="_blank" rel="noopener noreferrer">Workout Instructions</a>
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div><!-- End container.workout-summary -->
                        <div class="container">
                            <div class="row">
                                <div class="row">
                                    <div class="info-container" style="min-width: 480px;">
                                        <table class="table text-nowrap">
                                            <thead>
                                                <tr>
                                                    <th scope="col" class="text-center">Connection</th>
                                                    <th scope="col" class="text-center">Server Name</th>
                                                    <th scope="col" class="text-center">DNS</th>
                                                    <th scope="col" class="text-center">IP</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for server in workspace['servers'] %}
                                                    <tr>
                                                        {% if server.url %}
                                                            {% if workspace.expired == False %}
                                                                {% if workspace.state == 50 %}
                                                                    <td><a href="{{ server.url }}" class="btn-fa connection-link" target="_blank">Connect to Server</a></td>
                                                                {% else %}
                                                                    <td><a href="#" class="btn-fa connection-link disabled" target="_blank">Connect to Server</a></td>
                                                                {% endif %}
                                                            {% endif %}
                                                        {% else %}
                                                            <td>No Public Interface</td>
                                                        {% endif %}
                                                        <td>{{ server.name }}</td>
                                                        {% if server.nics[0].host_dns %}
                                                            <td>{{ server.nics[0].host_dns }}</td>
                                                        {% else %}
                                                            <td>None</td>
                                                        {% endif %}
                                                        <td>{{ server.nics[0].internal_ip }}</td>
                                                    </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table><!-- End server table -->
                                    </div><!-- End server table info-container div -->
                                </div>
                            </div>
                        </div><!-- End container.servers -->
                    </div><!-- End #home-container.tab-pane -->
                </div><!-- End #tab-container.tab-content -->
             </div><!-- End #content-div.overflow-auto -->
             {{ forms.contact_us() }}
         </main><!-- End main -->
    </div><!-- End #content-row -->
{% endblock %}