{% extends "v2-base.html" %}
{% import 'logo_macro.html' as logo %}
{% import 'contact_us.html' as forms %}
{% block title %}{{ workout.summary.name }} Workout{% endblock %}
{% block nav_title %}{{ workout.summary.name }} Workout{% endblock %}
{% block styles %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('student_app.static', filename='css/student_app.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('student_app.static', filename='css/collapsible-div.css') }}">
{% endblock styles %}
{% block navbar %}
    <div class="navbar-nav mr-auto">
        <ul class="nav nav-pills top-navbar-pill">
            <li class="nav-item">
                <a href="{{ url_for('home') }}" class="nav-link text-center">Cyber Arena</a>
            </li>
            <li class="nav-item">
                <a href="{{ url_for("fixed_arena.home") }}" class="nav-link text-center">STOC</a>
            </li>
            {% if 'admins' in auth_list %}
                <li class="nav-item">
                    <a href='{{ url_for("admin.home") }}' class="nav-link text-center">Admin Home</a>
                </li>
            {% endif %}
        </ul>
    </div>
     <div class="navbar-nav navbar-right">
        <ul class="nav nav-pills top-navbar-pill">
            <li class="nav-item">
                <a id="contact-us" class="nav-item btn top-navbar-btn" href="#" data-toggle="modal"
                   data-target="#modalContactUs"><i class="fa fa-envelope-o icon-light"></i>Contact Us</a>
            </li>
            <li class="nav-item disabled">
                <p id="banner" class="nav-item btn top-navbar-btn disabled no-select"></p>
            </li>
            {% if workout.registration_required %}
                <li class="nav-item">
                    <a id="sign-out" class="nav-item btn top-navbar-btn"><i class="fa fa-sign-out"></i>Sign Out</a>
                </li>
            {% elif auth_config and not workout.registration_required %}
                <li class="nav-item">
                    <a id="sign-in" class="nav-item btn top-navbar-btn"><i class="fa fa-sign-out"></i>Sign In</a>
                </li>
            {% endif %}
        </ul>
    </div>
{% endblock %}
{% block content %}
    <script type="text/javascript" src='{{ url_for("static", filename="js/login.js") }}'></script>
    <script type="text/javascript" src='{{ url_for("static", filename="js/main_app.js") }}'></script>
    <script type="text/javascript" src='{{ url_for(".static", filename="js/student_app.js") }}'></script>
    <script type="text/javascript" src='{{ url_for(".static", filename="js/countdown_timer.js") }}'></script>
    <script type="text/javascript" src='{{ url_for(".static", filename="js/control.js") }}'></script>
    <script>
          var teacher_email = null;
          var auth_config = {
              apiKey: '{{ auth_config["api_key"] }}',
              authDomain: '{{ auth_config["auth_domain"] }}',
              projectId: '{{ auth_config["project_id"] }}'
          };
          initApp(auth_config).then(value => {
              enable_signout();
               // Set welcome banner
              const welcome_nav = document.getElementById('banner');
              welcome_nav.textContent = value['display_name'];
          });
           $(document).ready(function() {
               // Call functions that need to be run during initial page load here
               let tsToDate = new TimestampToDate();
               tsToDate.convert_timestamps();

               // Start timer
               {% if workout.remaining_time %}
                   {% if workout.remaining_time > 0 %}
                       let countdownTimer = new Timer("{{ workout['id'] }}", "{{ workout.build_type }}");
                       let times = {
                           'build_type': '{{ workout.build_type }}',
                           'remaining_time': {{ workout.remaining_time }},
                           'end_time': {{ workout.shutoff_timestamp }},
                           'expired': {{ workout.expired | lower }},
                       }
                       countdownTimer.start(times);
                   {% endif %}
               {% endif %}
               collapseDiv();
                {% if workout.expired == False %}
                    {% if workout.state != 72 %}
                        new Control('{{ workout["id"] }}', 'workoutStateObj', '{{ workout.api.workout }}').toggle({{ workout.state }});
                    {% endif %}
               {% endif %}
           });
           {% if workout.expired == False %}
               {% if workout.state != 72 %}
                   let control = new Control('{{ workout["id"] }}', 'workoutStateObj', '{{ workout.api.workout }}');
                   {% if workout.state != 62 %}
                       control.poll();
                   {% endif %}
               {% endif %}
          {% endif %}
    </script>
     <div id="content-row" class="row row-offcanvas row-offcanvas-left vh-100">
        <div id="sidebar-div" class="position-fixed col-md-3 col-lg-2 order-0 sidebar-offcanvas h-100 overflow-auto nav-sidebar" role="navigation" style="top: 50px;">
            <ul id="sidebar-nav" class="nav nav-pills flex-column sticky-top pl-0 mt-3" role="tablist">
                <li>{{ logo.logo_div() }}</li>
                <li id="control-ctn" class="control-container">
                    <ul class="flex-column control-container-list">
                        <li class="nav-item disabled control-container-list">
                            {% if workout.expired == False %}
                                <!-- If the workout isn't expired, show the expiration date. If the workout has a start-time and
                                run duration set, display a countdown timer until shutoff -->
                                {% if workout.state != 72 %}
                                    <h5><i id="workoutState" class="fa fa-circle buildState running fa-pr-5"></i><span id="workoutStateObj" style="color: white;"></span></h5>
                                    <p style="color: white;">Expires: <span class="timestampField">{{ workout.expires }}</span> </p>
                                    {% if workout.shutoff_timestamp %}
                                        <div id="room-timer-div" class="countdown-timer">
                                                <p class="text-center no-select">
                                                    <span id="room-timer"></span>
                                                </p>
                                        </div>
                                         <input type="number" max="10" min="1" name="duration" id="runtimeDuration"
                                        style="width: 100%; display: none; border-radius: 4px;" placeholder="Duration (hours)"
                                         class="text-center">
                                    {% else %}
                                        <div id="room-timer-div" class="countdown-timer" style="display: none;">
                                                <p class="text-center no-select">
                                                    <span id="room-timer"></span>
                                                </p>
                                        </div>
                                        <input type="number" max="10" min="1" name="duration" id="runtimeDuration"
                                        style="width: 100%; display: block; border-radius: 4px;" placeholder="Duration (hours)"
                                        class="text-center">
                                    {% endif %}
                                {% endif %}
                            {% else %}
                                <div id="room-timer-div" class="nav-link disabled" style="pointer-events: none">
                                    <h5 class="text-center">Workout Expired</h5>
                                </div>
                            {% endif %}
                        </li>
                        {% if workout.servers %}
                            {% if workout.expired == False %}
                                {% if workout.state != 72 %}{# workout is not deleted #}
                                    {% if workout.state == 50 %}{# workout is running #}
                                        <li class="nav-item control-container-list" id="extendWorkoutLi" style="display: block;">
                                            <button id="extendDurationBtn" class="nav-link" onclick="control.extend();"
                                                    style="display: none">Add 1 Hour</button>
                                        </li>
                                        <li class="nav-item control-container-list" id="startWorkoutLi" style="display: none">
                                            <button id="startWorkoutBtn" class="nav-link" onclick="control.start();">Start Workout</button>
                                        </li>
                                    {% elif workout.state == 62%}{# workout is broken #}
                                        <li class="nav-item control-container-list" id="extendWorkoutLi" style="display: none;">
                                            <button id="extendDurationBtn" class="nav-link" onclick="control.extend();"
                                                    style="display: none">Add 1 Hour</button>
                                        </li>
                                        <li class="nav-item control-container-list" id="startWorkoutLi" style="display: none">
                                            <button id="startWorkoutBtn" class="nav-link" onclick="control.start();">Start Workout</button>
                                        </li>
                                    {% else %}{# workout is Stopped or in Transition to Running/Stopped  #}
                                        <li class="nav-item control-container-list" id="extendWorkoutLi" style="display: none;">
                                            <button id="extendDurationBtn" class="nav-link" onclick="control.extend();"
                                                    style="display: none">Add 1 Hour</button>
                                        </li>
                                        <li class="nav-item control-container-list" id="startWorkoutLi" style="display: block">
                                            <button id="startWorkoutBtn" class="nav-link" onclick="control.start();">Start Workout</button>
                                        </li>
                                    {% endif %}
                                    <li class="nav-item control-container-list">
                                        <button id="stopWorkoutBtn" class="nav-link" onclick="control.stop();">Stop Workout</button>
                                    </li>
                                {% else %}{# workout is deleted #}
                                    <li class="nav-item control-container-list">
                                        <button class="nav-link disabled" disabled style="pointer-events: none;">Start Workout</button>
                                    </li>
                                    <li class="nav-item control-container-list">
                                        <button class="nav-link disabled" disabled style="pointer-events: none;">Stop Workout</button>
                                    </li>
                                {% endif %}
                            {% else %}{# workout is expired #}
                                <li class="nav-item control-container-list">
                                    <button class="nav-link disabled" disabled style="pointer-events: none;">Start Workout</button>
                                </li>
                                <li class="nav-item control-container-list">
                                    <button class="nav-link disabled" disabled style="pointer-events: none;">Stop Workout</button>
                                </li>
                            {% endif %}
                        {% endif %}
                    </ul>
                </li> <!-- End workout control container -->
                <li class="nav-item" role="presentation">
                    <button class="nav-link active" id="home-tab" data-toggle="pill"
                            data-target="#home-container" type="button" role="tab"
                            aria-controls="home-container" aria-selected="true"><i class="fa fa-book fa-lg fa-pr-5"></i>Workout</button>
                </li>
                {% if workout.assessment %}
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="assessment-tab" data-toggle="pill"
                                data-target="#assessment-container" type="button" role="tab"
                                aria-controls="assessment-container"
                                aria-selected="false"><i class="fa fa-tasks fa-lg fa-pr-5"></i>Assessment</button>
                    </li>
                {% endif %}
            </ul>
        </div><!-- End sidebar-menu div -->
        <main class="col offset-2 main pt-3 mt-3 h-100 pr-3"  style="overflow: auto;">
             <div id="content-div" class="overflow-auto">
                <div id="tab-container" class="tab-content">
                    <div class="tab-pane fade active show" id="home-container" role="tabpanel" aria-labelledby="home-tab">
                        <div class="container">
                            <div id='workout-summary-div' class="info-container">
                                <div id="class-summary">
                                    <h2 class="text-center">{{ workout.summary.name }}</h2>
                                    {% if workout.summary.student_instructions_url %}
                                        <div style="margin: 2vh 0 2vh 0;">
                                            <a class='btn-fa' href="{{ workout.summary.student_instructions_url }}"
                                                target="_blank" rel="noopener noreferrer">Workout Instructions</a>
                                        </div>
                                    {% endif %}
                                    <p><span style="font-weight: bold">Summary: </span>{{ workout.summary.description }}</p>
                                    <div class="alert alert-info text-center" style="max-width: 65%; margin: 0 auto;">
                                        <p>Once your machines are running, please allow about 2 minutes for the Guacamole service to become accessible.</p>
                                    </div>
                                </div>
                            </div> <!-- End workout-summary-div -->
                        </div>
                        <div class="container">
                            <div class="row">
                                <div class="col">
                                    <div class="info-container" style="min-width: 480px;">
                                        <table class="table text-nowrap">
                                            <thead>
                                                <tr>
                                                    <th scope="col" class="text-center">Connection</th>
                                                    <th scope="col" class="text-center">Server Name</th>
                                                    <th scope="col" class="text-center">DNS</th>
                                                    <th scope="col" class="text-center">IP</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% if 'servers' in workout %}
                                                    {% for server in workout.servers %}
                                                        {% if 'hidden' in server %}
                                                            {% if server.hidden == False %}
                                                                {# server.hidden exists, but is false; Display server details #}
                                                                <tr>
                                                                    {% if server.url %}
                                                                        {% if workout.expired == False %}
                                                                            <td><a href="{{ server.url }}" class="btn-fa connection-link" target="_blank">Connect to Server</a></td>
                                                                        {% endif %}
                                                                    {% else %}
                                                                        <td>No Public Interface</td>
                                                                    {% endif %}
                                                                    <td>{{ server.name }}</td>
                                                                    {% if server.nics[0].host_dns %}
                                                                        <td>{{ server.nics[0].host_dns }}</td>
                                                                    {% else %}
                                                                        <td>None</td>
                                                                    {% endif %}
                                                                    <td>{{ server.nics[0].internal_ip }}</td>
                                                                </tr>
                                                            {% endif %}
                                                        {% else %}
                                                            {# server.hidden doesn't exist; Display server details #}
                                                            <tr>
                                                                {% if server.url %}
                                                                    {% if workout.expired == False %}
                                                                        <td><a href="{{ server.url }}" class="btn-fa connection-link" target="_blank">Connect to Server</a></td>
                                                                    {% endif %}
                                                                {% else %}
                                                                    <td>No Public Interface</td>
                                                                {% endif %}
                                                                <td>{{ server.name }}</td>
                                                                {% if server.nics[0].host_dns %}
                                                                    <td>{{ server.nics[0].host_dns }}</td>
                                                                {% else %}
                                                                    <td>None</td>
                                                                {% endif %}
                                                                <td>{{ server.nics[0].internal_ip }}</td>
                                                            </tr>
                                                        {% endif %}
                                                    {% endfor %}
                                                {% else %}
                                                    <tr class="opaque-loading"><td class="opaque-loading text-center" colspan="100%">No Servers</td></tr>
                                                {% endif %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="info-container">
                                        <table class="table text-nowrap">
                                            <thead>
                                                <tr>
                                                    <td colspan="100%">Web App</td>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% if 'web_applications' in workout %}
                                                    {% for web_app in workout['web_applications'] %}
                                                        <tr>
                                                            {% if workout.expired == False %}
                                                                <td>
                                                                    <a class='btn-fa' href="{{ web_app.url }}" target="_blank">{{ web_app.name }}</a>
                                                                </td>
                                                            {% else %}
                                                                <td>
                                                                    <a class="btn-fa" href="#">{{ web_app.name }}</a>
                                                                </td>
                                                            {% endif %}
                                                        </tr>
                                                    {% endfor %}
                                                {% else %}
                                                    <tr class="opaque-loading"><td class="opaque-loading text-center" colspan="100%">No Web App</td></tr>
                                                {% endif %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div> <!-- End servers container -->
                    </div> <!-- End home-container -->
                    {% if workout.assessment %}
                        <div id="assessment-container" class="tab-pane fade" role="tabpanel" aria-labelledby="assessment-tab">
                            <div>
                                <h1 class="text-center">Assessment Questions</h1>
                                <br />
                                {% set completed = namespace(value=0) %}
                                <div class="row card-columns">
                                    {% for question in workout.assessment.questions %}
                                        <div class="card puzzle-card col-lg-4 col-sm12" onclick="showCurrentQuestion('{{ loop.index }}')">
                                            <div class="card-body">
                                                <h4 class="card-title">{{ question.question }}</h4>
                                                {% if question.complete == True %}
                                                    {% set completed.value = completed.value + 1 %}
                                                    <h5 class="card-subtitle" id="{{ question['id'] }}Status">Complete!</h5>
                                                {% else %}
                                                    <h5 class="card-subtitle" id="{{ question['id'] }}Status">Incomplete</h5>
                                                {% endif %}
                                            </div>
                                        </div>
                                        <div class="modal fade" tabindex="-1" role="dialog" id="currentQuestion{{ loop.index }}">
                                            <div class="modal-dialog modal-lg" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        {% if question.type == 'auto' %}
                                                            <h5>Auto Complete Question</h5>
                                                        {% else %}
                                                            <h5>Assessment Question</h5>
                                                        {% endif %}
                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                            <span aria-hidden="true">x</span>
                                                        </button>
                                                    </div> <!-- End modal-header-->
                                                    <div class="modal-body">
                                                        <div class="workout-details">
                                                            <p id="workout-details">{{ question.question }}</p>
                                                        </div>
                                                        {% if workout.expired == False %}
                                                            <div class="form-container">
                                                                 <form id="{{ question['id']}}Form" class="form-control">
                                                                     <input name="parent_id" type="hidden" readonly value="{{ workout.parent_id }}">
                                                                     {% if question.type == 'input' %}
                                                                         <div class="form-group mx-sm-3 mb-2">
                                                                            <label for="{{ question['id'] }}" class="sr-only">Answer: </label>
                                                                            <input name='response' id="{{ question['id'] }}" type="text" placeholder="Answer">
                                                                        </div>
                                                                         <input id="submit_{{ loop.index }}" type="button"
                                                                                onclick="checkQuestion('{{ question["id"] }}', '{{ workout['id'] }}',
                                                                                        '{{ workout.api.workout }}{{ workout['id'] }}','{{ loop.index }}', false);"
                                                                                class="btn-fa mb-2" value="Check Answer">
                                                                     {% elif question.type == 'upload' %}
                                                                         <div class="form-group mx-sm-3 mb-2">
                                                                            <label for="{{ question['id'] }}" class="sr-only">Upload: </label>
                                                                            <input name="response" id="{{ question['id'] }}" type="file" placeholder="Upload">
                                                                         </div>
                                                                         <input id="submit_{{ loop.index }}" type="button"
                                                                                onclick="checkQuestion('{{ question["id"] }}', '{{ workout['id'] }}','{{ workout.api.workout }}{{ workout['id'] }}', false);"
                                                                                class="btn-fa mb-2" value="Check Answer">
                                                                     {% else %}
                                                                         <input name="response" id="{{ question['id'] }}" type="text" readonly value="check auto" hidden>
                                                                         <input id="submit_{{ loop.index }}" type="button"
                                                                           onclick="checkQuestion('{{ question["id"] }}', '{{ workout['id'] }}', '{{ workout.api.workout }}{{ workout['id'] }}',
                                                                                   '{{ loop.index }}', true);"
                                                                           class="btn-fa mb-2" value="Check Auto Complete">
                                                                     {% endif %}
                                                                </form>
                                                            </div> <!-- End question form div -->
                                                        {% endif %}
                                                    </div><!--End question modal-body-->
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div> <!--End row, card-columns -->
                            </div> <!--End info-container -->
                        </div> <!-- End assessment-tab -->
                    {% endif %}
                {{ forms.contact_us() }}
                </div> <!-- End tab-container-->
            </div> <!-- End content-div -->
        </main>
     </div> <!-- End content-row -->
{% endblock %}
