{% extends "v2-base.html" %}
{% import 'logo_macro.html' as logo %}
{% block title %}Escape Room{% endblock %}
{% block nav_title %}Escape Room{% endblock %}
{% block styles %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('student_app.static', filename='css/student_app.css') }}">
{% endblock styles %}
{% block navbar %}
    <div class="navbar-nav mr-auto">
        <ul class="nav nav-pills top-navbar-pill">
            <li class="nav-item">
                <a href="{{ url_for('home') }}" class="nav-link text-center">Cyber Arena</a>
            </li>
            <li class="nav-item">
                <a href="{{ url_for("fixed_arena.home") }}" class="nav-link text-center">STOC</a>
            </li>
            {% if 'admins' in auth_list %}
                <li class="nav-item">
                    <a href='{{ url_for("admin.home") }}' class="nav-link text-center">Admin Home</a>
                </li>
            {% endif %}
        </ul>
    </div>
     <div class="navbar-nav navbar-right">
        <ul class="nav nav-pills top-navbar-pill">
            <li class="nav-item">
                <a id="contact-us" class="nav-item btn top-navbar-btn" href="#" data-toggle="modal"
                   data-target="modalContactUs"><i class="fa fa-envelope-o icon-light"></i>Contact Us</a>
            </li>
            <li class="nav-item disabled">
                <p id="banner" class="nav-item btn top-navbar-btn disabled no-select"></p>
            </li>
            <li class="nav-item">
                <a id="sign-out" class="nav-item btn top-navbar-btn"><i class="fa fa-sign-out"></i>Sign Out</a>
            </li>
        </ul>
    </div>
{% endblock %}
{% block content %}
    <script type="text/javascript" src='{{ url_for("static", filename="js/login.js") }}'></script>
    <script type="text/javascript" src='{{ url_for(".static", filename="js/student_app.js") }}'></script>
    <script type="text/javascript" src='{{ url_for(".static", filename="js/countdown_timer.js") }}'></script>
    <script>
          var teacher_email = null;
          var auth_config = {
              apiKey: '{{ auth_config["api_key"] }}',
              authDomain: '{{ auth_config["auth_domain"] }}',
              projectId: '{{ auth_config["project_id"] }}'
          };
          initApp(auth_config).then(value => {
              enable_signout();
               // Set welcome banner
              const welcome_nav = document.getElementById('banner');
              welcome_nav.textContent = value['display_name'];
          });
           $(document).ready(function() {
               // Call functions that need to be run during initial page load here
               getEscapeRoomState("{{ workout['id'] }}", 60000, false);
           });
    </script>
     <div id="content-row" class="row row-offcanvas row-offcanvas-left vh-100">
        <div id="sidebar-div" class="position-fixed col-md-3 col-lg-2 order-0 sidebar-offcanvas h-100 overflow-auto nav-sidebar" role="navigation" style="top: 50px;">
            <ul id="sidebar-nav" class="nav nav-pills flex-column sticky-top pl-0 mt-3" role="tablist">
                <li>{{ logo.logo_div() }}</li>
                <!-- Not Sure if we need this sidebar here on this page -->
                <li class="nav-item disabled">
                    {%  if workout.escape_room.escaped == True %}
                        <div id="room-timer-div" class="nav-link room-complete">
                            <h5 class="nav-link room-complete">Room Escaped!</h5>
                        </div>
                    {% else %}
                        {% if workout.escape_room.expired == False %}
                            <div id="room-timer-div" class="countdown-timer">
                                <p class="text-center no-select">
                                    <span id="room-timer"></span>
                                </p>
                            </div>
                        {% else %}
                            <div id="room-timer-div" class="nav-link disabled" style="pointer-events: none">
                                <h5 class="text-center">Room Expired</h5>
                            </div>
                        {% endif %}
                    {% endif %}
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link active" id="home-tab" data-toggle="pill"
                            data-target="#home-container" type="button" role="tab"
                            aria-controls="home-container" aria-selected="true"><i class="fa fa-puzzle-piece fa-lg"></i> Puzzles</button>
                </li>
            </ul>
        </div> <!--End sidebar-menu div-->
        <main class="col offset-2 main pt-3 mt-3 h-100 pr-3">
            <div id="content-div" class="overflow-auto">
                <div id="tab-container" class="tab-content">
                    <div id="error-msg-div"><p id="error-msg-p" class="text-danger text-center"></p></div>
                    <div id="home-container" class="tab-pane fade active show" role="tabpanel" aria-labelledby="home-tab">
                        <div id="waiting-message-ctn" class="info-container">
                            {% if not workout.expired %}
                                <h1 class="text-center">Escape Room Not Started</h1>
                                <p class="text-center">Page will automatically redirect once the room is opened</p>
                                <!-- TODO: Add bouncing vertical bar animation -->
                            {% else %}
                                <h1 class="text-center">Escape Room Expired</h1>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </main>
     </div>
{% endblock content %}
