{% extends 'pages/index.jinja' %}

{% block head_block %}

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Portside: Protect Your Ship...</title>
    <link rel="icon" href="/static/img/boat.ico" type="image/png" />
{% endblock head_block %}


{% block header %}
  <!-- Header -->
  <header class="masthead">
    <div class="container d-flex h-100 align-items-center">
      <div class="mx-auto text-center">
        <h1 class="mx-auto my-0 text-uppercase">Flag = {Portly_Crew}</h1>
        <h2 class="text-white-50 mx-auto mt-2 mb-5">Only expose what's necessary to stay afloat amidst a sea of threats...</h2>
          <h6 class="text-white-50 mx-auto mt-2 mb-5">Seriously. Nothing else should be open.</h6>
        <!--<a href="#about" class="btn btn-primary js-scroll-trigger">Get Started</a> -->
      </div>
    </div>
  </header>
  {% endblock header %}

