{% extends 'base.html' %}
{% block title %}Create Class{% endblock %}
{% block content %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('fixed_arena.static', filename='css/fixed_arena_styles.css') }}">
    <script src='{{ url_for("static", filename="js/login.js") }}'></script>
    <script type="text/javascript" src="{{ url_for('fixed_arena.static', filename='js/fixed_arena_utils.js') }}"></script>
    <script>
          var teacher_email = null;
          var auth_config = {
            apiKey: '{{auth_config["api_key"]}}',
            authDomain: '{{auth_config["auth_domain"]}}',
            projectId: '{{auth_config["project_id"]}}'
          };
          initApp(auth_config).then(value => {
            enable_signout();
            var controls = document.getElementById('teacher_controls');
            var build_widget = document.getElementById('build_workout_widget');
            document.getElementById('user_name_header').innerHTML = "Welcome " + value['display_name'];
            if(value['admin'] == true){
              var admin_button = document.createElement("a");
              admin_button.href = "/admin/home";
              admin_button.className = "nav-link";
              admin_button.innerHTML = "Admin Page";
              controls.insertBefore(admin_button, build_widget);
            }
            if(value['student'] == true){
              var student_home_link = document.createElement('a');
              student_home_link = '/student/home';
              student_home_link.className = "nav-link";
              student_home_link.innerHTML = "Your Student Page";
              controls.insertBefore(student_home_link, build_widget);
            }
          });
    </script>
    {% for build in build_types %}
        <h1>{{ build }}</h1>
    {% endfor %}
{% endblock %}