/* Arena Landing Styles */

/* ################################################ */
/* Background Image */
/* ################################################ */
html {
  background: url("/static/img/abandoned_warehouse.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* ################################################ */
/* Main Styles */
/* ################################################ */
h1,h2,h3,h4,h5,h6, header, title, footer{
  font-family: Roboto, "Roboto Thin", "Arial Narrow", Arial;
  font-kerning: auto;
  letter-spacing: 3px;
  font-weight: bold;
}
div.arena-dark-container {
  height: 80%;
  width: 85%;
  min-height: 500px;
  min-width: 300px;
  margin: auto auto 50px auto;
  background: rgba(0,0,0, .4);
}
div.arena-banner-image {
  width: 90%;
  min-width: 300px;
  height: auto;
  margin: auto;
  position: relative;
  padding-bottom: 15px;
}
img.arena-banner-image {
  width: 100%;
  min-width: 300px;
  height: auto;
  margin: auto;
  border: 1px solid gray;
  border-radius: 2px;
  opacity: 80%;
}

.arena-main-content-container {
  height: 80%;
  width: 90%;
  margin: auto;
  min-height: 400px;
  min-width: 250px;
  pading-top: 15px;
  padding-bottom: 15px;
  background: #eaeaea;
  border: 1px solid gray;
  border-radius: 2px;
  box-shadow: 1px 20px 20px 15px #000000;
}
div.arena-footer {
  height: 10%;
  width: 70%;
  margin: 0 auto;
  padding-top: 10px;
  padding-bottom: 10px;
}
p.arena-footer {
  font-family: "Roboto Thin";
  font-size: 15px;
  color: whitesmoke;
  text-align: center;
}


