{% macro nukeButton(workout_id) -%}
<script type = "text/javascript" src="{{ url_for('static', filename='js/macro_scripts.js') }}"></script>

<style>
    .nuke_btn{
        background-color:red!important;
    }
</style>
<button type="button" class="btn nuke_btn" style="margin-top:2em;margin-bottom:1em;" data-toggle="modal" data-target="#modal_{{workout_id}}">
    NUKE WORKOUT
</button>
<div class="modal fade" id="modal_{{workout_id}}" tabindex="-1" role="dialog" style="box-shadow:none;background-color:transparent;" aria-labelledby="ModalLabel_{{workout_id}}" aria-hidden="true">
    <div class="modal-dialog" role="document" style="max-width:100%;">
    <div class="modal-content">
        <div class="modal-header" style='justify-content:center;'>
        <h2 style='text-align:center;' class="modal-title" id="ModalLabel_{{workout_id}}">CAUTION</h2>
        </div>
        <div class="modal-body">
            <h4>You are about to destroy your current workout and build a replacement. It may take several minutes before your new workout is available</h4>
        </div>
        <div class="modal-footer" style="justify-content:space-around;">
        <button type="button" style="margin-right:1em;" class="btn popup_close" data-dismiss="modal">Cancel</button>
        <a onclick="nuke_workout('{{workout_id}}')" class="btn" style="background-color:red;">Continue</a>
        </div>
    </div>
    </div>
</div>
{%- endmacro %}