.login {
    height: 300px;
    width: 350px;
    border: 0.5px solid darkgray;
    border-radius: 5px;
    background-color: transparent;
    padding: 10px;
    text-align: center;
}
.login-input {
     padding: 8px;
     font-size: 15px;
     border-width: 1px;
     border-color: #CCCCCC;
     background-color: #FFFFFF;
     color: #000000;
     border-style: solid;
     border-radius: 20px;
     box-shadow: 0px 5px 5px rgba(66,66,66,.1);
}
 .login-input:focus {
     outline:none;
}
.login-btn {
  font-family: arial;
  color: #14396A !important;
  font-size: 14px;
  box-shadow: 1px 1px 1px #BEE2F9;
  padding: 10px 25px;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  border-radius: 20px;
  background: #63B8EE;
  background: linear-gradient(top,  #63B8EE,  #468CCF);
  background: -ms-linear-gradient(top,  #63B8EE,  #468CCF);
  background: -webkit-gradient(linear, left top, left bottom, from(#63B8EE), to(#468CCF));
  background: -moz-linear-gradient(top,  #63B8EE,  #468CCF);
}
.login-btn:hover {
  color: #00050b !important;
  background: grad;
  background: linear-gradient(top,  #468CCF,  #8291d2);
  background: -ms-linear-gradient(top,  #468CCF,  #8291d2);
  background: -webkit-gradient(linear, left top, left bottom, from(#468CCF), to(#8291d2));
  background: -moz-linear-gradient(top,  #468CCF,  #8291d2);
}

/* .login {
    margin: 30px auto;
    width: 400px;
    border: 1px solid #10132e;
    border-radius: 20px;
}
.login-screen {
background-color: #FFF;
padding: 20px;
border-radius: 5px
}

.app-title {
text-align: center;
color: #777;
}

.login-form {
text-align: center;
}
.control-group {
margin-bottom: 10px;
}

input {
text-align: center;
background-color: #ECF0F1;
border: 2px solid transparent;
border-radius: 3px;
font-size: 16px;
font-weight: 200;
padding: 10px 0;
width: 250px;
transition: border .5s;
}

input:focus {
border: 2px solid #3498DB;
box-shadow: none;
}

.btn {
border: 2px solid transparent;
background: #3498DB;
color: #ffffff;
font-size: 16px;
line-height: 25px;
padding: 10px 0;
text-decoration: none;
text-shadow: none;
border-radius: 3px;
box-shadow: none;
transition: 0.25s;
display: block;
width: 250px;
margin: 0 auto;
}

.btn:hover {
background-color: #2980B9;
}

.login-link {
font-size: 12px;
color: #444;
display: block;
margin-top: 12px;
}
/* end login style */