{% extends "xss.html" %}

{% block page_content %}
<body>
<header>
    <div>
        <h1 style ="text-align:center; color:white;"> Reflected Cross-Site Scripting </h1>
    </div>
</header>
    <div class="container mt-0">
        <div style="border-radius:25px;background-color:whitesmoke; height:auto; width:80%; box-shadow:2px 5px;
             border: 1px solid;" class="mx-auto d-block">
            <div style="padding:1.5em 1.5em 0;height:auto;">
                <h1>Hello, {{ name }}!</h1>
                <form name="XSS" action="#" method="POST">
                    <p> Not a stranger? What's your name?
                        <input type="text" name="name" autocomplete="off">
                        <input type="submit" value="Submit">
                    </p>
                </form>
            </div>
        </div>
    </div>
</body>
{% endblock %}