<!DOCTYPE html>
{% autoescape false %}
<html>
<head>
    <title>Classified Cross-Site Scripting</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
</head>
{% block navbar %}
<div class="navbar navbar-inverse" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ url_for('xss', workout_id=workout_id) }}">Cross-Site Scripting</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="{{ url_for('xss', workout_id=workout_id)}}">DOM-Based Cross-Site Scripting</a></li>
                <li><a href="{{ url_for('xss_r') }}">Reflected Cross-Site Scripting</a></li>
                <li><a href="{{ url_for('xss_s') }}">Stored Cross-Site Scripting</a></li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}
{% block page_content %}
<body>
<header>
    <div>
        <h1 style ="text-align:center; color:white;"> DOM-Based Cross-Site Scripting </h1>
    </div>
</header>
    <div class="container mt-0">
        <div style="border-radius:25px;background-color:whitesmoke; height:auto; width:80%; box-shadow:2px 5px;
             border: 1px solid;" class="mx-auto d-block">
            <div style="padding:1.5em 1.5em 0;height:auto;">
                <h1>Hello, {{ name }}! I have a {{ bad_request }} for you!</h1>
            </div>
        </div>
    </div>
</body>
{% endblock %}
</html>
{% endautoescape %}
