.nav-link {
    width: auto;
    min-width: 100px;
    padding: .5rem;
}
.nav-link-tabs {
    margin-right: 5px;
}
.nav-item.show .nav-link, .nav-tabs .nav-link.active {
    background-color: var(--maroon, #6e2639);
    color: white;
}
#banner {
    pointer-events: none;
    color: #6c757d;
}
#banner:hover {
    background: none;
    color: #6c757d;
}
.prevent-select {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.tab-pane {
    margin-top: 1rem;
}
/* General Table Styles */
.info-container > table {
    padding: 0px;
    width: 100%;
}
.table-ctn {
    table-layout: auto;
    border: 1px solid darkgray;
    box-shadow: 1px 2px 3px 0 gray;
    border-collapse: collapse;
}
@media (max-width: 979px) {
    .table-ctn {
        table-layout: auto !important;
        padding: 0;
        border-collapse: collapse;
        border: 1px solid darkgray;
        box-shadow: 1px 3px 5px 0 gray;
    }
}
.table-large {
    width: 100%;
}
.table_title {
    float: left;
}
thead {
    color: gray;
}
.selected td {
    color: black;
    border-bottom: 4px solid var(--maroon, #6e2639);
}
.table-small {
    table-layout: auto !important;
    padding: 0;
    border-collapse: collapse;
    min-width: 750px;
}
.table-small td, .table-small tr, .table-small th,
.table-small tbody td, .table-small tfoot td,
.table-small tfoot th {
    width: auto !important;
}
.table-small td {
    white-space: nowrap;
}
.table-small tr {
    padding: 5px;
    white-space: nowrap;
}
.td.btn-fa:last-child {
    margin-right: 0;
}
tr.opaque-loading {
    background-image: linear-gradient(to right, transparent 50%, rgba(0, 0, 0, 0.5));
    background-size: 200% 100%;
}
tr.opaque-loading td {
    opacity: .45;
    pointer-events: none;
}
.readOnly {
        border: 0;
        outline: 0;
        margin: 5px;
}
.readOnly:focus {
    outline: none !important;
}
/* Auto Shutoff Modal Styles */
.modal-center {
    text-align: center;
    margin-left: 35%;
    margin-top: -15%;
}
.modal-body {
    padding-top: .5em;
}
/* Slideout modal */
.modal-dialog-slideout {
    min-height: 100%;
    margin: 0 0 0 auto;
    background: #fff;
}
@media (min-width: 400px) {
    .modal-sm {
        max-width: 400px;
    }
}
.modal-dialog-slideout.modal-sm {

}
.modal.fade .modal-dialog.modal-dialog-slideout {
    -webkit-transform: translate(100%,0)scale(1);
    transform: translate(100%,0)scale(1);
}
.modal.fade.show .modal-dialog.modal-dialog-slideout {
    -webkit-transform: translate(0,0);
    transform: translate(0,0);
    display: flex;
    align-items: stretch;
    -webkit-box-align: stretch;
    height: 100%;
}
.modal.fade.show .modal-dialog.modal-dialog-slideout .modal-body{
    overflow-y: auto;
    overflow-x: hidden;
}
.modal-dialog-slideout .modal-content{
    border: 0;
}
.modal-dialog-slideout .modal-header, .modal-dialog-slideout .modal-footer {
    height: 69px;
    display: block;
}
.modal-dialog-slideout .modal-header h5 {
    float:left;
}

/* Assigned Homework Card Styles */
@keyframes card-fade-in {
    0% {opacity: 0;}
    100% {opacity: 100%;}
}
.card-columns {
    justify-content: space-evenly;
}
.puzzle-card {
    max-width: 300px;
    transition: background-color 0.4s ease;
    background-color: var(--python-blue);
    color: black;
    animation-name: card-fade-in;
    animation-duration: 0.5s;

}
#finalPuzzle.puzzle-card {
    background-color: var(--python-yellow);
}
#finalPuzzle.puzzle-card:hover {
    background-color: whitesmoke;
    cursor: pointer;
}
#finalPuzzle.puzzle-card:hover .card-subtitle.final-puzzle,
#finalPuzzle.puzzle-card:hover #finalPuzzleTitle.card-title {
    color: white;
}
.puzzle-card:hover {
    background-color: whitesmoke;
    cursor: pointer;
}
.puzzle-card:hover .card-title .card-subtitle {
    color: var(--marine-blue);
}
.puzzle-card:hover .card-subtitle {
    border: white;
}
.card-title {
    color: #FFF;
    text-align:center;
    font-variant: small-caps;
    padding-bottom: .5em;
}
#finalPuzzleTitle.card-title {
    color: black;
}
#finalPuzzleTitle.card-title:hover, .card-subtitle.final-puzzle {
    color: white;
}
.card-subtitle {
    border-top: double thin black;
    padding: .5em;
    color: white;
    text-align: center;
    font-variant: small-caps;
}
.card-subtitle.final-puzzle {
    color: black;
}


/* Table Toolbar Styles */
.table-manage-wrapper {
    width: 90%;
    align-content: center;
    margin: auto;
}
.table-toolbar-div {
    margin-top: 10px;
    width: 100%;
    border: 1px solid gray(50);
    /*box-shadow: 0 4px 3px -4px gray;
    background-color: whitesmoke;*/
    border-radius: 4px;
    text-align: center;
}
ul.table-toolbar {
    display: inline-block;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
li.table-control {
    margin: 5px 0 0 0;
    float: left;
}
li button {
    display: block;
    text-align: center;
    color: black;
    padding: 3px 10px;
    text-decoration: none;
    margin: 0 10px 0 0;
}
.table-control-btn {
    display: inline-block;
    height: 100%;
    border: none;
    background-color: white;
    /*background-color: whitesmoke;*/
}
.table-control-btn:hover {
    background-color: whitesmoke;
    box-shadow: inset 0 0 5px #c1c1c1;
    border-radius: 10px;
    color: black;
}
.table-control-btn:active {
    background-color: var(--maroon, #6e2639);
    box-shadow: 0 1px 1px 2px inset black;
    color: white;
}
.table-control-btn:hover img, .table-control-btn:active img {
    filter: invert(100%);
}
.button-icon {
    width: 20px;
    height: auto;
    padding-right: 2px;
}
.fa-trash:hover, .fa-trash:active, .fa-trash:after {
    color: white;
}

/* Class Container Styles */
.class_container {
    padding-bottom: 3vh;
}

/* Workout Details Styles */
.workout-details-ctn {
    border: 1px solid lightgray;
    border-radius: 4px;
    padding: 1em;
}
.workout-details {}
.workout-details p {}

/* Assessment Styles */
.complete {}
.incomplete {}

/* Escape Room Styles */
.room-complete {
    cursor: default;
    pointer-events: none;
    background: var(--grass-green) !important;
    color: whitesmoke;
    text-align: center;
}
div.puzzle-clues {
    border: 1px solid black;
    margin-bottom: 10px;
}
span.puzzle-clues {
    white-space: pre-wrap;
    padding: 5px;
}

/* [ eof ] */
