{% extends 'pages/index.jinja' %}

{% block navigation %}{% endblock navigation %}

{% block header %}
  <!-- Header -->
    <header class="error"></header> <!-- everything for the page is in /portside.min.css -->
{% endblock header %}
