{% extends "base.html" %}

{% import 'logo_macro.html' as logo %}

{% block title %}Teacher Home Page{% endblock %}

{% block content %}
<script src='../static/login.js'></script>
<script type="text/javascript" src="{{url_for('static', filename='teacher_utils.js')}}"></script>

<script>
  var teacher_email = null;
  var auth_config = {
    apiKey: '{{auth_config["api_key"]}}',
    authDomain: '{{auth_config["auth_domain"]}}',
    projectId: '{{auth_config["project_id"]}}'
  };
  initApp(auth_config).then(value => {
    enable_signout();
    var controls = document.getElementById('teacher_controls');
    var build_widget = document.getElementById('build_workout_widget');
    document.getElementById('user_name_header').innerHTML = "Welcome " + value['display_name'];
    document.getElementById('class_creation_teacher_id').value = value['email'];
    if(value['admin'] == true){
      var admin_button = document.createElement("a");
      admin_button.href = "/admin/home";
      admin_button.className = "nav-link";
      admin_button.innerHTML = "Admin Page";
      controls.insertBefore(admin_button, build_widget);
    }
    if(value['student'] == true){
      var student_home_link = document.createElement('a');
      student_home_link = '/student/home';
      student_home_link.className = "nav-link";
      student_home_link.innerHTML = "Your Student Page";
      controls.insertBefore(student_home_link, build_widget);
    }
    
  });

  window.addEventListener('load', function(){
    var timestamp_list = document.getElementsByClassName('timestamp_field');
    for(var i = 0; i < timestamp_list.length; i++){
      timestamp_list[i].innerHTML = timeConverter(timestamp_list[i].innerHTML)
    }
    $(".build_unit_type").on('click', function(){
      console.log(this.innerHTML);
      var display_div = document.getElementById('build_unit_display');
      if (display_div.style.display == "none"){
        display_div.style.display = "inline-block";
      }
      display_div.innerHTML = this.innerHTML;
      display_div.className = this.value;
      document.getElementById('unit_build_dropdown').style.borderRight = '1px solid var(--main_color, #6e2639)';
    })
    
  })
  function to_build_page(){
    var input = document.getElementById('build_unit_display').className;
    window.location.href = "/teacher/" + input;
  }
  function show_expired_units(modal_num){
    $('#expired_unit_' + modal_num).modal();
  }
  function show_current_units(modal_num){
    $('#current_unit_' + modal_num).modal();
  }
  function open_class_modal(class_id){
    $('#class_modal_' + class_id).modal();
  }
  $(document).ready(function(){
      var hashcode = window.location.hash;
      if ((hashcode !== "") && $('' + hashcode))
          $('#teacher_controls a[href="' + hashcode + '"]').tab('show');
      else
          $('#teacher_controls a:first').tab('show');
  })
</script>
<style>
  textarea{
    height: auto;
  }
  .unit_group{
    border:1px solid black;
    margin-bottom:1em;
  }
  .unit_header{
    color:white;
    background-color:var(--main_color, #6e2639);
    margin-top:0;
  }
  
  .dropdown-toggle-split{
    border-left: 1px solid var(--main_color, #6e2639)!important;
  }

  @keyframes card-fade-in{
    0% {opacity: 0;}
    100% {opacity: 100%;}
  }
  .card-columns{
    justify-content:space-evenly;
  }
  .unit-card{
    transition: background-color 0.4s ease;
    background-color: var(--main_color, #6e2639);
    animation-name: card-fade-in;
    animation-duration: 0.5s;
  }
  .unit-card:hover{
    background-color: #FFF;
    cursor: pointer;
  }
  .unit-card:hover .card-title{
    color: var(--main_color, #6e2639);
  }
  .card-title{
    color: #FFF;
    text-align:center;
    font-variant: small-caps;
  }
  #build_unit_display{
    background-color: white;
    color: var(--main_color, #6e2639);
    border-bottom: 1px solid var(--main_color, #6e2639);
    border-right: 1px solid var(--main_color, #6e2639);
  }
  .class_types{
    padding-bottom: 1em;
    border-bottom: 1px solid var(--main_color, #6e2639);
  }
</style>

<div class='row'>
  <div id="teacher_controls" class="nav flex-column nav-pills col-2" role="tablist" aria-orientation="vertical">
    {{logo.logo_div() }}
    <h2 style="text-align: center;"><span id='user_name_header'></span>!</h2>
    <a class="nav-link active" id="class_tab" data-toggle="pill" href="#class_container" type="button" role="tab" aria-controls="class_container" aria-selected="true">Classes</a>
    <a class="nav-link" id="unit_tab" data-toggle="pill" href="#current_unit_container" type="button" role="tab" aria-controls="unit_container" aria-selected="false">Current Units</a>
    <a class="nav-link" id="expired_unit_tab" data-toggle="pill" href="#expired_unit_container" type="button" role="tab" aria-controls="expired_unit_container" aria-selected="false">Expired Units</a>
    <a class="nav-link" id="fixed_arena_tab" href="/teacher/fixed-arena">Secure Training Operation Center</a>
    <div  id="build_workout_widget" class="input-group unit_build_container">
      <div class="input-group-prepend container nav-item dropright" style="padding:0;">
        <a class="nav-link" onclick="to_build_page()" href="#">Build Unit</a>
        <a class="nav-link dropdown-toggle dropdown-toggle-split" id="unit_build_dropdown" href="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"></a>
        <div class="dropdown-menu" id="unit_select" style="overflow-y: auto;max-height:360px;" aria-labelledby="unit_build_dropdown" href="#">
          <option selected>Select unit type...</option>
          {% for workout in workout_titles %}
            {% if workout != 'attack' %}
              <option class="dropdown-item build_unit_type" value="{{workout}}">{{workout}}</option>
            {% endif %}
          {% endfor %}
        </div>
        <div class="selected_build_unit" style="align-items:center;justify-content:center; flex-grow:1;">
          <p class="nav-link" id="build_unit_display" style="display:none;margin:0;height:100%;width:100%;"></p>
        </div>
      </div>
    </div>
    <a id="sign-out" href="#" class='nav-link'>Sign out</a>
  </div>
  <div id='info_display' class='tab-content col'>
    <div class="tab-pane fade" id="current_unit_container" role="tabpanel" aria-labelledby="unit_tab">
      <h2>Your Currently Available Units</h2><br>
      <div id="current_unit_container" class="row card-columns">
        {% for workout_name, items in teacher_info['current_units']|groupby('workout_name') %}
        <div class="card unit-card col-lg-3 col-sm-12" onclick="show_current_units('{{loop.index}}')">
          <div class="card-body">
            <h5 class="card-title">{{workout_name}}</h5>
          </div>
        </div>
        <div class="modal fade" tabindex="-1" role="dialog" id="current_unit_{{loop.index}}">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5>{{workout_name}} Units</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <table class="table unit_table">
                  <thead>
                    <tr>
                      <th scope="col">Unit Name</th>
                      <th scope="col">Creation Date</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for unit in items%}
                    <tr>
                      {% if unit['build_type'] == 'arena'%}
                        <td>
                          <a href="/teacher/arena_list/{{unit.unit_id}}">{{unit.unit_name}}</a>
                        </td>
                      {% else %}
                        <td>
                          <a href="/teacher/workout_list/{{unit.unit_id}}">{{unit.unit_name}}</a>
                        </td>
                      {% endif %}
                      <td class="timestamp_field">
                        {{unit.timestamp}}
                      </td>
                    </tr>
                    {% endfor%}
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      {% endfor %}
      </div>
    </div>
    <div class="tab-pane fade" id="expired_unit_container" role="tabpanel" aria-labelledby="unit_tab">

      <h2>Expired Units</h2><br>
      <div id="expired_unit_container" class="row card-columns">
      {% for workout_name, items in teacher_info['expired_units']|groupby('workout_name') %}
        <div class="card unit-card col-lg-3 col-sm-12" onclick="show_expired_units('{{loop.index}}')">
          <div class="card-body">
            <h5 class="card-title">{{workout_name}}</h5>
          </div>
        </div>
        <div class="modal fade" tabindex="-1" role="dialog" id="expired_unit_{{loop.index}}">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5>{{workout_name}} Units</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <table class="table unit_table">
                  <thead>
                    <tr>
                      <th scope="col">Unit Name</th>
                      <th scope="col">Creation Date</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for unit in items%}
                    <tr>
                      {% if unit['build_type'] == 'arena'%}
                        <td>
                          <a href="/teacher/arena_list/{{unit.unit_id}}">{{unit.unit_name}}</a>
                        </td>
                      {% else %}
                        <td>
                          <a href="/teacher/workout_list/{{unit.unit_id}}">{{unit.unit_name}}</a>
                        </td>
                      {% endif %}
                      <td class="timestamp_field">
                        {{unit.timestamp}}
                      </td>
                    </tr>
                    {% endfor%}
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      {% endfor %}
      </div>
    </div>
    <div class="tab-pane fade active show" id="class_container" role="tabpanel" aria-labelledby="class_tab">
      <h2>Your Classes</h2>
      <div id="class_list" class="container">
        {% for class_type, items in teacher_info['classes'] | groupby('student_auth')%}
          <div id="{{class_type}}_class_container" class="class_container container">
            <div class="row class_types" style="margin-top: 1em;">
            {% if class_type == 'email' %}
              <h2>Registered Classes</h2>
            {% else %}
              <h2>Anonymous Classes</h2>
            {% endif %}
            {% for class in items %}
              <div class="class_container container" style="margin-top:1em;">
                <a class="btn class_header col-12" href="#" onclick="open_class_modal('{{class['class_id']}}')">{{class['class_name']}}</a>
                <div class="modal fade" tabindex="-1" role="dialog" id="class_modal_{{class['class_id']}}">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5>{{class['class_name']}}</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body container">
                        <ul class="nav nav-tabs" role="tablist">
                          <li class="nav-item">
                            <a class="nav-link active" id="class_{{class['class_id']}}_unit_tab" data-toggle="tab" href="#class_{{class['class_id']}}_units" role="tab" aria-controls="class_{{class['class_id']}}_units" aria-selected="true">Class Units</a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link" id="class_{{class['class_id']}}_roster_tab" data-toggle="tab" href="#class_{{class['class_id']}}_roster" role="tab" aria-controls="class_{{class['class_id']}}_units" aria-selected="false">Roster</a>
                          </li>
                        </ul>
                        <div class="tab-content" >
                          <div class="tab-pane fade show active" id="class_{{class['class_id']}}_units" role="tabpanel" aria-labelledby="class_{{class['class_id']}}_unit_tab">
                            {% if class['class_units'] %}
                            <table class="table unit_table">
                              <thead>
                                <tr>
                                  <th>Unit Name</th>
                                  <th>Workout Type</th>
                                  <th>Creation Date</th>
                                </tr>
                              </thead>
                              <tbody>
                                {% for unit in class['class_units'] %}
                                  <tr>
                                    <td>
                                      {% if unit['build_type'] != 'arena' %}
                                        <a href="/teacher/workout_list/{{unit['unit_id']}}">{{unit['unit_name']}}</a>
                                      {% else %}
                                        <a href="/teacher/arena_list/{{unit['unit_id']}}">{{unit['unit_name']}}</a>
                                      {% endif %}
                                    </td>
                                    <td>{{unit['workout_name']}}</td>
                                    <td class='timestamp_field'>{{unit['timestamp']}}</td>
                                  </tr>
                                {% endfor %}
                              </tbody>
                            </table>
                            {% else %}
                              <h6>There are no units for this class</h6>
                            {% endif %}
                          </div>
                          <div class="tab-pane fade" id="class_{{class['class_id']}}_roster" role="tabpanel" aria-labelledby="class_{{class['class_id']}}_roster_tab">
                            <ul class="list-group" style="list-style-type: none;">
                              {% for student in class['roster'] %}
                                {% if class['student_auth'] == 'anonymous' %}
                                <div class="anon_student">
                                  <li class="list-group-item student-name" id="student_{{student}}">{{student}} <a href="#" onclick="show_student_name_form('{{student}}', '{{class['class_id']}}')">Change Name</a></li>
                                </div>
                                {% else %}
                                  <div class="registered_student">
                                    <li class="list-group-item student-name" id="student_{{student['student_name']}}">
                                      <p>{{student['student_name']}}, {{student['student_email']}}
                                          <a href="#" onclick="show_student_name_form('{{student['student_name']}}', '{{class['class_id']}}')">Change Name</a>
                                      </p>
                                    </li>
                                  </div>
                                {% endif %}
                              {% endfor %}
                            </ul>
                            <div class="roster_controls container" >
                              <div class="row" style="margin-top: 1em;justify-content: space-around; flex-direction: column;">
                                <a class="add_student_link btn" href="#" onclick="add_new_student('{{class['class_id']}}', '{{class['student_auth']}}')">Add New Student</a><br>
                                {% if class['student_auth'] == 'email' %}
                                  <a class="add_multiple_students_link btn" href="#" data-toggle="modal" data-target="#multiple_registered_students_modal" onclick="prepare_multi_student_form('{{class['class_id']}}')">Add Multiple Students</a><br>
                                {% else %}
                                  <a class="add_multiple_students_link btn" href="#" data-toggle="modal" data-target="#multiple_anonymous_students_modal" onclick="prepare_multi_student_form('{{class['class_id']}}')">Add Multiple Students</a><br>
                                {% endif %}
                                <a class="remove_student_link btn" href="#" onclick="remove_student('{{class['class_id']}}')">Remove Student</a>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="modal-footer">
                        <a class="btn" href="/teacher/api/remove_class/{{class['class_id']}}">Delete Class</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            {% endfor %}
            </div>
          </div>
        {% endfor%}
      </div>
      <div class="container create_new_class_container" style="margin-top: 2em;">
        <div class="row" style="justify-content: center;">
          <a style="width:50%!important;text-align:center;" class='btn' data-toggle='collapse' href='#create_class_form'>Create New Class</a>
        </div>
        <div class="row" style="justify-content:center;">
          <div id='create_class_form' class='collapse user_info'>

            <form action="/teacher/api/create_new_class" method="POST">
              <input name="class_name"id="class_name_input" type="text"/>
              <label for="class_name_input">Class Name (for future reference)</label>

              <div id="class_student_count_div">
                <input name="num_students" id="num_students_input" type="number"/>
                <label for="num_students_input">Number of students</label>
              </div>

              <select onchange="change_student_auth(this.value)" name="student_auth" id="student_auth_select" style="display: block;">
                <option value="anonymous" selected>Anonymous (no login required)</option>
                <option value="email">Registered (requires email address)</option>
              </select>
              <label for="student_auth_select">Student Authentication Method</label>

              <input name="teacher_email" type="hidden" id='class_creation_teacher_id'/>
              <br>
              <button class="btn" type="submit">Submit</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="multiple_registered_students_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add Multiple Students</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>To add multple students, enter their names and emails separated by a comma. For example: </p>
        <p>John Smith, johnsmith@example.com<br>Jane Doe, jane.doe@example.com</p>
        <form id="add_multiple_student_form">
          <input type="hidden" class="multi_student_addition_classId" name="class_id" value=""/>
          <textarea id="new_registered_student_list" name="new_student_list" rows="10"></textarea>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" onclick="post_multiple_students('email')" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="multiple_anonymous_students_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add Multiple Students</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>To add multple students, enter their names in this list, with each student on their own line. For example: </p>
        <p>John Smith<br>Jane Doe</p>
        <form id="add_multiple_student_form">
          <input type="hidden" class="multi_student_addition_classId" name="class_id" value=""/>
          <textarea id="new_anonymous_student_list" name="new_student_list" rows="10"></textarea>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" onclick="post_multiple_students('anonymous')" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
    </div>
    <!-- <h2 style='text-align: center;'>Your Units</h2> -->
  </div>
</div>

{% endblock %}
