<!DOCTYPE html>
<html lang="en" class="home-background-image">
<head>
	<title>Totally Not Malware</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" href="/static/imgs/icons/shuttle-launch.ico"/>

    <link rel="stylesheet" type="text/css" href="/static/vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/static/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/static/fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
    <link rel="stylesheet" type="text/css" href="/static/vendor/animate/animate.css">
	<link rel="stylesheet" type="text/css" href="/static/vendor/css-hamburgers/hamburgers.min.css">
    <link rel="stylesheet" type="text/css" href="/static/vendor/animsition/css/animsition.min.css">
    <link rel="stylesheet" type="text/css" href="/static/vendor/select2/select2.min.css">
	<link rel="stylesheet" type="text/css" href="/static/vendor/daterangepicker/daterangepicker.css">
    <link rel="stylesheet" type="text/css" href="/static/stylesheets/util.css">
	<link rel="stylesheet" type="text/css" href="/static/stylesheets/main.css">

</head>
<body class="home-background">
     <div class="home-body-title">
        <header class="home-body-header outset">
            <h1>TOTALLY NOT MALWARE.CON</h1>
        </header>
    </div>
    <div id="nav-bar" class="hook-body-nav">
            <ul class="nav">
                <li class="nav"><a class="li.nav.active" href="/nope">Home</a></li>
                <!--<li class="nav"><a class="li.nav.active" href="/about">About</a></li> -->
                <li class="nav"><a class="li.nav.active" href="/nope">Logout</a></li>
            </ul>
    </div>
    <div class="malware-body-div">
        <h1 style="color: #fff7fb;">Thanks for downloading our product!</h1>
        <p><br>This will only take a few moments ...</p>
        <span class="hook-body-div-txt">
            <img align="left" src="/static/imgs/loadingbar2.gif" id="loading">
        </span>
    </div>

     <!-- Footer -->
     <footer>
         <div class="container">
             Copyright &copy; UA Little Rock Cyber Gym 2019
         </div>
     </footer>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="/static/vendor/jquery/jquery-3.2.1.min.js"></script>
    <script src="/static/vendor/animsition/js/animsition.min.js"></script>
    <script src="/static/vendor/bootstrap/js/popper.js"></script>
	<script src="/static/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="/static/vendor/select2/select2.min.js"></script>
    <script src="/static/vendor/daterangepicker/moment.min.js"></script>
	<script src="/static/vendor/daterangepicker/daterangepicker.js"></script>
    <script src="/static/vendor/countdowntime/countdowntime.js"></script>
    <script src="/static/js/main.js"></script>

</body>
</html>