html, body {
    height: 100%;
    margin: 0;
  }
body {
    background: black;
    display: flex;
    align-items: center;
    justify-content: center;
  }
canvas {
    border: 1px solid white; background-color:gold;
  }
#p1 {
    color:red;
	position:fixed;
	left:6em;
	top:2em;
  }
#p2 {
    color:red;
	position:fixed;
	left:6em;
	top:3em;
  }
#score {
    color:yellow;
    position:fixed;
	left:10em;
	top:2em;
  }
#high {
    color:yellow;
    position:fixed;
	left:12em;
	top:3em;
  }
#message {
    color: white;
    position:fixed;
    left:50%;
    top:0.5em;
    transform: translate(-50%, 0px);
}
#bonus {
    color:red;
    position:fixed;
    left:50%;
    top:2em;
    transform: translate(-50%, 0px);
}
#bonus2 {
    color:red;
    position:fixed;
    left:50%;
    top:3em;
    transform: translate(-50%, 0px);
}
#bonus3 {
    color:red;
    position:fixed;
    left:50%;
    top:4em;
    transform: translate(-50%, 0px);
}
#flag {
    color:white;
    position:fixed;
    left:50%;
    top:5em;
    transform: translate(-50%, 0px);

}