{% block title %}<title>Arena Snake</title>{% endblock %}
{% block header %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/arena_snake.css') }}">
{% endblock %}
{% block page_content %}
    <p id="message">You only need a score of 100,000 to get the flag. Good luck!</p>
    <p id="flag"></p>
    <p id="p1">SCORE: </p>
    <p id="p2">HIGHSCORE: </p>
    <p id="score"></p>
    <p id="high"></p>
    <canvas width="400" height="400" id="game"></canvas>
{% endblock %}
{% block js_block %}
<script src="{{ url_for('static', filename='js/arena_snake.js') }}" type="text/javascript"></script>
{% endblock %}