{% extends "base.html" %}
{% import "logo_macro.html" as logo %}
{% import "vuln_macros.html" as vuln_macros %}
{% block title %}Unit {{ unit.key.name }}{% endblock %}

{% block content %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('teacher_app.static', filename='css/workout_list_styles.css') }}">
    <script type = "text/javascript" src = "{{ url_for('teacher_app.static', filename = 'js/script.js') }}" ></script>
    <script type="text/javascript" src="{{url_for('teacher_app.static', filename='js/teacher_utils.js')}}" ></script>
    <div class="row">
        <div class='controls col-lg-2' style="border: 1px solid black">
            {{ logo.logo_div() }}
            {% if unit['build_type'] == "compute" %}
            <div class="control_button">
                <form action="/teacher/start_all" method="post">
                    <div class="input-field" >
                        <label>How long should the workout run (1 - 10 hours)?</label>
                        <input type="hidden" id="unit_id" name="unit_id" value="{{ unit.key.name }}">
                        <input type="number" id="time" name="time" value="2" min="1" max="10" style="margin-top:1em;text-align:center;">

                    </div>
                    <div class="btn-ctn">
                            <button type="submit" id="start-vm" class="waves-effect waves-light btn" >START WORKOUTS</button>
                    </div>
                </form>
            </div>
            <div class="control_button">
                <form action="/teacher/stop_all" method="post">
                    <input type="hidden" id="unit_id" name="unit_id" value="{{ unit.key.name }}">
                    <div class="btn-ctn ">
                            <button id="stop-vm" class="waves-effect waves-light btn" >STOP WORKOUTS</button>
                    </div>
                </form>
            </div>
            <div class="control_button">
                <form action="/teacher/reset_all" method="post">
                    <input type="hidden" id="unit_id" name="unit_id" value="{{ unit.key.name }}">
                    <div class="btn-ctn">
                            <button id="reset-vm" class="waves-effect waves-light btn" >RESET WORKOUTS</button>
                    </div>
                </form>
            </div>
            
            {% endif %}
            
            {% if unit['workout_author'] %}
                <div id="author">
                Author: {{ unit['workout_author']}}
                </div>
            {% endif %}
              
             {% if 'nice_standards' in unit and unit['nice_standards'] %}
             {% for standards in unit['nice_standards'] %}
                {% for key, values in standards.items() %}
                    <div id="standards">
                    {% if key != 'link' %}
                        {{key}}: {{values}}
                    {% endif %}
                    </div>
                {% endfor %}
            {% endfor %}
            {% endif %}
            <hr>
            <a href="/teacher/home" class="btn">Home</a>
        </div>
        <div class='landing_content container col-lg-10' style="margin-top:1em;padding:1em;" onload="check_workout_status('{{ unit.key.name }}')">
            <ul class="nav nav-tabs mb-3" id="unit-nav-tabs" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link active" id="nav-info-tab" data-toggle="tab"
                            data-target="#info-container" type="button" role="tab" aria-controls="nav-info"
                            aria-selected="true">Workout Info</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="nav-attack-tab" data-toggle="tab"
                            data-target="#vuln-container" type="button" role="tab" aria-controls="nav-attacks"
                            aria-selected="false">Attack Builder</button>
                </li>
            </ul>
            <div class="tab-content" id="nav-tabContent">
                <div id="vuln-container" class="tab-pane fade" aria-labelledby="nav-attack-tab"  style="margin-top: 1em; padding: 1em;">
                    <!--Holds both form builder and attack results table-->
                    <div id="vuln-templates-container">
                         <table class="table table-hover" id="vuln-templates-table">
                             {{ vuln_macros.display_vulns(attack_spec.attack) }}
                         </table>
                        <div id="vuln-template-btn-div">
                            <button id='vuln-template-btn' class="btn btn-sm" type="button" disabled hidden>Select Template</button>
                        </div>
                    </div>
                    <div id='vuln-form-modal' class="modal" tabindex="-1" role="dialog">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title">Attack Template Form</h5>
                                    <button type="button" class="close cancel-form" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <form id="vuln-template-form" name="vuln-template-form" method="post" action="/teacher/api/{{ unit.key.id }}/vuln/build">
                                        <div id="vuln-template-args"></div>
                                        {{ vuln_macros.target_network('vuln-template-form', workout_list, unit.registration_required) }}
                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <button type="submit" class="btn btn-primary" form="vuln-template-form">Submit</button>
                                    <button type="button" class="btn btn-secondary cancel-form" data-dismiss="modal">Cancel</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="attack-results-container">
                        <!-- TODO: Build a TABLE that shows list of all attacks for current unit
                                    Table can be filtered based on status, attack_type, timestamp(?)-->
                        <table id="attack-results-table" class="table">
                            <thead>
                            <tr>
                                <th>Status</th>
                                <th>Mode (Inject or Attack)</th>
                                <th>AttackID</th>
                                <th>Type</th>
                                <th>Network</th>
                                <th>Time (Start)</th>
                                <th>Args</th>
                            </tr>
                            </thead>
                        </table>
                    </div>
                </div>
                <div id="info-container" class="tab-pane fade show active" role="tabpanel" aria-labelledby="nav-info-tab">
                    <h2>Description</h2>
                    <p>{{ unit['description'] }}</p>
                    {% if teacher_instructions %}
                        <a href="{{ teacher_instructions }}" target="_blank" rel="noopener noreferrer">Teacher Instructions</a>
                    {% endif %}
                    <p>To begin, click on an available team below. It may take several minutes before workouts are available </p>
                    <div id="distribution_container" style="margin-top:2em; margin-bottom:1em;">
                        <h2>Distribution</h2>
                        <p>Otherwise, click the button below to copy all the student links to your clipboard (from top to bottom). You can then paste them into a column in a spreadsheet.</p>
                        {% if unit['registration_required'] %}
                            <p>Students in this unit will have a link to their registered workout from their home page.</p>
                        {% else %}
                            <p>To allow students to register themselves for this unit, send them the following link: <span id="registration_link" style="color:blue">{{main_app_url}}/student/{{unit.key.name}}/signup</span></p>
                            <p>This will allow students to claim unnamed workouts, as well as provide their own names.</p>
                        {% endif %}
                        <a onclick="copy_student_links()" href="#" class="btn" style="width:50%;">Copy Student Links</a>
                        <p id="copy_link_text" style="display:none;">Links Copied!<br>You can paste the links into a column in a spreadsheet. Links are copied in order from top to bottom</p>
                    </div>
                    <table class="table">
                        <thead>
                            <tr>
                            <th>Status</th>
                            <th>Student Name</th>
                            <th>Workout ID <br><small>Click to view student landing page</small></th>
                            <th>Assessment Submissions</th>
                            <th>Manage</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for workout in workout_list %}
                                <tr>
                                    <td id="state-container-{{workout.name}}" class="status-indicator-container" data-toggle="tooltip" title="{{workout.state}}"><span class="status-indicator" id="status-indicator-{{workout.name}}" data-workout-state="{{workout['state']}}"></span></td>
                                    {% if workout['student_name'] %}
                                        {% if unit['registration_required'] %}
                                            <td id="workout_student_name_{{workout.name}}">{{workout['student_name']['student_name']}}</td>
                                        {% else %}
                                            <td id="workout_student_name_{{workout.name}}">{{workout['student_name']}}</td>
                                        {% endif %}
                                    {% else %}
                                        <td>Student {{loop.index}}</td>
                                    {% endif %}
                                    <td><a class="workout-link" href="/student/landing/{{workout.name}}">{{workout.name}}</a></td>
                                    <td>
                                        {% if workout["submitted_answers"] or workout['auto_answers'] or workout['uploaded_files'] %}
                                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal_{{workout.name}}">
                                                View Submissions
                                            </button>
                                            <div class="modal fade" id="modal_{{workout.name}}" tabindex="-1" role="dialog" style="box-shadow:none;background-color:transparent;" aria-labelledby="ModalLabel_{{workout.name}}" aria-hidden="true">
                                                <div class="modal-dialog" role="document">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                        <h5 class="modal-title" id="ModalLabel_{{workout.name}}">Assessment results for {{workout.name}}</h5>
                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                            <span aria-hidden="true">&times;</span>
                                                        </button>
                                                        </div>
                                                        <div class="modal-body">
                                                            <ul class="nav nav-pills" style='justify-content: space-around;'>
                                                                {% if workout['submitted_answers'] %}
                                                                <li><a data-toggle="pill" class='btn' href="#text_input_{{workout.name}}" style='width:100%;'>Text Answers</a></li>
                                                                {% endif %}
                                                                {% if workout["uploaded_files"] %}
                                                                <li><a data-toggle="pill" class='btn' href="#file_uploads_{{workout.name}}" style='width:100%;'>File Uploads</a></li>
                                                                {% endif %}
                                                                {% if workout["auto_answers"] %}
                                                                <li><a data-toggle="pill" class="btn" href="#auto_assessment_{{workout.name}}" style='width:100%;'>Auto Complete Progress</a></li>
                                                                {% endif %}
                                                            </ul>
                                                            <div class='tab-content'>
                                                                {% if workout['submitted_answers'] %}
                                                                    <div id='text_input_{{workout.name}}' class='tab-pane fadeIn'>
                                                                        <table class="table">
                                                                            <tr>
                                                                                <th>Question</th>
                                                                                <th>Submitted Answer</th>
                                                                                <th>Key</th>
                                                                            </tr>
                                                                            {% for question in workout["submitted_answers"] %}
                                                                                <tr>
                                                                                    <td>{{question['question']}}</td>

                                                                                    <td>Answer: {{question['answer']}}</td>
                                                                                    {% for full_question in workout['assessment']['questions'] %}
                                                                                        {% if full_question['question'] == question['question'] %}
                                                                                        <td>{{full_question['answer']}}</td>
                                                                                        {% endif%}
                                                                                    {% endfor %}
                                                                                </tr>
                                                                            {% endfor %}
                                                                        </table>
                                                                    </div>
                                                                {% endif %}
                                                                {% if workout['uploaded_files'] %}
                                                                    <div id='file_uploads_{{workout.name}}' style='text-align:center;' class="tab-pane fade">
                                                                        <div class='upload_view'>
                                                                    {% for question in workout['uploaded_files'] %}
                                                                        <li>{{question['question']}}</li>
                                                                        <img class="img-fluid" src="{{question['storage_url']}}">
                                                                    {% endfor %}
                                                                        </div>
                                                                    </div>
                                                                {% endif %}
                                                                {% if workout['auto_answers'] %}
                                                                    <div id='auto_assessment_{{workout.name}}' class='tab-pane fade'>
                                                                        <ol>
                                                                        {% for question in workout['auto_answers'] %}
                                                                            <li>{{question['question']}}:
                                                                                {% if question['complete'] %}
                                                                                <span style='color:green;'>Complete</span>
                                                                                {% else %}
                                                                                <span style='color:red;'>Not completed</span>
                                                                                {% endif %}
                                                                            </li>
                                                                        {% endfor %}
                                                                        </ol>
                                                                    </div>
                                                                {% endif %}
                                                            </div>
                                                        </div>
                                                        <div class="modal-footer" style="justify-content:center;">
                                                            <button type="button" class="btn" data-dismiss="modal">Close</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        {% else %}
                                            No Submissions
                                        {% endif %}
                                    </td>
                                    <td>
                                        <button class="btn btn-primary" data-toggle="modal" data-target="#manage_workout_{{workout.name}}">Manage</button>

                                        <div class="modal fade" id="manage_workout_{{workout.name}}" tabindex="-1" role="dialog" aria-labelledby="ModalLabel_{{workout.name}}" aria-hidden="true">
                                            <div class="modal-dialog" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h4 class="modal-title">Manage Workout {{workout.name}}</h4>
                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                            <span aria-hidden="true">&times;</span>
                                                        </button>
                                                    </div>
                                                    <div class="modal-body">

                                                        <div class="change_student_name">
                                                            <h5 style="text-align:left">Change Student Name</h5>
                                                            <input id='name_change_field_{{workout.name}}' name="new_name" placeholder="Enter new student name" type="text" style="margin-bottom: 1em;"/>
                                                            <a onclick="change_student_name('{{workout.name}}')" class="btn">Change</a>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div id="loading-msg"></div>
    <script>
        // Vulnerability Builder Functions
        $(document).ready(function(){
            // TODO: Remove display number rows option; Set default value to 10 with overflow being sent to
            //       new page
            $('#vuln-templates-table').DataTable({
                "paging": false,
                "bInfo": false,
                "columns": [
                    {searchable: true, orderable: true},
                    {searchable: true, orderable: false},
                    {searchable: true, orderable: true},
                    {searchable: false, orderable: false},
                ],
                "dom": '<"table_title">frtip',
            });
            $("div.table_title").html('<h3>Select an Attack Template: </h3>');

            var selectedID = '';
            // Handle attack template table clicks
            $('#vuln-templates-table tr').click(function(){
                var row = $(this);
                var checkmark = $(this).find('span');
                var vulnBtn = $('#vuln-template-btn');
                if (row.attr("id") !== 'vuln-table-header'){
                    // Current template is deselected
                    if (row.hasClass('selected')){
                        row.removeClass('selected');
                        checkmark.removeClass('checkmark');
                        vulnBtn.prop('disabled', true);
                        vulnBtn.prop('hidden', true);
                    }
                    // A different row is selected
                    else {
                        row.addClass('selected').siblings().removeClass('selected');
                        row.siblings().find('span').removeClass('checkmark');
                        checkmark.addClass('checkmark');
                        selectedID = row.attr('id');
                        vulnBtn.prop('disabled', false);
                        vulnBtn.prop('hidden', false);
                    }
                }
            });
            // Send request to server for attack template and build form
            $('#vuln-template-btn').on('click', function(e){
                $.ajax({
                    type: 'POST',
                    contentType: 'application/json;charset=utf-8',
                    traditional: true,
                    url: '/teacher/api/vuln/templates/filter',
                    data: JSON.stringify({'attack_id': selectedID}),
                    dataType: 'json',
                    success: function (data){
                        // reset selectedID value to NULL
                        build_form(data, selectedID);
                    }
                })
            });

            // Resets form if modal close or cancel buttons are clicked
            $('button.cancel-form').click(function(){
                var table = $('#vuln-templates-table');
                table.find('.selected').removeClass('selected');
                table.find('.checkmark').removeClass('checkmark');
                remove_fields('vuln-template-btn');
            });

            // Vuln form listener
            $('#vuln-template-form').submit(function(e){
                e.preventDefault();
                let post_url = $(this).attr('action');
                let request_method = $(this).attr("method");
                let serialized = $(this).serialize().split("&");

                // build json object from serialized form
                var form_data = {}
                for (var key in serialized){
                    form_data[serialized[key].split("=")[0]] = serialized[key].split("=")[1];
                }
                console.log(form_data);
                $('#vuln-form-modal').modal('hide');
                $.ajax({
                    type: request_method,
                    contentType: 'application/json;charset=utf-8',
                    traditional: true,
                    url: post_url,
                    data: JSON.stringify(form_data),
                    processData: false,
                    dataType: "json",
                    success: function (data){
                        console.log(data);
                    },
                    error: function(jqXHR, textStatus, errorThrown){
                        console.log(textStatus);
                        console.log(errorThrown);
                    }
               });
            });
        });
        // Builds form with data received from vuln-template-table POST request
       function build_form(data){
            var vulnForm = $('#vuln-template-args');
            // First clean up any old form values
           document.getElementById('vuln-template-args').innerHTML = '';

           // Create field for attack_id
           var aid_div = document.createElement('div');
           aid_div.className = 'form-group';
           // Attack ID Input
           var aid_input = document.createElement('input');
           aid_input.type = 'text';
           aid_input.name = 'attack_id';
           aid_input.value = data.id;
           aid_input.readOnly = true;
           aid_input.className = 'readOnly';
           // Attack ID label
           var aid_label = document.createElement('label');
           aid_label.htmlFor = 'attack_id';
           aid_label.innerText = 'Attack ID: ';
           // Add fields to form
           aid_div.appendChild(aid_label);
           aid_div.appendChild(aid_input);
           vulnForm.append(aid_div);

            // Create arg label and select field
           for (var arg = 0; arg < data.args.length; arg++){
               if (data.args[arg].id !== 'target_network'){
                   // Create wrapper div
                   var arg_div = document.createElement('div');
                   arg_div.className = 'form-group';
                   // Create arg select field
                   var arg_select = document.createElement("select");
                   arg_select.name = data.args[arg].id;
                   arg_select.id = data.args[arg].id;
                   // Create arg label
                   var arg_label = document.createElement('label');
                   arg_label.htmlFor = data.args[arg].id;
                   arg_label.textContent = data.args[arg].name + ':';
                   if ('Choices' in data.args[arg]){
                       for (var i = 0; i < data.args[arg].Choices.length; i++){
                            var option_i = document.createElement('option');
                            var option_key = Object.keys(data.args[arg]['Choices'][i])[0];
                            option_i.name = option_key;
                            option_i.value = option_key.toString();
                            option_i.textContent = option_key;

                            // check for default value
                            var current_choice = data['args'][arg]['Choices'][i];
                            if (current_choice === data.args[arg].default){
                                option_i.defaultSelected = true;
                            }
                            arg_select.appendChild(option_i);
                       } // end Choices for loop
                       // Append generated fields to form
                       arg_div.appendChild(arg_label);
                       arg_div.appendChild(arg_select);
                       vulnForm.append(arg_div);
                   }
               }  // end !target_network
           } // end args for loop
           // Form is built; Toggle form modal
            $('#vuln-form-modal').modal();
       }
       function remove_fields(ele_id, clear=false){
           var rem_elem = $('#' + ele_id);
           rem_elem.prop("disabled", true);
           rem_elem.prop("hidden", true);

           // Cases where we want to remove old form artifacts,
           // i.e Template filter buttons
           if (clear === true){
               rem_elem.innerHTML = "";
           }
       }

       // Workout functions
        $(document).ready(function(){
            $('.status-indicator-container').tooltip();
            $("form").submit(function(){
                if (this.name !== 'vuln-template-form'){
                    $('#start-vm').attr('disabled','disabled');
                    $('#stop-vm').attr('disabled','disabled');
                    $('#reset-vm').attr('disabled','disabled');
                    $("#loading-msg").html('Please wait while the process completes' +
                        '</br><div class="loader"></div>');
                }
            });
            check_workout_status("{{unit.key.name}}");
            setInterval(function(){
                check_workout_status( "{{ unit.key.name }}");
            }, 30000);
        });
        function check_workout_status(unit_id){
            $.ajax({
                type: "POST",
                contentType: "application/json;charset=utf-8",
                url: "/teacher/workout_list/" + unit_id,
                traditional: "true",
                data: JSON.stringify({
                    "unit_id": unit_id,
                }),
                dataType: "json",
                success: function(data){
                    for (i = 0; i < data.length; i++){
                        var workout_state_indicator = document.getElementById('status-indicator-' + data[i]['name']);
                        var state = data[i]['state'].toString();
                        if (workout_state_indicator.dataset.workoutState != state){
                            $("#state-container-" + data[i]['name']).tooltip('dispose').attr('title', state).tooltip({title: state});
                        }
                        workout_state_indicator.dataset.workoutState = data[i]['state'];
                    }
                },
            });

        }
    </script>
{% endblock %}
