{% extends 'pages/main_page.jinja' %}
{# This is a Jinja comment! #}
{#
Anything commented out will not be included in the HTML rendered by the
Jinja template engine
#}

<!--
This is an HTML comment.  It will be included in the HTML rendered
by the Jinja template engine
-->

{% block content %}
<div>
    <h3>URL Data</h3>
    <p>Whatever you put after the slash in the URL above will go below, but it will be all lowercase:</p>
    <h4>{{ url_data }}</h4>
</div>
{% endblock %}