{% extends 'pages/main_page.jinja' %}

{% block content %}
<div class="row">
    <div class="col-6">
        {% if error_message %}
            <div class="alert alert-danger">{{ error_message }}</div>
        {% endif %}
        <h4>Use My Form!</h4>
        <form method="POST" action="{{ request.path }}">
            <div class="form-group">
                <label for="text_input">Text Input:</label>
                <input type="text" class="form-control form-control-sm" id="text_input" name="text_input" />
            </div>
            <div class="form-group">
                <label for="select_input">Select Input:</label>
                <select class="form-control form-control-sm" id="select_input" name="select_input">
                    <option value="-1">-- CHOOSE --</option>
                    <option value="1">Option #1</option>
                    <option value="2">Option #2</option>
                    <option value="3">Option #3</option>
                </select>
            </div>
            <input type="submit" class="btn btn-sm btn-primary" value="Submit Me!" id="button_submit" />
        </form>
    </div>
    <div class="col-6">
        {% if last_input %}
            <h4>You Entered:</h4>
            <p>
            {{ last_input.text_input }}
            </p>
            <h4>And Choose:</h4>
            <p>
            Option #{{ last_input.select_input }}
            </p>
        {% endif %}
    </div>
</div>
{% endblock %}

{% block js_block %}
<script type="text/javascript" src="/static/js/simple_form.js"></script>
{% endblock %}