<!DOCTYPE html>
<html>
<title> UA Little Rock: Classified</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="{{ url_for('static',    filename='css/template.css') }}">
<body>
<div class="bgimg w3-display-container w3-animate-opacity w3-text-white">
  <div class="w3-display-topleft w3-padding-large w3-xlarge">
    UA Little Rock Cyber Gym
  </div>
  <div class="w3-display-middle">
    <h1 class="w3-jumbo w3-animate-top">UA Little Rock: Classified</h1>
    <hr class="w3-border-grey" style="margin:auto;width:40%">
    <button class="centerbutton" onclick="document.getElementById('id01').style.display='block'">Login</button>
  </div>
<div id="id01" class="modal">

  <form class="modal-content animate" action="{{url_for('do_admin_login')}}" method="POST">
    <div class="imgcontainer">
      <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">&times;</span>
      <img src="/static/CyberGymClassified.png" alt="Avatar" class="avatar">
    </div>

    <div class="container" >
      <label for="username"><b>Username</b></label>
      <input type="text" name="username" placeholder="Enter Username"required>

      <label for="password"><b>Password</b></label>
      <input type="password" placeholder="Enter Password" name="psw" required>

      <button type="submit">Login</button>

    </div>

    <div class="container" style="background-color:#f1f1f1">
      <button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn">Cancel</button>
    </div>
  </form>
</div>
  </div>

<script>
// Get the modal
var modal = document.getElementById('id01');

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
    if (event.target == modal) {
        modal.style.display = "none";
    }
}
</script>

</body>
</html>