<!DOCTYPE html>
{% autoescape false %}
<html>
<head>
    <title>Classified Cross-Site Scripting</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
</head>
<body>
<header>
    <div>
        <h1 style ="text-align:center; color:white;"> Something Secret XSS </h1>
    </div>
</header>
    <div class="container mt-0">
        <div style="border-radius:25px;background-color:whitesmoke; height:auto; width:80%; box-shadow:2px 5px;
             border: 1px solid;" class="mx-auto d-block">
            <div style="padding:1.5em 1.5em 0;height:auto;">
                <h1>Hello, {{ name }}! I have a {{ bad_request }} for you!</h1>
                <form name="XSS" action="#" method="POST">
                    <p> Not a stranger? What's your name?
                        <input type="text" name="name" autocomplete="off">
                        <input type="submit" value="Submit">
                    </p>
                </form>
            </div>
        </div>
    </div>
</body>
</html>
{% endautoescape %}
