{% macro contact_us() %}
    <!-- Modal -->
    <div id="modalContactUs" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Help Form</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <form id='contact-form' class="form" action='{{ url_for("leave_comment") }}' method="POST" enctype="multipart/form-data">
                        <div class="form-group">
                            <div class="input-group input-group-sm mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="user-email">Email</span>
                                </div>
                                <input type="text" class="form-control" aria-label="Email"
                                       aria-describedby="user-email" name="email" required>
                            </div>
                            <div class="input-group input-group-sm mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="email-subject">Subject</span>
                                </div>
                                <input type="text" class="form-control" aria-label="Subject"
                                       aria-describedby="email-subject" name="subject" required>
                            </div>
                            <div class="input-group input-group-sm mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="email-comment">Comment</span>
                                </div>
                                <textarea type="text" class="form-control" aria-label="Comment"
                                          aria-describedby="email-comment" name="comment" required>
                                </textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="Image">Please include an image of any errors</label>
                            <input type="file" id="image" name="image">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <input class="btn btn-fa" type="submit" form='contact-form' value="Submit">
                </div>
            </div>
        </div>
    </div> <!-- End Modal -->
{% endmacro %}