{% macro logo_div() -%}
    <div class='image-container'>
        <img onerror='this.src="{{ url_for('static', filename='imgs/cyber-arena-logo-v2.png') }}"'
             class="img-fluid nav-img" src="https://storage.googleapis.com/{{ project }}_cloudbuild/logo/logo.png"
             alt="UA Little Rock Cyber Gym Logo"/>
    </div>
{%- endmacro %}
{% macro cln_logo_div() -%}
    <div class='image-container'>
        <img onerror='this.src="{{ url_for('static', filename='imgs/CyberLearnLogo.png') }}"'
             class="img-fluid nav-img" src="https://storage.googleapis.com/{{ project }}_cloudbuild/logo/CyberLearnLogo.png"
             alt="CyberLearn Logo"/>
    </div>
{%- endmacro %}