{% extends "v2-base.html" %}
{% import 'macros/logos.html' as logo %}
{% import 'macros/manage_user.html' as manage_user %}
{% import 'macros/tables.html' as tables %}
{% import 'macros/contact_us.html' as forms %}
{% block title %}Admin Home{% endblock %}
{% block nav_title %}Admin Home{% endblock %}
{% block styles %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('admin.static', filename='css/v2-admin.css') }}">
{% endblock styles %}
{% block navbar %}
    <div class="navbar-nav mr-auto">
        <ul class="nav nav-pills top-navbar-pill">
            <li class="nav-item">
                <a href="{{ url_for('home') }}" class="nav-link text-center">Cyber Arena</a>
            </li>
            <li class="nav-item">
                <a href="{{ url_for("fixed_arena.home") }}" class="nav-link text-center">STOC</a>
            </li>
            {% if auth_list.admin %}
                <li class="nav-item">
                    <a href='{{ url_for("admin.home") }}' class="nav-link text-center">Admin Home</a>
                </li>
            {% endif %}
        </ul>
    </div>
    <div class="navbar-nav navbar-right">
        <ul class="nav nav-pills top-navbar-pill">
            <li class="nav-item m-l-r-3">
                <a id="contact-us" class="nav-item btn top-navbar-btn" href='#' data-toggle="modal"
                   data-target="#modalContactUs"><i class="fa fa-envelope-o icon-light"></i>Contact Us</a>
            </li>
        </ul>
        <div class="dropdown">
            <ul class="nav nav-pills top-navbar-pill">
                <li class="nav-item m-l-r-3">
                    <button id="banner" class="nav-item btn top-navbar-btn" data-toggle="dropdown">
                        <span id="user">Anonymous User</span><i class="fa fa-caret-down ml-1"></i></button>
                    <ul class="dropdown-menu m-l-r-3 dropdown-menu-hover">
                        <li class="nav-item m-l-r-3 text-center">
                            <a id="settings" class="nav-item btn" href="/teacher/settings" style="width: 100%;">Settings</a>
                        </li>
                        <li class="nav-item m-l-r-3 text-center">
                            <a id="sign-out" class="nav-item btn" style="width: 100%;">Sign Out</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
{% endblock %}
{% block content %}
    <script type="text/javascript" src='{{ url_for("static", filename="js/login.js") }}'></script>
    <script type="text/javascript" src='{{ url_for("static", filename="js/main_app.js") }}'></script>
    <script type="text/javascript" src='{{ url_for(".static", filename="js/v2-admin.js") }}'></script>
    <script>
          var teacher_email = null;
          var auth_config = {
              apiKey: '{{ auth_config["api_key"] }}',
              authDomain: '{{ auth_config["auth_domain"] }}',
              projectId: '{{ auth_config["project_id"] }}'
          };
          initApp(auth_config).then(value => {
              enable_signout();
               // Set welcome banner
              const welcome_nav = document.getElementById('user');
              welcome_nav.textContent = value['display_name'];
              teacher_email = value['email'];
          });
          $(document).ready(function() {
               // Call functions that need to be run during initial page load here
               let tsToDate = new TimestampToDate();
               tsToDate.convert_timestamps();
           });
    </script>
     <div id="content-row" class="row row-offcanvas row-offcanvas-left vh-100">
        <div id="sidebar-div" class="position-fixed col-md-3 col-lg-2 order-0 sidebar-offcanvas h-100 overflow-auto nav-sidebar" role="navigation" style="top: 50px;">
            <ul id="sidebar-nav" class="nav nav-pills flex-column sticky-top pl-0 mt-3" role="tablist">
                <li>{{ logo.logo_div() }}</li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link active" id="user-manage-btn" data-toggle="pill"
                            data-target="#user-manage-tab" type="button" role="tab"
                            aria-controls="user-manage-tab" aria-selected="true">User Management</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="active-units-btn" data-toggle="pill"
                            data-target="#active-units-tab" type="button" role="tab"
                            aria-controls="active-units-tab" aria-selected="false">Active Units</button>
                </li>
            </ul>
        </div> <!-- End sidebar-menu div -->
        <main class="col offset-2 main pt-3 mt-3 h-100 pr-3">
            <div id="content-div" class="overflow-auto">
                <div id="tab-container" class="tab-content">
                    <div class="tab-pane fade active show" id="user-manage-tab" role="tabpanel" aria-labelledby="user-manage-btn">
                        <div class="container">
                            <div class="row table-ctn-header">
                                <div class="col table-filter-ctn">
                                    <ul class="table-filter-ul">
                                        <li><button id="addNewUser" data-toggle="modal" data-target="#addUserModal" class="btn-fa badge-btn">Add User</button></li>
                                        <li id="searchFilter"><input type="text" id="searchEmail" onkeyup="filterEmails()" placeholder="Search by Email" class="user-table-search"/></li>
                                        <li id="filterAll"><a href="#" onclick="filterGroup('all');" class="badge badge-secondary">All</a></li>
                                        <li id="filterAdmin"><a href="#" onclick="filterGroup('admin');" class="badge badge-danger">Admin</a></li>
                                        <li id="filterTeacher"><a href="#" onclick="filterGroup('teacher');" class="badge badge-success">Teacher</a></li>
                                        <li id="filterStudent"><a href="#" onclick="filterGroup('student');" class="badge badge-primary">Student</a></li>
                                        <li id="filterPending"><a href="#" onclick="filterGroup('pending');" class="badge badge-warning">Pending</a></li>
                                    </ul>
                                    {{ manage_user.add_user('addUserModal') }}
                                </div>
                            </div>
                        </div>
                        <div class="col table-ctn">
                            <table id="admin-users-table" class="table table-large table-hover">
                                <thead>
                                    <tr>
                                        <th scope="col" class="text-center">#</th>
                                        <th scope="col" class="text-center"><input type="checkbox" name="select_all" value="select_all"></th>
                                        <th scope="col" class="text-center">User</th>
                                        <th scope="col" class="text-center">Groups</th>
                                        <th scope="col" class="text-center">Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for user in admin_info %}
                                       <tr id="{{ user.email }}">
                                           <td class="rowNumber"></td>
                                           <td><input type="checkbox" class="selectUser" value=""></td>
                                           <td>{{ user.email }}</td>
                                           <td style="text-align: left;">
                                               {% for group in user['permissions'] %}
                                                   {% if group == 'student' and user['permissions']['student'] %}
                                                       <div class="badge badge-primary">Student</div>
                                                   {% elif group == 'admin' and user['permissions']['admin'] %}
                                                       <div class="badge badge-danger">Admin</div>
                                                   {% elif group == 'instructor' and user['permissions']['instructor'] %}
                                                       <div class="badge badge-success">Teacher</div>
                                                   {% elif group == 'pending' and user['permissions']['pending'] %}
                                                       <div class="badge badge-warning">Pending</div>
                                                   {% endif %}
                                               {% endfor %}
                                           </td>
                                           <td>
                                               {{ manage_user.user_manage(user.email, user.permissions, 'user' ~ loop.index) }}
                                           </td>
                                       </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div> <!-- End User Manage tab -->
                    <div class="tab-pane fade" id="active-units-tab" role="tabpanel" aria-labelledby="active-units-btn">
                        <div class="row" style="margin-bottom: 3vh;">
                            <div class="input-group justify-content-center">
                                <div class="input-group-prepend">
                                    <select id='filterUnitsCol' name='filter_group' class="dropdown-toggle">
                                        <option selected disabled hidden value="">Select Column Filter</option>
                                        <option class="dropdown-item" value="filterByID" selected>ID</option>
                                        <option class="dropdown-item" value="filterByJoinCode">Join Code</option>
                                    </select>
                                    <input type="text" id="searchUnits" class="form-control card-search" onkeyup="filter_active_units();"
                                           placeholder="Search for Unit ...">
                                </div>
                            </div>
                        </div>
                        <div class="col table-ctn">
                            {{ tables.active_units_table(active_units) }}
                        </div>
                    </div>
                </div> <!--End tab-container-->
            </div> <!--End content-div-->
        </main>
        {{ forms.contact_us() }}
     </div><!--End content-row -->
{% endblock content %}
