{% block title %}<title>Inspect the Flag!</title>{% endblock %}
{% block header %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
{% endblock %}
{% block page_content %}
    <!-- Body Content -->
    <div>
    <h1 style ="text-align:center; color:white;"> Inspect the Flag!</h1>
    <button href="#assessmentModal" class="check_flag_btn btn btn-primary badge-pill" style="display: inline-block;" data-toggle="modal">Check Flag</button>
    </div>
    <div class="container mt-0">
        <div style="border-radius:25px;background-color:whitesmoke; height:auto; width:80%; box-shadow:2px 5px;
         border: 1px solid;" class="mx-auto d-block">
            <div style="height:auto;overflow:auto;">
                <h1>{{ classified_flag }}</h1>
                <img src="{{ url_for('inspect_bp.static', filename='classified_boxes.png') }}" alt="Boxes" class="mx-auto d-block" style="width:100%;
                height:auto;"/>
                <div><!--Oh there seems to be something in this box-->
                    <div>
                        <!--Wait a second...there's another box-->
                        <div>
                            <!--Nope this box just has figurines of the Trojan mascot-->
                            <div> <!-- Oh dear Maximus there really is a lot --></div>
                            <div> <!-- WHY ARE THERE SO MANY!!??? --></div>
                            <div> <!-- export USERNAME Maximus --></div>
                            <div>
                                <!--OH THIS IS THE...and no.  -->
                                <div>
                                    <!--This is not the box, but it's got some things of interest included-->
                                    <div> <!-- export IP_ADDRESS <host_name>/inspect/xsfiedSTRflag/<workout_id>  --></div>
                                    <div>
                                        <!--Just a bunch of cat pictures. Something about the Cats of Valhalla? -->
                                        <div> <!-- Long ago in the land of Catrim a prophecy arose to tell the tale of an AwesomeItUser --></div>
                                        <div> <!-- It was told that one day AwesomeITUser would rise to unleash the Cats of Valhalla --></div>
                                        <div> <!-- With the Cats of Valhalla, AwesomeITUser would !! export USER_PASSWORD TrojanSpirit!2021 --></div>
                                        <div>
                                            <!--End of the boxes and no classified flag...Where is it?-->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Classified Flag Modal -->
    <div id="assessmentModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <form action="{{ url_for('inspect_bp.check_flag', workout_id=workout_id)}}" method="post">
                    <div class="modal-header">
                        <h4 class="modal-title">Flag Checker</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label>Captured the classified flag?</label>
                            <input type="text" id="classified_flag" name="classified_flag" required><br>

                        </div>
                    </div>
                    <div class="modal-footer">
                        <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">
                        <input type="submit" name="check_button" class="btn btn-success" value="Check">
                    </div>
                </form>
            </div>
        </div>
    </div>
    {% if completion == true %}
        <div id="completion_modal" class="modal" data-easein="tada" tabindex="-1" role="dialog" aria-labelledby="Completion Modal" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">You found the flag!</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    </div>
                    <div class="modal-body">
                        <p>Good thing Maximus was holding onto the flag for us. It would have been awful for this classified
                        flag to fall into the hands of someone from a rival school. Thanks for getting this flag back to us.
                            We will make sure not to lose it in some boxes again.</p>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-default" data-dismiss="modal" aria-hidden="true">
                            Workout Complete
                        </button>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}
{% block js_block %}
    {% if completion == true %}
        <script>
            $(document).ready(function(){
                $("#completion_modal").modal('show');
            });
        </script>
    {% endif %}
{% endblock %}