{% extends 'pages/index.jinja' %}

{% block navblock %}
    {% if workout_id %}
        <a href="/md5_page/{{ workout_id }}" class="w3-bar-item w3-button w3-padding-large w3-hover-black">
            <i class="fa fa-laptop w3-xxlarge"></i>
            <p>MD5</p>
        </a>
        <a href="/login/{{ workout_id }}" class="w3-bar-item w3-button w3-padding-large w3-hover-black">
            <i class="fa fa-user-circle-o w3-xxlarge"></i>
            <p>LOGIN</p>
        </a>
    {% endif %}
{% endblock navblock %}

{% block picture %}
    <style>
    img {
        height: auto;
        width: 80%;
    }
    </style>
    <div class="w3-padding-large" id="main">
      <!-- Header/Home -->
      <header class="w3-container w3-padding-32 w3-center w3-black" id="home">
       <img src="/static/img/sinister_alt_banner.jpg" alt="a bigger thing" class="w3-image">
      </header>
    </div>
{% endblock picture %}

{% block content %}
<!-- Page Content -->
    <div class="login" id="main">
        <h3>Login Form</h3>
        {% if login_error %}
        {{ login_error }}
        {% endif %}
        <form method="POST" action="{{ request.path }}">
            <div style="margin-bottom: 10px;">
                <label for="username">Username:</label>
                <input type="text" name="username" id="username" />
            </div>
            <div style="margin-bottom: 10px;">
                <label for="password">Password:</label>
                <input type="password" name="password" id="password" />
            </div>
            <div style="margin-bottom: 10px;">
                <input type="submit" value="Login" />
            </div>
        </form>
    </div>
{% endblock content %}
