<!DOCTYPE html>
{% autoescape false %}
<html>
<head>
    <title>Classified Cross-Site Scripting</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
{% block navbar %}
    <nav class="navbar navbar-inverse">
        <div class="container-fluid" style="background-color:black;">
            <ul class="nav navbar-nav">
                <li><a id="len1" class="hoverable" href="{{ url_for('xss_bp.xss', workout_id=workout_id)}}">
                    DOM-Based Cross-Site Scripting</a></li>
                <li><a id="len2" class="hoverable" href="{{ url_for('xss_bp.xss_r', workout_id=workout_id)}}">
                    Reflected Cross-Site Scripting</a></li>
                <li><a id="len3" class="hoverable" href="{{ url_for('xss_bp.xss_s', workout_id=workout_id)}}">
                    Stored Cross-Site Scripting</a></li>
            </ul>
        </div>
    </nav>
{% endblock %}
{% block page_content %}
<body>
<header>
    <div>
        <h1 style ="text-align:center; color:white;"> DOM-Based Cross-Site Scripting </h1>
    </div>
</header>
    <div class="container-fluid">
        <div class="text-box">
            <div class="text-area">
                <h1>Hello! I have a {{ bad_request | safe }} for you!</h1>
            </div>
        </div>
    </div>
</body>
{% endblock %}
</html>
{% endautoescape %}
