{% extends "base.html" %}

{% block title%}Arena {{unit_id}}{% endblock%}

{% block content %}
<script type = "text/javascript" src = "{{ url_for('static', filename = 'script.js') }}" ></script>
<script>
    update_scores = function(team_name, score){
        var email = team_name;
        var score = score;
        score_field = document.getElementById('team_score_' + email);
        score_field.innerHTML = score;

    }
</script>
<style>
    .landing_content .btn, table{
        width:75%;
    }
    td, th{
        padding:0;
    }

    .team_container{
        border: 1px solid black;
        border-right:0;
        padding:1em;
        margin-bottom:1em;
    }
</style>
    <div class="row">
        <div class='controls col-lg-2' style="border: 1px solid black">
            <div id="logo" class="center">
                <img src="/static/CyberGymLogo_small.png" alt="UA Little Rock Cyber Gym Logo" class="img-fluid"/>
            </div>
            <div class="control_button">
                <form action="/start_arena" method="post">
                    <div class="input-field" >
                        <label>How long should the workout run (1 - 10 hours)?</label>
                        <input type="hidden" id="unit_id" name="unit_id" value="{{ unit_id }}">
                        <input type="number" id="time" name="time" value="2" min="1" max="10" style="margin-top:1em;text-align:center;">

                    </div>
                    <div class="btn-ctn">
                            <button type="submit" id="start-vm" class="waves-effect waves-light btn" >START ARENA</button>
                    </div>
                </form>
            </div>
            <div class="control_button">
                <form action="/stop_all" method="post">
                    <input type="hidden" id="unit_id" name="unit_id" value="{{ unit_id }}">
                    <div class="btn-ctn ">
                            <button id="stop-vm" class="waves-effect waves-light btn" >STOP WORKOUTS</button>
                    </div>
                </form>
            </div>
            <div class="control_button">
                <form action="/reset_all" method="post">
                    <input type="hidden" id="unit_id" name="unit_id" value="{{ unit_id }}">
                    <div class="btn-ctn">
                            <button id="reset-vm" class="waves-effect waves-light btn" >RESET WORKOUTS</button>
                    </div>
                </form>
            </div>
        </div>
        <div class='landing_content col-lg-10' style="margin-top:1em;padding:1em;">

            <h2>Description</h2>
            <p>{{ description }}</p>
            {% if start_time %}
            <h3>Start Time: {{start_time}} UTC</h3>
            {% endif %}

            {% if teacher_instructions %}
                <a href="{{ teacher_instructions }}">Teacher Instructions</a>
            {% endif %}
            {% if student_instructions %}
                <a href="{{ student_instructions }}">Student Instructions</a>
            {% endif %}
            <p>To begin, click on an available team below. It may take several minutes before workouts are available </p>
            {% if unit_teams %}
            {% for team in unit_teams %}
            <div class='team_container' id='arena_team_{{team}}'>
            <h3>Instructor email: {{team}}</h3>
            <h4>Score: <span id='team_score_{{team}}'></span></h4>
                {% for workout in workout_list %}
                    {% if workout['teacher_email'] == team %}
                        {% if workout['points'] %}
                            <script>update_scores('{{team}}', '{{ workout['points'] }}');</script>
                        {% endif %}
                        {% if workout["complete"] == True %}
                        <a id='workout_link_{{workout.name}}' style="margin-top: 1em;" class="btn" data-toggle="collapse" href="#team_collapse_{{workout.name}}">Student {{loop.index}} </a>
                        {% else %}
                        <a id='workout_link_{{workout.name}}' style="margin-top: 1em;" class="btn btn-deactivated" data-toggle="collapse" href="">Student {{loop.index}} </a>
                        {% endif %}
                        <div class="collapse" id="team_collapse_{{workout.name}}">
                            <table>
                                <tr>
                                    {% if build_type == "container" %}
                                    <th>Workout URL</th>
                                    {% else %}
                                    <th>Workout Landing Page</th>
                                    {% endif %}
                                    <th>Total Points</th>
                                    <th>Submission History</th>
                                </tr>
                                <tr>
                                    {% if build_type == "container" %}
                                    <td>{{ workout_url_path + '/' + workout.name }}</td>
                                    {% else %}
                                    <td><a href="/arena_landing/{{workout.name}}" target="_blank">Landing Page</a><p>{{url_for('arena_landing', workout_id=workout.name)}}</p></td>
                                    {% endif %}
                                    <td>
                                        {% if workout['points'] %}
                                        <p>{{workout['points']}}</p>
                                        {% else %}
                                        <p>0</p>
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% if workout['submitted_answers'] %}
                                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal_{{workout.name}}">
                                            View Submission History
                                        </button>
                                        {% else %}
                                        N/A
                                        {% endif %}
                                    </td>
                                </tr>
                            </table>
                        </div>
                        {% if workout["submitted_answers"] %}
                            <div class="modal fade" id="modal_{{workout.name}}" tabindex="-1" role="dialog" style="box-shadow:none;background-color:transparent;" aria-labelledby="ModalLabel_{{workout.name}}" aria-hidden="true">
                                <div class="modal-dialog" role="document" style="max-width:100%;">
                                <div class="modal-content">
                                    <div class="modal-header">
                                    <h5 class="modal-title" id="ModalLabel_{{workout.name}}">Submission history for arena {{workout.name}}</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                    </div>
                                    <div class="modal-body">
                                        <div class='tab-content'>
                                            <div id='text_input' class='tab-pane active fadeIn'>
                                                <table>
                                                    <tr>
                                                        <th>Flag</th>
                                                        <th>Submission Time</th>
                                                    </tr>
                                                    {% for question in workout["submitted_answers"] %}
                                                        <tr>
                                                            <td>{{question['answer']}}</td>
                                                            <td>{{question['timestamp']}} UTC</td>
                                                        </tr>
                                                    {% endfor %}
                                                </table>
                                            </div>
                                            {% if workout['uploaded_files'] %}
                                                <div id='file_uploads' style='text-align:center;' class="tab-pane fade">
                                                    <div class='upload_view'>
                                                {% for question in workout['uploaded_files'] %}
                                                    <li>{{question['question']}}</li>
                                                    <img class="img-fluid" src={{question['storage_url']}}>
                                                {% endfor %}
                                                    </div>
                                                </div>
                                            {% endif %}
                                        </div>

                                    </div>
                                    <div class="modal-footer" style="justify-content:center;">
                                    <button type="button" class="btn" data-dismiss="modal">Close</button>
                                    </div>
                                </div>
                                </div>
                            </div>
                        {% endif %}
                    {% endif%}
                {% endfor %}

                </div>
            {% endfor %}

            {% else %}

            {% for workout in workout_list %}
            {% if workout['state'] == 'READY' %}
            <a id='workout_link_{{workout.name}}' style="margin-top: 1em;" class="btn" data-toggle="collapse" href="#team_collapse_{{workout.name}}">Student {{loop.index}} </a>
            {% else %}
            <a id='workout_link_{{workout.name}}' style="margin-top: 1em;" class="btn btn-deactivated" data-toggle="collapse" href="">Student {{loop.index}} </a>
            {% endif %}
            <div class="collapse" id="team_collapse_{{workout.name}}">
                <table>
                    <tr>
                        {% if build_type == "container" %}
                        <th>Workout URL</th>
                        {% else %}
                        <th>Workout Landing Page</th>
                        {% endif %}
                        <th>Total Points</th>
                        <th>Submission History</th>
                    </tr>
                    <tr>
                        {% if build_type == "container" %}
                        <td>{{ workout_url_path + '/' + workout.name }}</td>
                        {% else %}
                        <td><a href="/arena_landing/{{workout.name}}" target="_blank">Landing Page</a><p>{{url_for('arena_landing', workout_id=workout.name)}}</p></td>
                        {% endif %}
                        <td>
                            {% if workout['points'] %}
                            <p>{{workout['points']}}</p>
                            {% else %}
                            <p>0</p>
                            {% endif %}
                        </td>
                        <td>
                            {% if workout['submitted_answers'] %}
                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal_{{workout.name}}">
                                View Submission History
                            </button>
                            {% else %}
                            N/A
                            {% endif %}
                        </td>
                    </tr>
                </table>
            </div>
            {% if workout["submitted_answers"] %}
                <div class="modal fade" id="modal_{{workout.name}}" tabindex="-1" role="dialog" style="box-shadow:none;background-color:transparent;" aria-labelledby="ModalLabel_{{workout.name}}" aria-hidden="true">
                    <div class="modal-dialog" role="document" style="max-width:100%;">
                    <div class="modal-content">
                        <div class="modal-header">
                        <h5 class="modal-title" id="ModalLabel_{{workout.name}}">Submission history for arena {{workout.name}}</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        </div>
                        <div class="modal-body">
                            <div class='tab-content'>
                                <div id='text_input' class='tab-pane active fadeIn'>
                                    <table>
                                        <tr>
                                            <th>Flag</th>
                                            <th>Submission Time</th>
                                        </tr>
                                        {% for question in workout["submitted_answers"] %}
                                            <tr>
                                                <td>{{question['answer']}}</td>
                                                <td>{{question['timestamp']}} UTC</td>
                                            </tr>
                                        {% endfor %}
                                    </table>
                                </div>
                                {% if workout['uploaded_files'] %}
                                    <div id='file_uploads' style='text-align:center;' class="tab-pane fade">
                                        <div class='upload_view'>
                                    {% for question in workout['uploaded_files'] %}
                                        <li>{{question['question']}}</li>
                                        <img class="img-fluid" src={{question['storage_url']}}>
                                    {% endfor %}
                                        </div>
                                    </div>
                                {% endif %}
                            </div>

                        </div>
                        <div class="modal-footer" style="justify-content:center;">
                        <button type="button" class="btn" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                    </div>
                </div>
            {% endif %}
            {% endfor %}
            {% endif %}
        </div>
    </div>
    <div id="loading-msg"></div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script>

        $(document).ready(function(){
            $("form").submit(function(){
                $('#start-vm').attr('disabled','disabled');
                $('#stop-vm').attr('disabled','disabled');
                $('#reset-vm').attr('disabled','disabled');
                $("#loading-msg").html('Please wait while the process completes' +
                    '</br><div class="loader"></div>');
            });
            check_workout_status("{{unit_id}}");
        });
    
        function check_workout_status(unit_id){
            
            $.ajax({
                type: "POST",
                contentType: "application/json;charset=utf-8",
                url: "/arena_list/" + unit_id,
                traditional: "true",
                data: JSON.stringify({
                    "unit_id": unit_id,
                }),
                dataType: "json",
                success: function(data){
                    if(data['state'] == "READY"){
                        for (i = 0; i < data['workouts'].length; i++){
                            var link = document.getElementById("workout_link_" + data['workouts'][i]);
                            link.classList.remove('btn-deactivated');
                            link.className = 'btn';
                            link.href = '#team_collapse_' + data['workouts'][i];
                        }
                    }

                },
            });
    
        }
        
        setInterval(function(){
            check_workout_status( "{{ unit_id }}");
        }, 30000);
        
    </script>
{% endblock %}