{% extends "base.html" %}
{% block title%} Workout {{ workout_id }} {% endblock %}
    <script>
        $(document).ready(function(){
            $("assessment_reveal").click(function(){
                $("#assessment_form").fadeIn();
            })
        })
    </script>

    {% block content%}
    <div class='landing_container col-lg-12'>
        <div class='row'>
        <div class='workout_links col-sm-2' style="margin-top:1em;border-right:1px solid black">
            <div id="workout-form" class='container-fluid'>
                <div id="logo" class="center">
                    <img src="/static/CyberGymLogo_small.png" alt="UA Little Rock Cyber Gym Logo" class="img-fluid"/>
                </div>
            </div>
            <br><h2>Workout Control</h2><br>
                {% if running %}
                <p>Workout status: <span style="color:green">RUNNING</span></p><br>
                {% else %}
                <p>Workout status: <span style="color:red">STOPPED</span></p><br>
                {% endif %}


        </div>
        <div class='col-sm-9' style="padding-top:1em; margin-top:2%;">
            <div id='workout_info' class='container' style="margin:0;">
                <h2>Welcome to the Trojan Arena!</h2>
                <p>{{ description }}</p><br>

                {% if score %}
                <p>Assessment Results: {{ score }}</p>
                <p>*Results may not be final</p>
                {% endif %}


                {% if running %}
                <br><h2>Workout Servers</h2>
                    {% if guac_path==None %}
                        <a href="http://{{ workout_id }}{{ dns_suffix }}:8080" target="_blank">Enter your workout!</a>
                    {% else %}
                        <a href="http://{{ unit_id }}{{ dns_suffix }}:8080/guacamole/#/client/" target="_blank">Enter your workout!</a>
                    {% endif %}
                        <p>*Machines may take a couple minutes to start</p>
                {% endif %}
                <br>
            </div>
            <div id="workout_id" hidden>{{ workout_id }}</div>
            <div class='container' id='instructions' style="margin:0;">
                <h2>{{ workout_type }} Workout</h2>
                <p>Workout Username: {{guac_user}}</p>
                <p>Workout Password: {{guac_pass}}</p>
                {% if student_instructions %}
                    <a href="{{ student_instructions }}" target="_blank" class='landing_dropdown'>Workout Instructions</a>
                {% endif %}



                <div id="loading-msg"></div>
                <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
                <script>

                    function reveal_assessment(){
                        $(".workout_assessment_form").fadeToggle();
                    }
                    
                    // this is the id of the form
                    $(document).ready(function(){
                        $(".flag_form").submit(function(e) {
                            e.preventDefault(); // avoid to execute the actual submit of the form.
    
                            $("#loading-msg").html('Please wait while the process completes' +
                                '</br><div class="loader"></div>');
    
                            var form = $(this);
                            var url = form.attr('action');    
    
                            $.ajax({
                                type: "POST",
                                url: url,
                                data: form.serialize(), // serializes the form's elements.
                                dataType: "json",
                                success: function(data)
                                {
                                    //alert("Points gained" + data['points_gained']); // show response from the php script.
                                    $("#loading-msg").html("");
                                    if(data['answer_correct'] == true){
                                        alert("Correct answer");
                                        form.parent().fadeOut();
                                    }else{
                                        alert("Incorrect Flag");
                                    }
                                }
                                });
                        });
                    });
                    
                    
                </script>
            </div> <!--Workout info container-->
                {% if assessment %}
                    <br>
                    <div class='container' id='assessment'>
                        <a class='landing_dropdown btn' id='assessment_dropdown_control' onclick="reveal_assessment()">Assessment</a><br>
                        <div class="workout_assessment_form" style="display:none;">
                        {% for question in assessment%}
                            {% if question['type'] == 'input' %}
                                <div class='question_group' style="margin:1em;border:1px solid black;">
                                    <form class='flag_form' action='/arena_landing/{{ arena_id }}' method="POST" enctype="multipart/form-data">
                                        <input type="hidden" name="question_content" value="{{ question['question']}}" />
                                        <input type='hidden' name='point_value' value="{{question['point_value'] }}" />
                                        {{ question['question'] }}<br>
                                        <input class='user_input' type='text' name="answer" />
                                        <button type='submit' class="btn" style="margin-top:0;text-align:center;" >Submit</button><br>
                                    </form>
                                </div>
                            {% endif %}
                        {% endfor %}
                        </div><br>
                        
                    </div> <!--Assessment Dropdown-->
                    
                {% endif %}
                


        
        </div>
    </div> <!--Main Container-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
         <script>
                $(document).ready(function(){
                    // Initialize Tooltip
                    $('[data-toggle="tooltip"]').tooltip();
    
                    // Add smooth scrolling to all links in navbar + footer link
                    $(".navbar a, footer a[href='#homePage']").on('click', function(event) {
                        // Make sure this.hash has a value before overriding default behavior
                        if (this.hash !== "") {
                            // Prevent default anchor click behavior
                            event.preventDefault();
                                var hash = this.hash;
    
                                // Using jQuery's animate() method to add smooth page scroll
                                // The optional number (900) specifies the number of milliseconds it takes to scroll to the specified area
                                $('html, body').animate({
                                scrollTop: $(hash).offset().top
                                }, 900, function(){
    
                            // Add hash (#) to URL when done scrolling (default click behavior)
                            window.location.hash = hash;
                            });
                        }
                    });
                });
        </script>
    </div>
{% endblock %}
    <!-- </html> -->