{% extends "base.html" %}

{% block content %}
    <div id="workout_id" hidden>{{ workout_id }}</div>
    <h2>Description</h2>
    <p>{{ description }}</p>
    <h2>Workout Servers</h2>
    {% if guac_path==None %}
        <a href="http://{{ workout_id }}{{ dns_suffix }}:8080">Workout ID: <span style="text-transform: uppercase">{{ workout_id }}</span></a>
    {% else %}
        <a href="http://{{ workout_id }}{{ dns_suffix }}:8080/guacamole/#/client/{{ guac_path}}">Workout ID: <span style="text-transform: uppercase">{{ workout_id }}</span></a>
    {% endif %}

    <h2>Workout Control</h2>
    <p>Expiration: {{ expiration }}</p>
    <p>Scheduled to turn off at approximately {{ shutoff }}</p>
    <div style="padding:1em;">
        <form action="/start_vm" method="post">
            <div class="input-field col s12" >
                    <input type="hidden" id="workout_id" name="workout_id" value="{{ workout_id }}">
                    <input type="number" id="time" name="time" value="2" min="1" max="10">
                    <label>How long should the workout run (1 - 10 hours)?</label>
            </div>
            <div class="btn-ctn">
                {% if running %}
                    <button type="submit" id="start-vm" class="waves-effect waves-light btn" disabled>START WORKOUT</button>
                {% else %}
                    <button type="submit" id="start-vm" class="waves-effect waves-light btn" >START WORKOUT</button>
                {% endif %}
            </div>
        </form>
    </div>
    <div>
        <form action="/stop_vm" method="post">
            <input type="hidden" id="workout_id" name="workout_id" value="{{ workout_id }}">
            <div class="btn-ctn">
                {% if running %}
                    <button id="stop-vm" class="waves-effect waves-light btn" >STOP WORKOUT</button>
                {% else %}
                    <button id="stop-vm" class="waves-effect waves-light btn" disabled>STOP WORKOUT</button>
                {% endif %}
            </div>
        </form>
    </div>
    <div>
        <form action="/reset_vm" method="post">
            <input type="hidden" id="workout_id" name="workout_id" value="{{ workout_id }}">
            <div class="btn-ctn">
                    <button id="reset-vm" class="waves-effect waves-light btn" >RESET WORKOUT</button>
            </div>
        </form>
    </div>

    <div id="loading-msg"></div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script>
        $(document).ready(function(){
            $("form").submit(function(){
                $('#start-vm').attr('disabled','disabled');
                $('#stop-vm').attr('disabled','disabled');
                $('#reset-vm').attr('disabled','disabled');
                $("#loading-msg").html('Please wait while the process completes' +
                    '</br><div class="loader"></div>');
            });
        });
    </script>
{% endblock %}