{% if BASE_TEMPLATE %}
{% extends BASE_TEMPLATE|string %}
{% else %}
{% extends "base.html" %}
{% endif %}
{% block title %}Log In{% endblock %}

{% block content %}
<script src='../static/login.js'></script>

<div id="login_container" style="margin: auto; text-align: center;">
    <img style='text-align:center;' src="/static/CyberGymLogo_small.png" alt="UA Little Rock Cyber Gym Logo"/>

    <h3>Sign in to access your units</h3>
    <div id="firebaseui-auth-container"></div>
</div>
</div>
<script>
  var auth_config = {
    apiKey: '{{auth_config["api_key"]}}',
    authDomain: '{{auth_config["auth_domain"]}}',
    projectId: '{{auth_config["project_id"]}}'
  };
  //alert('{{auth_config["api_key"]}}');
  //firebase.initializeApp(auth_config);
  firebase.initializeApp(auth_config);
  configureFirebaseLogin();
  configureFirebaseLoginWidget();
</script>
{% endblock %}