{% extends "base.html" %}
{% block title %}Unit {{ unit_id }}{% endblock %}
<script  src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script type = "text/javascript" src = "{{ url_for('static', filename = 'script.js') }}" ></script>

{% block content %}
    <p>To begin, click on an available team below. Red teams mean the workout is already in use.</p>
    <h2>Description</h2>
    <p>{{ description }}</p>
    {% if instructions!=None %}
        <a href="{{ instructions }}" target="_blank">Teacher Instructions</a>
    {% endif %}
    <ol class="teams">
        {% for workout in workout_list %}
            {% if build_type == "container" %}
                <a style="color:red" href="{{ workout_url_path + '/' + workout.name }}" target="_blank"><li class="teams">{{ workout.name }}</li></a>
            {% else %}
                {% if workout["running"] == "True" %}
                    <a style="color:green" href="/landing/{{ workout.name }}" target="_blank"><li class="teams">/landing/{{ workout.name }}</li></a>
                {% else %}
                    <a style="color:red" href="/landing/{{ workout.name }}" target="_blank"><li class="teams">/landing/{{ workout.name }}</li></a>
                {% endif %}
            {% endif %}
        {% endfor %}
    </ol>
    <div style="padding:1em;">
        <form action="/start_all" method="post">
            <div class="input-field col s12" >
                    <input type="hidden" id="unit_id" name="unit_id" value="{{ unit_id }}">
                    <input type="number" id="time" name="time" value="2" min="1" max="10">
                    <label>How long should the workout run (1 - 10 hours)?</label>
            </div>
            <div class="btn-ctn">
                    <button type="submit" id="start-vm" class="waves-effect waves-light btn" >START WORKOUTS</button>
            </div>
        </form>
    </div>
    <div>
        <form action="/stop_all" method="post">
            <input type="hidden" id="unit_id" name="unit_id" value="{{ unit_id }}">
            <div class="btn-ctn">
                    <button id="stop-vm" class="waves-effect waves-light btn" >STOP WORKOUTS</button>
            </div>
        </form>
    </div>
    <div>
        <form action="/reset_all" method="post">
            <input type="hidden" id="unit_id" name="unit_id" value="{{ unit_id }}">
            <div class="btn-ctn">
                    <button id="reset-vm" class="waves-effect waves-light btn" >RESET WORKOUTS</button>
            </div>
        </form>
    </div>
        </div>

    <div id="loading-msg"></div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script>
        $(document).ready(function(){
            $("form").submit(function(){
                $('#start-vm').attr('disabled','disabled');
                $('#stop-vm').attr('disabled','disabled');
                $('#reset-vm').attr('disabled','disabled');
                $("#loading-msg").html('Please wait while the process completes' +
                    '</br><div class="loader"></div>');
            });
        });

        setInterval(check_workout_status( {{ unit_id |safe }}, 30000))

    </script>
{% endblock %}