{% extends "base.html" %}

{% block title %}Unit {{ unit_id }}{% endblock %}

{% block content %}
<script  src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script type = "text/javascript" src = "{{ url_for('static', filename = 'script.js') }}" ></script>
<style>
    .landing_content .btn, table{
        width:75%;
    }
</style>
    <div class="row">
        <div class='controls col-lg-2' style="border: 1px solid black">
            <div id="logo" class="center">
                <img src="/static/CyberGymLogo_small.png" alt="UA Little Rock Cyber Gym Logo" class="img-fluid"/>
            </div>
            <div class="control_button">
                <form action="/start_all" method="post">
                    <div class="input-field" >
                        <label>How long should the workout run (1 - 10 hours)?</label>
                        <input type="hidden" id="unit_id" name="unit_id" value="{{ unit_id }}">
                        <input type="number" id="time" name="time" value="2" min="1" max="10" style="margin-top:1em;text-align:center;">

                    </div>
                    <div class="btn-ctn">
                            <button type="submit" id="start-vm" class="waves-effect waves-light btn" >START WORKOUTS</button>
                    </div>
                </form>
            </div>
            <div class="control_button">
                <form action="/stop_all" method="post">
                    <input type="hidden" id="unit_id" name="unit_id" value="{{ unit_id }}">
                    <div class="btn-ctn">
                            <button id="stop-vm" class="waves-effect waves-light btn" >STOP WORKOUTS</button>
                    </div>
                </form>
            </div>
            <div class="control_button">
                <form action="/reset_all" method="post">
                    <input type="hidden" id="unit_id" name="unit_id" value="{{ unit_id }}">
                    <div class="btn-ctn">
                            <button id="reset-vm" class="waves-effect waves-light btn" >RESET WORKOUTS</button>
                    </div>
                </form>
            </div>
        </div>
        <div class='landing_content col-lg-10' style="margin-top:1em;padding:1em;">

            <h2>Description</h2>
            <p>{{ description }}</p>
            {% if instructions!=None %}
                <a href="{{ instructions }}" target="_blank">Teacher Instructions</a>
            {% endif %}
            <p>To begin, click on an available team below. </p>
            <ol class="teams">
                {% for workout in workout_list %}
                <a style="margin-top: 1em;" class="btn" data-toggle="collapse" href="#team_collapse_{{workout.name}}">Team {{ workout.name }} </a>
                <div class="collapse" id="team_collapse_{{workout.name}}">
                    <table>
                        <tr>
                            {% if build_type == "container" %}
                            <th>Workout URL</th>
                            {% else %}
                            <th>Workout Landing Page</th>
                            {% endif %}
                            {% if workout["student_instruction_url"] %}
                            <th>Student Instructions</th>
                            {% endif %}
                            <th>Assessment Submissions</th>
                        </tr>
                        <tr>
                            {% if build_type == "container" %}
                            <td>{{ workout_url_path + '/' + workout.name }}</td>
                            {% else %}
                            <td><a href="/landing/{{workout.name}}">Landing Page</a></td>
                            {% endif %}
                            {% if workout["student_instruction_url"] %}
                            <td><a href="{{workout['student_instruction_url']}}">Student Instructions</a></td>
                            {% endif %}
                            <td>
                                {% if workout['submitted_answers'] %}
                                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal_{{workout.name}}">
                                    View Assessment Submission
                                </button>
                                <!-- <a href="" onclick="show_answers({{workout.name}})">Click to show submitted answers</a> -->
                                {% else %}
                                N/A
                                {% endif %}
                            </td>
                        </tr>
                    </table>
                </div>
                {% if workout["submitted_answers"] %}
                <div class="modal fade" id="modal_{{workout.name}}" tabindex="-1" role="dialog" aria-labelledby="ModalLabel_{{workout.name}}" aria-hidden="true">
                    <div class="modal-dialog" role="document" style="max-width:100%;">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="ModalLabel_{{workout.name}}">Assessment results for {{workout.name}}</h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">
                            <ol>
                                {% for question in workout["submitted_answers"] %}
                                    <li>{{question}}</li>
                                {% endfor %}
                            </ol>
                        </div>
                        <div class="modal-footer" style="justify-content:center;">
                          <button type="button" class="btn" data-dismiss="modal">Close</button>
                        </div>
                      </div>
                    </div>
                </div>
                {% endif %}
                    <!-- {% if build_type == "container" %}
                        {% if workout['complete'] == True %}
                        <a style="color:green" href="{{ workout_url_path + '/' + workout.name }}" target="_blank"><li class="teams">{{ workout.name }}</li></a>
                        {% else %}
                        <a style="color:red" href="{{ workout_url_path + '/' + workout.name }}" target="_blank"><li class="teams">{{ workout.name }}</li></a>
                        {% endif %}
                    {% else %}
                        {% if workout["complete"] == True %}
                            <a style="color:green" href="/landing/{{ workout.name }}" target="_blank" id='vm-status-{{ workout["name"] }}'><li class="teams">/landing/{{ workout.name }}</li></a>
                        {% else %}
                            <a style="color:red" href="/landing/{{ workout.name }}" target="_blank" id='vm-status-{{ workout["name"] }}'><li class="teams">/landing/{{ workout.name }}</li></a>
                        {% endif %}
                    {% endif %} -->
                {% endfor %}
            </ol>
        </div>
    </div>
    <div id="loading-msg"></div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script>
        $(document).ready(function(){
            $("form").submit(function(){
                $('#start-vm').attr('disabled','disabled');
                $('#stop-vm').attr('disabled','disabled');
                $('#reset-vm').attr('disabled','disabled');
                $("#loading-msg").html('Please wait while the process completes' +
                    '</br><div class="loader"></div>');
            });
        });
    
        function check_workout_status(unit_id){
            
            $.ajax({
                type: "POST",
                contentType: "application/json;charset=utf-8",
                url: "/workout_list/" + unit_id,
                traditional: "true",
                data: JSON.stringify({
                    "unit_id": unit_id,
                }),
                dataType: "json",
                success: function(data){
                    for (i = 0; i < data.length; i++){
                        if(data[i]['complete'] == true){
                            var link = document.getElementById("vm-status-" + data[i]['name']);
                            link.style.color = 'green';

                        }
                    }
                },
            });
    
        }
        /*
        setInterval(function(){
            check_workout_status( "{{ unit_id }}");
        }, 30000);
        */
    </script>
{% endblock %}
