{% extends "base.html" %}

{% block title %}Unit {{ unit_id }}{% endblock %}

{% block content %}
<script type = "text/javascript" src = "{{ url_for('static', filename = 'script.js') }}" ></script>
<style>
    .landing_content .btn, table{
        width:75%;
    }
</style>
    <div class="row">
        <div class='controls col-lg-2' style="border: 1px solid black">
            <div id="logo" class="center">
                <img src="/static/CyberGymLogo_small.png" alt="UA Little Rock Cyber Gym Logo" class="img-fluid"/>
            </div>
            <div class="control_button">
                <form action="/start_all" method="post">
                    <div class="input-field" >
                        <label>How long should the workout run (1 - 10 hours)?</label>
                        <input type="hidden" id="unit_id" name="unit_id" value="{{ unit_id }}">
                        <input type="number" id="time" name="time" value="2" min="1" max="10" style="margin-top:1em;text-align:center;">

                    </div>
                    <div class="btn-ctn">
                            <button type="submit" id="start-vm" class="waves-effect waves-light btn" >START WORKOUTS</button>
                    </div>
                </form>
            </div>
            <div class="control_button">
                <form action="/stop_all" method="post">
                    <input type="hidden" id="unit_id" name="unit_id" value="{{ unit_id }}">
                    <div class="btn-ctn ">
                            <button id="stop-vm" class="waves-effect waves-light btn" >STOP WORKOUTS</button>
                    </div>
                </form>
            </div>
            <div class="control_button">
                <form action="/reset_all" method="post">
                    <input type="hidden" id="unit_id" name="unit_id" value="{{ unit_id }}">
                    <div class="btn-ctn">
                            <button id="reset-vm" class="waves-effect waves-light btn" >RESET WORKOUTS</button>
                    </div>
                </form>
            </div>
        </div>
        <div class='landing_content col-lg-10' style="margin-top:1em;padding:1em;" onload="check_workout_status('{{ unit_id }}')">

            <h2>Description</h2>
            <p>{{ description }}</p>
            {% if teacher_instructions %}
                <a href="{{ teacher_instructions }}" target="_blank" rel="noopener noreferrer">Teacher Instructions</a>
            {% endif %}
            <p>To begin, click on an available team below. It may take several minutes before workouts are available </p>
            <ol class="teams">
                {% for workout in workout_list %}
                {% if workout.student_name %}                    
                    {% if workout["state"] == "READY" or workout["state"] == "RUNNING" %}
                    <a id='workout_link_{{workout.name}}' style="margin-top: 1em;" class="btn" data-toggle="collapse" href="#team_collapse_{{workout.name}}">{{workout.student_name}} </a>
                    {% else %}
                    <a id='workout_link_{{workout.name}}' style="margin-top: 1em;" class="btn btn-deactivated" data-toggle="collapse" href="#team_collapse_{{workout.name}}">{{workout['student_name']}} </a>
                    {% endif %}
                {% else %}
                    {% if workout["state"] == "READY" or workout["state"] == "RUNNING" %}
                    <a id='workout_link_{{workout.name}}' style="margin-top: 1em;" class="btn" data-toggle="collapse" href="#team_collapse_{{workout.name}}">Student {{loop.index}} </a>
                    {% else %}
                    <a id='workout_link_{{workout.name}}' style="margin-top: 1em;" class="btn btn-deactivated" data-toggle="collapse" href="#team_collapse_{{workout.name}}">Student {{loop.index}} </a>
                    {% endif %}
                {% endif %}
                <div class="collapse" id="team_collapse_{{workout.name}}">
                    <table>
                        <tr>
                            <th>Workout Landing Page</th>
                            <th>Assessment Submissions</th>
                            <th>Change Student Name</th>
                        </tr>
                        <tr>
                            <td><a href="/landing/{{workout.name}}" target="_blank">Landing Page</a></td>
                            <td>
                                {% if workout["submitted_answers"] or workout['auto_answers'] or workout['uploaded_files'] %}
                                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal_{{workout.name}}">
                                    View Submissions
                                </button>
                                {% else %}
                                N/A
                                {% endif %}
                            </td>
                            <td>
                                <input id='name_change_field_{{workout.name}}' name="new_name" placeholder="Enter new student name" type="text"/>
                                <a onclick="change_student_name('{{workout.name}}')" class="btn">Change</a>
                            </td>
                        </tr>
                    </table>
                </div>
                {% if workout["submitted_answers"] or workout['auto_answers'] or workout['uploaded_files'] %}
                    <div class="modal fade" id="modal_{{workout.name}}" tabindex="-1" role="dialog" style="box-shadow:none;background-color:transparent;" aria-labelledby="ModalLabel_{{workout.name}}" aria-hidden="true">
                        <div class="modal-dialog" role="document" style="max-width:100%;">
                        <div class="modal-content">
                            <div class="modal-header">
                            <h5 class="modal-title" id="ModalLabel_{{workout.name}}">Assessment results for {{workout.name}}</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            </div>
                            <div class="modal-body">
                                <ul class="nav nav-pills" style='justify-content: space-around;'>
                                    {% if workout['submitted_answers'] %}
                                    <li><a data-toggle="pill" class='btn' href="#text_input" style='width:100%;'>Text Answers</a></li>
                                    {% endif %}
                                    {% if workout["uploaded_files"] %}
                                    <li><a data-toggle="pill" class='btn' href="#file_uploads" style='width:100%;'>File Uploads</a></li>
                                    {% endif %}
                                    {% if workout["auto_answers"] %}
                                    <li><a data-toggle="pill" class="btn" href="#auto_assessment" style='width:100%;'>Auto Complete Progress</a></li>
                                    {% endif %}
                                </ul>
                                <div class='tab-content'>
                                    {% if workout['submitted_answers'] %}
                                        <div id='text_input' class='tab-pane fadeIn'>
                                            <ol>
                                                {% for question in workout["submitted_answers"] %}
                                                    <li>{{question}}</li>
                                                {% endfor %}
                                            </ol>
                                        </div>
                                    {% endif %}
                                    {% if workout['uploaded_files'] %}
                                        <div id='file_uploads' style='text-align:center;' class="tab-pane fade">
                                            <div class='upload_view'>
                                           {% for question in workout['uploaded_files'] %}
                                            <li>{{question['question']}}</li>
                                            <img class="img-fluid" src="{{question['storage_url']}}">
                                           {% endfor %}
                                            </div>
                                        </div>
                                    {% endif %}
                                    {% if workout['auto_answers'] %}
                                        <div id='auto_assessment' class='tab-pane fade'>
                                            <ol>
                                            {% for question in workout['auto_answers'] %}
                                                <li>{{question['question']}}: 
                                                    {% if question['complete'] %}
                                                    <span style='color:green;'>Complete</span>
                                                    {% else %}
                                                    <span style='color:red;'>Not completed</span>
                                                    {% endif %}
                                                </li>
                                            {% endfor %}
                                            </ol>
                                        </div>
                                    {% endif %}
                                </div>

                            </div>
                            <div class="modal-footer" style="justify-content:center;">
                            <button type="button" class="btn" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                        </div>
                    </div>

                    
                {% endif %}

                {% endfor %}
            </ol>
        </div>
    </div>
    <div id="loading-msg"></div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script>

        $(document).ready(function(){
            $("form").submit(function(){
                $('#start-vm').attr('disabled','disabled');
                $('#stop-vm').attr('disabled','disabled');
                $('#reset-vm').attr('disabled','disabled');
                $("#loading-msg").html('Please wait while the process completes' +
                    '</br><div class="loader"></div>');
            });
            check_workout_status("{{unit_id}}");

        });
        
        function check_workout_status(unit_id){
            
            $.ajax({
                type: "POST",
                contentType: "application/json;charset=utf-8",
                url: "/workout_list/" + unit_id,
                traditional: "true",
                data: JSON.stringify({
                    "unit_id": unit_id,
                }),
                dataType: "json",
                success: function(data){
                    for (i = 0; i < data.length; i++){
                        if(data[i]['state'] == "READY"){
                            var link = document.getElementById("workout_link_" + data[i]['name']);
                            link.classList.remove('btn-deactivated');
                            link.className = "btn";
                            link.href = '#team_collapse_' + data[i]['name'];

                        }
                    }
                },
            });
    
        }
        
        setInterval(function(){
            check_workout_status( "{{ unit_id }}");
        }, 30000);
        
    </script>
{% endblock %}
