:root {
    --main-color: #16213E;
    --subcolor: #0f3460;
    --tertiary: #533483;
    --quadentiary: #e94560;
    --dark-gray: #212529;
    --cornwall-blue: #4285F4;
    --python-blue: #2b5b84;
    --marine-blue: #1c2538;
    --muted-marine-blue: #161e2d;
    --indigo: #6610f2;
    --muted-indigo: #432f70;
    --mint: #00bf78;
    --grass-green: #1d8037;
    --teal: #2B7C85;
    --teal-grean: #175873;
    --python-yellow: #ffd343;
    --maroon: #6e2639;
    --running: #1d8037;
    --stopped: #838683;
    --deleted: #000000;
    --broken: #ce2b2b;
    --transition: #b3be27;
}
/* General Styles */
body, html {
    height: 100%;
}

html {
    min-height: 100%;
    position: relative;
    background-color: #212529;
    color: white;
    font-family: 'Montserrat', sans-serif;
    margin: auto;
}
body {
    background-color: var(--dark-gray);
    color: white;
    margin-bottom: 60px;
    padding-top: 3.5rem;
}
main, #main {
    background-color: var(--dark-gray);
}
h3, h4, h5 {
    margin: 10px 0 30px 0;
    letter-spacing: 2px;  /* 10px */
    font-size: 20px;
    color: whitesmoke;
}
hr {
    border-top: 1px solid var(--tertiary) !important;
}
/* Container Styles */
.bordered-container {
    background-color: white;
    width: 100%;
    border: 1px solid darkgray;
    box-shadow: 1px 2px 3px 0 gray;
    margin-bottom: 20px;
    padding: 20px;
}
/* Bordered Controls Container */
.control-container {
    border: 1px solid white;
    border-radius: 4px;
    margin-top: 10px;
    padding: 0 1px;
}
ul.control-container-list {
  padding: 0 4px
}
li.control-container-list {
    margin: 10px 0;
}

/* Top Navbar styles */
.top-navbar {
    background: var(--main-color);
    color: #ffffff;
    border-bottom: #535353 solid 0.1vh;
    box-shadow: 1px 1px 10px #000000;
}
.top-navbar-pill {
    padding-right: 10px;
}
.btn.top-navbar-btn {
    background-color: var(--subcolor);
    color: white;
    width: 100%;
    margin-right: 10px;
}
.btn.top-navbar-btn:hover {
    background-color: whitesmoke;
    color: black;
}
.btn.top-navbar-btn.login {
    background-color: var(--grass-green);
}
.btn.top-navbar-btn.login:hover {
    background-color: whitesmoke;
    color: black;
}
.navbar-icon {
    width: 30px;
    height: auto;
    filter: invert(1);
    -webkit-filter: invert(1);
    transform: rotate(45deg);
}
.nav-link {
    background-color: var(--main-color, #1c2538);
    color: whitesmoke;
    transition: background-color 0.3s ease;
    border: none;
    border-radius: 0;
    width: 100%;
    min-width: 150px;
}
.nav-pills .nav-link.active {
    background-color: whitesmoke;
    color: black;
    border: none;
}
.nav-link:hover {
    cursor: pointer;
    background-color: whitesmoke;
    color: black
}
.nav-pills .nav-link:focus {
    border: none;
    background-color: whitesmoke;
    color: black;
}
.nav-link a:hover {
    color: black;
    box-shadow: inset 0 0 5px black;
}
.nav-link a.active:hover {
    color: black;
    box-shadow: none;
    pointer-events: none;
}
/* General Nav styles */
.nav-pills > li {
    padding-top: 10px;
}
.nav-pills > li:last-child {
    padding-bottom: 10px;
}
/* Btn Styles */
.btn-main {
    background-color: var(--subcolor, #161e2d);
    color: white;
    width: auto;
    min-width: 100px;
    max-height: 45px;
    border-radius: 4px;
    margin-right: 3px;
    padding: 10px;
    text-decoration: none;
    align-items: center;
    justify-content: center;
}
.btn-main:hover {
    color: var(--marine-blue, #161e2d);
    background-color: whitesmoke;
    text-decoration: none;
    box-shadow: inset 0 0 5px #c1c1c1;
}
.btn-main:focus {
    background-color: whitesmoke;
    color: var(--subcolor, #161e2d);
    text-decoration: none;
}
.btn-main-deactivated {
    color: var(--subcolor, #161e2d);
    background-color: gray;
    text-decoration: none;
}
.icon-light {
    color: whitesmoke;
    margin-right: 5px;
}
.nav-link:hover,
.nav-item:hover .icon-light {
    color: black;
}

/* FontAwesome Icon Styles */
.buildState {font-size: 30px;}
.buildState.running {color: var(--running, #1d8037);}
.buildState.stopped {color: var(--stopped, #838683);}
.buildState.deleted {color: var(--deleted, #000000);}
.buildState.transition {color: var(--transition, #b3be27);}
.buildState.broken {color: var(--broken, #ce2b2b);}
.fa-pr-5 { padding-right: 5px; }
.fa-pl-5 { padding-left: 5px; }
p.complete {
    color: green;
    font-weight: bold;
}

/* Text Highlighting */
.highlight-info {
    background-color: #7ab7dc;
    border-radius: 10px;
    padding: 5px;
}
.highlight-warning {
    background-color: #fbe9b1;
    border-radius: 10px;
    padding: 5px;
}
.highlight-error {
    background-color: #b75f5f;
    border-radius: 10px;
    padding: 5px;
}

/* Misc */
.no-select {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Modal Styles */
/* Slideout from Right modal */
.modal-dialog-slideout {
    min-height: 100%;
    margin: 0 0 0 auto;
    background: #fff;
}
@media (min-width: 400px) {
    .modal-sm {
        max-width: 400px;
    }
}
.modal-dialog-slideout.modal-sm {

}
.modal.fade .modal-dialog.modal-dialog-slideout {
    -webkit-transform: translate(100%,0)scale(1);
    transform: translate(100%,0)scale(1);
}
.modal.fade.show .modal-dialog.modal-dialog-slideout {
    -webkit-transform: translate(0,0);
    transform: translate(0,0);
    display: flex;
    align-items: stretch;
    -webkit-box-align: stretch;
    height: 100%;
}
.modal.fade.show .modal-dialog.modal-dialog-slideout .modal-body{
    overflow-y: auto;
    overflow-x: hidden;
}
.modal-dialog-slideout .modal-content{
    border: 0;
}
.modal-dialog-slideout .modal-header, .modal-dialog-slideout .modal-footer {
    height: 69px;
    display: block;
}
.modal-dialog-slideout .modal-header h5 {
    float:left;
}
