<!doctype html>
<html lang="en-US">
<head>
{% block header_block %}
    <meta charset="utf-8">
    <title>{% block title_block %}{% endblock title_block %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="{{ url_for('.static', filename='imgs/iot-icon_2.ico') }}" id="nav-ico">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('.static', filename='css/iot-styles.css') }}">
    {% block styles_block %}{% endblock styles_block %}
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    {% block js_block %} {% endblock js_block %}
{% endblock header_block %}
</head>
<body style="background-color: inherit;">
    <nav class="iot-navbar">
        <img src="{{ url_for('.static', filename='imgs/iot-pc.png') }}" id="nav-img" title="open-pc">
        {% block nav_block %}{% endblock nav_block %}
    </nav>
    <div class="html-container">
        <!-- Body Content -->
        <div class="body-container center-content">
            {% block content_block %}{% endblock content_block %}
        </div>
        <div class="iot-footer">
            <p class="iot-footer">{% block footer_block %}{% endblock footer_block %}</p>
            <p class="iot-footer">
                &copy; Trojan Cyber Arena
            </p>
        </div>
    </div>
</body>
</html>
