<!doctype html>
<html lang="en-US">
<head>
{% block header_block %}
    <meta charset="utf-8">
    <title>{% block title_block %}{% endblock title_block %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="{{ url_for('.static', filename='imgs/iot-icon_2.ico') }}" id="nav-ico">
    <link rel="stylesheet" href="{{ url_for('.static', filename='css/nsa-iot-styles.css') }}">
    {% block styles_block %}{% endblock styles_block %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    {% block js_block %} {% endblock js_block %}
{% endblock header_block %}
</head>
<body>
    <nav class="iot-navbar">
        <img src="{{ url_for('.static', filename='imgs/iot-pc.png') }}" id="nav-img" title="open-pc">
        {% block nav_block %}{% endblock nav_block %}
    </nav>
    <div class="html-container">
        <!-- Body Content -->
        <div class="body-container center-content">
            {% block content_block %}{% endblock content_block %}
        </div>
        <div class="iot-footer">
            <p class="iot-footer">{% block footer_block %}{% endblock footer_block %}</p>
            <p class="iot-footer">
                &copy; Trojan Cyber Arena
            </p>
        </div>
    </div>
</body>
</html>
