<html>
<body>
<h1>400 Bad Request</h1>
<p>We're sorry, we're still infecting your computer. You can't leave until we're done. :)</p>
<script>
    setTimeout(function() {
        window.location.href = '/totally-not-malware';
        }, 5000);
</script>
</body>
</html>