{% extends "base.html" %}
{% block title%} Internal Error {% endblock %}
{% block content %}
    <div class='image_container' style='text-align: center;'>
        <img style='text-align:center;' src="/static/CyberGymLogo_small.png" alt="UA Little Rock Cyber Gym Logo"/>
    </div>
    <div id='error_container' style='margin:auto;text-align:center;'>
        <p>Oh, snap! Sorry, an error occurred when attempting to build this workout.</p>
        <p>Contact your administrator to review the cloud logs and determine how to fix the workout.</p>
    </div>
{% endblock %}