{% extends 'pages/index.jinja' %}

{% block content %}
<div class="w3-padding-large" id="main">
    <h1>About This Site...</h1>
    <hr style="width:200px" class="w3-opacity">
        <p>
            Johnny Hash is home to simple, yet effective, cryptographic challenges and demonstrations created for the
            UA Little Rock Cyber Gym.<br>
            In the MD5 page, you'll find a simple CTF challenge that involves password hashing. The page labeled,<br>
            'Salty' contains a simple demonstration of the effectiveness of salting your hash before consummation. <br>
            &nbsp - Johnny Hash
        </p>
</div>
{% endblock content %}
