{% extends "base.html" %}
{% block title%} Internal Error {% endblock %}
{% block content %}
    <div class='image_container' style='text-align: center;'>
        <img style='text-align:center;' src="/static/CyberGymLogo_small.png" alt="UA Little Rock Cyber Gym Logo"/>
    </div>
    <div id='error_container' style='margin:auto;text-align:center;'>
        <h1>Something went wrong</h1>
        <h3>Please try your request again. If the problem persists, contact the CyberGym support staff at <a href="mailto:cybergym@ualr.edu">cybergym@ualr.edu</a></h3>
        <p>Error: {{ error }}</p>
    </div>
{% endblock %}