{% extends "base.html" %}
{% block title%} Admin {% endblock %}

{% block content %}
<script src='../static/login.js'></script>
<script src="../static/workout_spec_form.js"></script>
<script>
    initApp = function(){
        var auth_config = {
          apiKey: '{{auth_config["api_key"]}}',
          authDomain: '{{auth_config["auth_domain"]}}',
          projectId: '{{auth_config["project_id"]}}'
        };
        firebase.initializeApp(auth_config);

        firebase.auth().onAuthStateChanged(function(user){
            if(user){
                $.ajax({
                    type: "POST",
                    url: "/check_user_level",
                    data: JSON.stringify({
                        "user_email": user.email
                    }),
                    success: function(data){
                        var json = $.parseJSON(data);
                        if(json['admin'] == false){
                            location.href = "/login";
                        }else{
                            document.getElementById('admin_container').style.visibility = "visible";                          
                        }
                    }
                })
            } else {
                location.href="/login";
            }
        })

    };
    initApp();
    $(document).ready(function(){
        format_runtime();        
        var build_type_select = document.getElementById("build_type_select");
        build_type_select.addEventListener("change", function(){
            if(this.value == "compute"){
                document.getElementById("compute_build_form").style.display = "block";
                document.getElementById("container_build_form").style.display = "none";
            }
            else if(this.value == "container"){
                document.getElementById("compute_build_form").style.display = "none";
                document.getElementById("container_build_form").style.display = "block";
            }
        })

    })
    function admin_action(action, user_email){
        $.ajax({
            type: "POST",
            url: "/admin",
            data: JSON.stringify({
                "action": action,
                "user_email": user_email
            }),
            success: function(data){
                var json = $.parseJSON(data);
                if(json['action_completed']){
                    location.reload();
                }else{
                    alert("Action denied");
                }
            }
        })
    }
    function workout_search(){
        var search_filter= document.getElementById('filter_select').value;
        var search_term = document.getElementById('search_term').value;
        
        var table = document.getElementById('active_workout_table');
        var rows = table.getElementsByTagName('tr');
        for(var i = 0; i < rows.length; i++){
            var row = rows[i].getElementsByTagName('td');
            if(row){
                for(var j = 0; j < row.length; j++){
                    if(row[j].className === (search_filter + "_field")){
                        console.log(row[j].innerHTML);
                        if(row[j].innerHTML.toUpperCase().trim() !== search_term.toUpperCase().trim()){
                            rows[i].style.display = "none";
                        }
                        else{
                            rows[i].style.display = "";
                        }
                    }
                }
            }

        }
        document.getElementById('clear_filter_button').style.display = "";
    }

    function clear_filter(){
        var table = document.getElementById('active_workout_table');
        var rows = table.getElementsByTagName('tr');
        for(var i = 0; i < rows.length; i++){
            rows[i].style.display = "";
        }
        document.getElementById('clear_filter_button').style.display = "none";
    }



</script>
<style>
    .user_group{
        border: 1px solid black;
        margin-bottom:1em;
    }

    .user_info{
        margin-bottom:2em;
        border-bottom: 1px solid grey;
    }

    .user_controls{
        display:flex;
        flex-direction:row;
        justify-content: space-between;
        padding-top:1em;
        padding-bottom:1em;
    }

    .user_controls .btn{
        font-size:0.9em;
        padding:0;
    }

    .user_list li{
        margin-bottom:1em;
        background-color:lightgrey;
    }

    nav{
        background-color:white;
        box-shadow:none;
        flex-direction:row;
    }

    nav a{
        color:black;
    }
    .nav-item{
        display:flex;
        flex-direction:row;
    }
    #user_management_container{
        width:100%;
        display:flex;
        flex-direction:row;
        justify-content:space-between;
    }

    #customization form{
        margin-top:2em;
        margin-bottom:2em;
    }

    .btn-small{
        width:50%!important;
    }


    #advanced_search_container{
        display:flex;
        flex-direction:row;
        padding:0;
    }

    legend{
        width:auto;
    }
    fieldset{
        padding:1em;
        border: 1px solid black;
        border-style:groove;
    }
    .network_info_container{
        margin-bottom:1em;
    }
    .network_info_container:nth-child(2n){
        border:1px solid black;
        background-color:#f0efed;
    }
    select{
        display:block;
    }

    .form_subgroup > *{
        border:1px solid black;
        margin-bottom:1em;
    }

</style>


<h1>Administrator Controls</h1>

<div id="admin_container" style="visibility: hidden;margin-bottom:1em;">
    <ul class="nav nav-tabs" id="control_tabs" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" id="user_management_tab" data-toggle="tab" href="#user_container" role="tab" aria-controls="user_container" aria-selected="true">User Management</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="maintenance_tab" data-toggle="tab" href="#maintenance_container" role="tab" aria-controls="maintenance_container" aria-selected="false">Maintenance</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="customization_tab" data-toggle="tab" href="#customization_container" role="tab" aria-controls="customization_container" aria-selected="false">Customization</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="workout_creation_tab" data-toggle="tab" href="#workout_creation_container" role="tab" aria-controls="workout_creation_container" aria-selected="false">Create New Workout Specification</a>
        </li>
    </ul>
    <div class="tab-content">
        <div class='tab-pane fade show active user_tab' id='user_container' role="tabpanel" aria-labelledby="user_management_tab">
            <div id="user_management_container">
                <div id='admin_users' class='user_group col-3'>
                    <h2>Admin Users</h2>
                    <ul class='user_list'>
                        {% for user in admin_info['admins'] %}
                            <li>
                                <a class='btn' data-toggle='collapse' href='#admin_user_{{user}}'>{{user}}</a>
                                <div id='admin_user_{{user}}' class='collapse user_info'>
                                    <div class='user_controls'>
                                        <button class='btn' onclick="admin_action('revoke_access', '{{user}}')">Revoke Admin Access</button>
                                    </div>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
                <div id='authorized_users' class='user_group col-3'>
                    <h2>Authorized Users</h2>
                    <ul class='user_list'>
                        {% for user in admin_info['authorized_users'] %}
                            {% if user not in admin_info['admins'] %}
                                <li>
                                    <a class='btn' data-toggle='collapse' href='#auth_user_{{user}}'>{{user}}</a>
                                    <div id='auth_user_{{user}}' class='collapse user_info'>
                                        <div class='user_controls'>
                                            <button class='btn' onclick="admin_action('promote_user', '{{user}}')" style='background-color:green;'>Promote to Admin</button>
                                            <button class='btn' onclick="admin_action('remove_user', '{{user}}')">Remove</button>
                                        </div>
                                    </div>
                                </li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </div>
                <div id='pending_users' class='user_group col-3'>
                    <h2>Pending</h2>
                    <ul class='user_list'>
                        {% for user in admin_info['pending_users'] %}
                            <li>
                                <a class='btn' class='user_link' data-toggle='collapse' href='#pending_user_{{user}}'>{{user}}</a>
                                <div id='pending_user_{{user}}' class='collapse user_info'>
                                    <div class='user_controls'>
                                        <button class='btn' onclick="admin_action('approve_user','{{user}}')" style='background-color:green;'>Approve</button>
                                        <button class='btn' onclick="admin_action('deny_user', '{{user}}')">Deny</button>
                                    </div>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="maintenance_container" rol="tabpanel" aria-labelledby="maintenance_tab">
            <div id="maintenance">
                <br><h2>Maintenance</h2><br>
                <p>This page shows all currently active workouts, as well as some of the basic info you would find in the Datastore. This includes all workouts that have not expired.</p><br>
                <h3>Advanced Search</h3>
                <div id="advanced_search_container" style="align-items:center;">
                    <select id="filter_select" class="col-2" style="display:block;padding:1px;">
                        <option selected>Select Search Key</option>
                        <option value="workout_id">Workout ID</option>
                        <option value="workout_type">Workout Type</option>
                        <option value="instructor">Instructor</option>
                        <option value="unit_id">Unit ID</option>
                        <option value="state">State</option>
                    </select>
                    <input name="search_term" type="text" id="search_term" placeholder="Search for workouts here...">
                    <a href="#" style="text-align:center;" class="btn col-2" onclick="workout_search()">Search</a>
                    
                </div>
                <h3>Active Workouts</h3>
                <a id="clear_filter_button" href="#" onclick="clear_filter()" class="btn" style="display:none;width:50%;margin-bottom:2em;">Clear Filter</a>
                <table id="active_workout_table">
                    <tr>
                        <th>Workout ID</th>
                        <th>Workout Type</th>
                        <th>Instructor</th>
                        <th>Student Name</th>
                        <th>Unit ID</th>
                        <th>State</th>
                        <th>Time Running</th>
                        <th>Cost</th>
                    </tr>
                    {%for workout in active_workouts%}
                        <tr id="workout_row_{{workout.key.name}}">
                            <td class="workout_id_field"><a href="/admin/{{workout.key.name}}">{{workout.key.name}}</a></td>
                            <td class="workout_type_field">{{workout['type']}}</td>
                            <td class="instructor_field">{{workout['user_email']}}</td>
                            {% if workout['student_name'] %}
                            <td class="student_name_field">{{workout['student_name']}}</td>
                            {% else %}
                            <td>N/A</td>
                            {% endif %}
                            <td class="unit_id_field">{{workout['unit_id']}}</td>
                            <td class="state_field">{{workout['state']}}</td>
                            {% if workout['runtime_counter'] %}
                            <td class="runtime_field">{{workout['runtime_counter']}}</td>
                            {% else %}
                            <td>N/A</td>
                            {% endif %}
                            <td>Coming soon</td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
        <div class='tab-pane fade' id='customization_container' role="tabpanel" aria-labelledby="customization_tab">
            <div id="customization">
                <br>
                <h2>Upload Custom Logo</h2>
                <form class='logo_form col-6' action='/update_logo' method="POST" enctype="multipart/form-data">
                    <input type='file' id='custom_logo_update' name='custom_logo' ><br>
                    <button type="submit" class="btn btn-small">Submit</button>
                </form>
                <h2>Change Site Theme</h2>
                <form class='base_form col-6' action='/update_base' method="POST" enctype="multipart/form-data">
                    <input type='text' id='custom_base_update' name='custom_color' placeholder="#FFFFFF"><br>
                    <button type="submit" class="btn btn-small">Submit</button>
                </form>
            </div>
        </div>
        <div class='tab-pane fade' id='workout_creation_container' role='tabpanel' aria-labelledby='workout_creation_tab'>
            <h2>Create A New Workout</h2>
            <form id="new_workout_form" class="new_workout_form col-8" enctype="multipart/form-data">
                <fieldset>
                    <legend>Basic Info</legend>
                    <input type="text" id="workout_name" name="workout_name" placeholder="Workout Name">
                    <label for="teacher_instruction_file">Upload Teacher Instructions</label><br>
                    <input type="file" id="teacher_instruction_file" name="teacher_instruction_file"><br><br>

                    <label for="student_instruction_file">Upload Student Instructions</label><br>
                    <input type="file" id="student_instruction_file" name="student_instruction_file"><br><br>

                    <textarea id="workout_description" name="workout_description" placeholder="Workout Description"></textarea>
                    <label for="build_type_select">Select Workout Build Type</label>
                    <select id="build_type_select" style="display:block" name="build_type">
                        <option value="compute">Compute VM</option>
                        <option value="container">Container App</option>
                    </select>
                </fieldset>
                <div id="compute_build_form">
                    <fieldset>
                        <legend>Student Entry</legend>
                        <select style="display:block" name="entry_type">
                            <option value="rdp">RDP</option>
                            <option value="vnc">VNC</option>
                        </select>
                        <input type="text" id="workout_username" name="workout_username" placeholder="Workout Username">
                        <label for="workout_username">Enter the student entry username</label>
                        <input type="text" id="workout_password" name="workout_password" placeholder="Workout Password">
                        <label for="workout_password">Enter the student entry password</label>
                    </fieldset>
                    <fieldset>
                        <legend>Networks</legend>
                        <div class="form_subgroup" id="network_container"></div>

                        <a onclick="new_network()" class="btn" id="create_network_button">Add Network</a>
                    </fieldset>
                    <fieldset>
                        <legend>Servers</legend>
                        <div class="form_subgroup" id="server_container"></div>
                        <a onclick="new_server()" class="btn" id="create_server_button">Add Server</a>
                    </fieldset>
                    <fieldset>
                        <legend>Firewall Rules</legend>
                        <div class="form_subgroup" id="firewall_container"></div>
                        <a onclick="new_firewall()" class="btn" id="create_firewall_button">Add Firewall Rule</a>
                    </fieldset>
                </div>
                <div id="container_build_form" style="display:none;">
                    <fieldset>
                        <legend>Container Info</legend>
                        <input type="text" id="container_url" name="container_url">
                        <label for="container_url">Enter the container URL (visible in GCP)</label>
                    </fieldset>
                </div>
                <fieldset>
                    <legend>Assessment</legend>
                    <div class="form_subgroup" id="assessment_container"></div>
                    <a onclick="new_assessment_question()" class="btn" id="add_question_button">Add Assessment Question</a>
                </fieldset>
                <br>                
                <a class="btn btn-small" onclick="process_new_spec()">Submit</a>
                <!-- <input id="new_workout_submit" type="submit" class="btn" value="Submit"> -->
            </form>
        </div>
    </div>
</div>
<div class="modal fade" id="yaml_modal" tabindex="-1" role="dialog" aria-labelledby="commentsModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div id="yaml_content"></div>

        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
          <button type="button" class="btn btn-primary" onclick="confirm_new_spec()">Send</button>
        </div>
      </div>
    </div>
  </div>
  <script>
    
    document.getElementById('new_workout_form').addEventListener('submit', function(event){
        event.preventDefault();
        var formData = new FormData(this);
        var test = new FormData();
        alert("File Inputs:\n" + file_inputs);
        console.log(file_inputs);
        console.log(file_inputs[0].files);
        //for(var i = 0; i < file_inputs.length; i++){
          //  console.log(file_inputs[i].files);
        //}
        var teacher_file = document.getElementById('teacher_instruction_file').files;
    });
</script>


{% endblock %}
