{% if BASE_TEMPLATE %}
{% extends BASE_TEMPLATE|string %}
{% else %}
{% extends "base.html" %}
{% endif %}

{% block title%} Workout {{ workout_id }} {% endblock %}
{% import 'nuke_macro.html' as nuke %}
{% import 'logo_macro.html' as logo %}

    {% block content%}
    {% if state != "RUNNING" %}
        <script>
            $(document).ready(function(){
                $("assessment_reveal").click(function(){
                    $("#assessment_form").fadeIn();
                })
                check_workout_state();
            })
            var state_checker = setInterval(check_workout_state, 10000);

            function check_workout_state(){
                $.ajax({
                    type:"POST",
                    url: "/workout_state/{{ workout_id }}",
                    traditional: "true",
                    success: function(data){
                        var state_display = document.getElementById("workout_state_display");
                
                        if(data == "RUNNING"){
                            state_display.style.color = "green";
                            state_display.innerHTML = "RUNNING";
                            $("#stop-vm").removeAttr("disabled");     
                            $("#reset-vm").removeAttr("disabled");                      
                        } else if(data == "READY"){
                            state_display.style.color = "red";
                            state_display.innerHTML = "STOPPED";
                            $("#start-vm").removeAttr("disabled");
                        } else{
                            state_display.style.color = "orange";
                            state_display.innerHTML = "WORKING";
                            $("#start-vm").attr("disabled");
                            $("#stop-vm").attr("disabled");
                            $("#reset-vm").attr("disabled");
                        }
                    }

                })
            }

        </script>
    {% endif %}
    <div class='landing_container col-lg-12'>
        <div class='row'>
        <div class='workout_links col-sm-2' style="margin-top:1em;border-right:1px solid black">
            {{ logo.logo_div() }}
            <br><h2>Workout Control</h2><br>
            <p>Workout status: <span id='workout_state_display'></span></p><br>
            <!-- {% if state == "RUNNING" %}
                <p>Workout status: <span id='workout_state_running' style="color:green">RUNNING</span></p><br>
                {% else %}
                <p>Workout status: <span id='workout_state_stopped' style="color:red">STOPPED</span></p><br>
                <script>

                </script>
            {% endif %} -->
                <p>Expiration date: {{ expiration }}</p><br>
                <div class='control_button'>

                    <form action="/start_vm" method="post">
                        <div class="input-field" >
                                <input type="hidden" id="workout_id" name="workout_id" value="{{ workout_id }}">
                                <input type="number" id="time" name="time" value="2" min="1" max="10" style="margin-top:1em;">
                                <label>Run time (1 - 10 hours)</label>
                        </div>
                        <div class="btn-ctn">
                            {% if state == "READY" %}
                                <button type="submit" id="start-vm" class="waves-effect waves-light btn" >START WORKOUT</button>
                            {% else %}
                                <button type="submit" id="start-vm" class="waves-effect waves-light btn" disabled>START WORKOUT</button>
                            {% endif %}
                        </div>
                    </form>
                </div>
                <div class='control_button'>
                    <form action="/stop_vm" method="post">
                        <input type="hidden" id="workout_id" name="workout_id" value="{{ workout_id }}">
                        <div class="btn-ctn">
                            {% if state == "RUNNING" %}
                                <button id="stop-vm" class="waves-effect waves-light btn" >STOP WORKOUT</button>
                            {% else %}
                                <button id="stop-vm" class="waves-effect waves-light btn" disabled>STOP WORKOUT</button>
                            {% endif %}
                        </div>
                    </form>
                </div>
                <div class='control_button'>
                    <form action="/reset_vm" method="post">
                        <input type="hidden" id="workout_id" name="workout_id" value="{{ workout_id }}">
                        <div class="btn-ctn">
                                <button id="reset-vm" class="waves-effect waves-light btn" disabled>RESET WORKOUT</button>
                        </div>
                    </form>
            
                </div>

                {{ nuke.nukeButton(workout_id|string) }}


        </div>
        <div class='col-sm-9' style="padding-top:1em; margin-top:2%;">
            <div id='workout_info' class='container' style="margin:0;">
                <h2>Welcome to your {{ workout_name }} workout!</h2>
                <p>{{ description }}</p>
                {% if score %}
                <p>Assessment Results: {{ score }}</p>
                <p>*Results may not be final</p>
                {% endif %}

                {% if state == "RUNNING" %}
                <br><h2>Workout Servers</h2>
                    {% if guac_user == 'container' %}
                        <a style="width:50%" class="btn" href="{{guac_path}}/{{workout_id}}" target="_blank" rel="noopener noreferrer">Enter your workout!</a>
                    {% elif guac_path==None %}
                        <a style="width:50%" class="btn" href="http://{{ workout_id }}{{ dns_suffix }}:8080/guacamole/#/" target="_blank">Enter your workout!</a>
                    {% else %}
                        <a style="width:50%" class="btn" href="http://{{ workout_id }}{{ dns_suffix }}:8080/guacamole/#/client/{{ guac_path}}" target="_blank">Enter your workout!</a>
                    {% endif %}
                        <p>*Machines may take a couple minutes to start</p>
                {% endif %}
                <br>
                
                </p>
            </div>
            <div id="workout_id" hidden>{{ workout_id }}</div>
            <div class='container' id='instructions' style="margin:0;">
                <!-- <h2>Description</h2> -->
                {% if guac_user and guac_pass %}
                <h2>Workout Info</h2>
                    <p>Workout Username: {{guac_user}}</p>
                    <p>Workout Password: {{guac_pass}}</p>
                {% endif %}
                {% if student_instructions %}
                    <a href="{{ student_instructions }}" target="_blank" rel="noopener noreferrer" class='landing_dropdown'>Workout Instructions</a>
                {% endif %}



                <div id="loading-msg"></div>
                <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
                <script>
                    $(document).ready(function(){
                        $("form").submit(function(){
                            $('#start-vm').attr('disabled','disabled');
                            $('#stop-vm').attr('disabled','disabled');
                            $('#reset-vm').attr('disabled','disabled');
                            $("#loading-msg").html('Please wait while the process completes' +
                                '</br><div class="loader"></div>');
                        });
                    });

                    function reveal_assessment(){
                        $(".workout_assessment_form").fadeToggle();
                    }
                    
                </script>
            </div> <!--Workout info container-->
                {% if assessment %}
                <br>  
                <div class='container' id='assessment'>
                    <a class='landing_dropdown btn' id='assessment_dropdown_control' onclick="reveal_assessment()">Assessment</a><br>
                    <form class='workout_assessment_form' action='/landing/{{ workout_id }}' method="POST" style="display:none; margin-top:2em;" enctype="multipart/form-data">
                    {% for question in assessment%}
                        {% if question['type'] == 'input' %}
                            <div class='question_group'>
                                <input type="hidden" name="question" value="{{ question['question'] }}" />
                                {{ question['question'] }}<br>
                                <input type='text' name="answer" />
                            </div>
                        {% elif question['type'] == 'upload' %}
                            <div class='question_group'>
                            <input type="hidden" name="upload_prompt" value="{{ question['question'] }}" />
                            {{ question['question'] }}<br>
                            <input type='file' id='assessment_file_upload' name='file_upload'><br><br>
                            </div>
                        {% elif question['type'] == 'auto' %}
                            <div class='question_group'>
                                <input type="hidden" name="question" value="{{ question['question'] }}" />
                                {{ question['question'] }}
                                {% if question['complete'] %}
                                <span style='color:green;'>Complete</span>
                                {% else %}
                                <span style='color:red;'>Not completed</span>
                                {% endif %}
                                <br>
                            </div>
                        {% endif %}
                    {% endfor %}
                    {% if assessment_type == 'percentage' %}
                    <button type='submit' class="btn" style="margin-top:0;text-align:center;">Submit</button>
                    {% endif %}
                    </form><br>
                </div> <!--Assessment Dropdown-->
                    {% endif %}
        </div>
    </div> <!--Main Container-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
         <!-- <script>
                $(document).ready(function(){
                    // Initialize Tooltip
                    $('[data-toggle="tooltip"]').tooltip();
    
                    // Add smooth scrolling to all links in navbar + footer link
                    $(".navbar a, footer a[href='#homePage']").on('click', function(event) {
                        // Make sure this.hash has a value before overriding default behavior
                        if (this.hash !== "") {
                            // Prevent default anchor click behavior
                            event.preventDefault();
                                var hash = this.hash;
    
                                // Using jQuery's animate() method to add smooth page scroll
                                // The optional number (900) specifies the number of milliseconds it takes to scroll to the specified area
                                $('html, body').animate({
                                scrollTop: $(hash).offset().top
                                }, 900, function(){
    
                            // Add hash (#) to URL when done scrolling (default click behavior)
                            window.location.hash = hash;
                            });
                        }
                    });
                });
        </script> -->
    </div>
{% endblock %}
    <!-- </html> -->