{% extends "base.html" %}


{% block title%} Workout {{ workout_name }} {% endblock %}
{% import 'nuke_macro.html' as nuke %}
{% import 'logo_macro.html' as logo %}

    {% block content%}
        {% if build_type == "compute" %}
        <script>
            $(document).ready(function(){
                var state_checker = setInterval(check_workout_state, 20000);
                $("assessment_reveal").click(function(){
                    $("#assessment_form").fadeIn();
                })
                check_workout_state();
                $(".control_form").submit(function(event){
                    event.preventDefault();

                    $('#start-vm').attr('disabled','disabled');
                    $('#stop-vm').attr('disabled','disabled');
                    $('#reset-vm').attr('disabled','disabled');
                    $("#loading-msg").html('Please wait while the process completes' +
                        '</br><div class="loader"></div>');
                    var currentState = document.getElementById("workout_state_display").innerHTML;
                    var route = "/" + event.target.id;
                    var workout_id = document.getElementById("workout_id").value;
                    $.ajax({
                        type: "POST",
                        url: route,
                        data: JSON.stringify({"workout_id": workout_id}),
                        contentType: "application/json;charset=utf-8",
                        success: function(data){
                            var newState = document.getElementById("workout_state_display").innerHTML;
                            while(newState == currentState){
                                var new_checker = setTimeout(check_workout_state, 15000);
                            }
                           
                        }
                    })
                })
            })
            

            function check_workout_state(){
                $.ajax({
                    type:"POST",
                    url: "/workout_state/{{ workout.key.name }}",
                    traditional: "true",
                    success: function(data){
                        var state_display = document.getElementById("workout_state_display");
                        var workout_link = document.getElementById("workout_link");
                        if(data == "RUNNING"){
                            workout_link.style.visibility = "visible";
                            state_display.style.color = "green";
                            state_display.innerHTML = "RUNNING";
                            $("#start-vm").attr("disabled", "disabled");
                            $("#stop-vm").removeAttr("disabled");     
                            $("#reset-vm").removeAttr("disabled");   
                            $(".loader").remove();                   
                        } else if(data == "READY"){
                            workout_link.style.visibility = "hidden";

                            state_display.style.color = "red";
                            state_display.innerHTML = "STOPPED";
                            $("#start-vm").removeAttr("disabled");
                            $("#stop-vm").attr("disabled", "disabled");
                            $("#reset-vm").attr("disabled", "disabled");
                            $(".loader").remove(); 
                        } else{
                            workout_link.style.visibility = "hidden";

                            state_display.style.color = "orange";
                            state_display.innerHTML = "WORKING";
                            $("#start-vm").attr("disabled", "disabled");
                            $("#stop-vm").attr("disabled", "disabled");
                            $("#reset-vm").attr("disabled", "disabled");
                            $(".loader").remove();  
                        }
                        return data;
                    }

                })
            }

        </script>
        {% endif %}
    <div class='landing_container col-lg-12'>
        <div class='row'>
        <div class='workout_links col-sm-2' style="margin-top:1em;border-right:1px solid black">
            {{ logo.logo_div() }}
            <br><h2>Workout Control</h2><br>
            <p>Workout status: 
                {% if build_type == "container" %}
                <span id="workout_state_display" style="color:green;">RUNNING</span>
                {% else %}
                <span id='workout_state_display' style="color:red;">STOPPED</span>
                {% endif %}</p><br>
            <div id="loading-msg"></div>
                <p>Expiration date: {{ expiration }}</p><br>
                {% if build_type == "compute" %}
                <div class='control_button'>
                    <form class="control_form" id='start_vm' action="/start_vm" method="post">
                        <div class="input-field" >
                                <input type="hidden" id="workout_id" name="workout_id" value="{{ workout.key.name }}">
                                <input type="number" id="time" name="time" value="2" min="1" max="10" style="margin-top:1em;">
                                <label>Run time (1 - 10 hours)</label>
                        </div>
                        <div class="btn-ctn">
                            {% if state == "READY" %}
                                <button type="submit" id="start-vm" class="waves-effect waves-light btn" >START WORKOUT</button>
                            {% else %}
                                <button type="submit" id="start-vm" class="waves-effect waves-light btn" disabled>START WORKOUT</button>
                            {% endif %}
                        </div>
                    </form>
                </div>
                <div class='control_button'>
                    <form class="control_form" id="stop_vm" action="/stop_vm" method="post">
                        <input type="hidden" id="workout_id" name="workout_id" value="{{ workout.key.name }}">
                        <div class="btn-ctn">
                            {% if state == "RUNNING" %}
                                <button id="stop-vm" class="waves-effect waves-light btn" >STOP WORKOUT</button>
                            {% else %}
                                <button id="stop-vm" class="waves-effect waves-light btn" disabled>STOP WORKOUT</button>
                            {% endif %}
                        </div>
                    </form>
                </div>
                <div class='control_button'>
                    <form class="control_form" id="reset_vm" action="/reset_vm" method="post">
                        <input type="hidden" id="workout_id" name="workout_id" value="{{ workout.key.name }}">
                        <div class="btn-ctn">
                                <button id="reset-vm" class="waves-effect waves-light btn" disabled>RESET WORKOUT</button>
                        </div>
                    </form>
            
                </div>

                {{ nuke.nukeButton(workout.key.name|string) }}
                {% endif %}

        </div>
        <div class='col-sm-9' style="padding-top:1em; margin-top:2%;">
            <div id='workout_info' class='container' style="margin:0;">
                <h2>Welcome to your {{ workout_name }} workout!</h2>
                <p>{{ description }}</p>
                {% if score %}
                <p>Assessment Results: {{ score }}</p>
                <p>*Results may not be final</p>
                {% endif %}
                <br><h2>Workout Servers</h2>
                {% if build_type == 'container' %}
                    <a style="width:50%" class="btn" id="container_workout_link" href="{{guac_path}}/{{workout.key.name}}" target="_blank" rel="noopener noreferrer">Enter your workout!</a>
                {% else %}
                    <a style="width:50%; visibility:hidden" class="btn" id="workout_link" href="http://{{ workout.key.name }}{{ dns_suffix }}:8080/guacamole/#/" target="_blank">Enter your workout!</a>
                {% endif %}
                <br>
                
                </p>
            </div>
            <div id="workout_id" hidden>{{ workout.key.name }}</div>
            <div class='container' id='instructions' style="margin:0;">
                <!-- <h2>Description</h2> -->
                {% if build_type == "compute" %}
                <h2>Workout Info</h2>
                    <p>Workout Username: {{workout['workout_user']}}</p>
                    <p>Workout Password: {{workout['workout_password']}}</p>
                {% endif %}
                {% if student_instructions %}
                    <a href="{{ student_instructions }}" target="_blank" rel="noopener noreferrer" class='landing_dropdown'>Workout Instructions</a>
                {% endif %}



                
                <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
                <script>
                    
                    function reveal_assessment(){
                        $(".workout_assessment_form").fadeToggle();
                    }
                    
                </script>
            </div> <!--Workout info container-->
                {% if assessment %}
                <br>  
                <div class='container' id='assessment'>
                    <a class='landing_dropdown btn' id='assessment_dropdown_control' onclick="reveal_assessment()">Assessment</a><br>
                    <form class='workout_assessment_form' action='/landing/{{ workout.key.name }}' method="POST" style="display:none; margin-top:2em;" enctype="multipart/form-data">
                    {% for question in assessment%}
                        {% if question['type'] == 'input' %}
                            <div class='question_group'>
                                <input type="hidden" name="question" value="{{ question['question'] }}" />
                                {{ question['question'] }}<br>
                                <input type='text' name="answer" />
                            </div>
                        {% elif question['type'] == 'upload' %}
                            <div class='question_group'>
                            <input type="hidden" name="upload_prompt" value="{{ question['question'] }}" />
                            {{ question['question'] }}<br>
                            <input type='file' id='assessment_file_upload' name='file_upload'><br><br>
                            </div>
                        {% elif question['type'] == 'auto' %}
                            <div class='question_group'>
                                <input type="hidden" name="question" value="{{ question['question'] }}" />
                                {{ question['question'] }}
                                {% if question['complete'] %}
                                <span style='color:green;'>Complete</span>
                                {% else %}
                                <span style='color:red;'>Not completed</span>
                                {% endif %}
                                <br>
                            </div>
                        {% endif %}
                    {% endfor %}
                    {% if assessment_type == 'percentage' %}
                    <button type='submit' class="btn" style="margin-top:0;text-align:center;">Submit</button>
                    {% endif %}
                    </form><br>
                </div> <!--Assessment Dropdown-->
                    {% endif %}
        </div>
    </div> <!--Main Container-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    </div>
{% endblock %}
    <!-- </html> -->