{% macro logo_div() -%}
    {% if CUSTOM_LOGO_LOCATION %}
    <div class='image_container' style='text-align: center;'>
        <img style='text-align:center;' class="img-fluid" src=".{{CUSTOM_LOGO_LOCATION}}" alt="UA Little Rock Cyber Gym Logo"/>
    </div>
    {% else %}
    <div class='image_container' style='text-align: center;'>
        <img style='text-align:center;' class="img-fluid" src="/static/CyberGymLogo_small.png" alt="UA Little Rock Cyber Gym Logo"/>
      </div>
    {% endif %}
{%- endmacro %}