{% if BASE_TEMPLATE %}
{% extends BASE_TEMPLATE|string %}
{% else %}
{% extends "base.html" %}
{% endif %}
{% block title %}Workout Builder{% endblock %}
{% block content %}
<script src='../static/login.js'></script>
<script>

var teacher_email = null;
initApp = function(){
    var auth_config = {
        apiKey: '{{auth_config["api_key"]}}',
        authDomain: '{{auth_config["auth_domain"]}}',
        projectId: '{{auth_config["project_id"]}}'
      };
      //alert('{{auth_config["api_key"]}}');
    firebase.initializeApp(auth_config);
    firebase.auth().onAuthStateChanged(function(user){
        if(user){
            document.getElementById('email').value = user.email;
        }else{
            window.location.href = "/login";
        }
    })
};
window.addEventListener('load', function(){
    initApp();
})
</script>
            <h1>Build <span id="workout_type">{{workout_type}}</span> workout :</h1>

            <form action="" method="post" novalidate>
                {{ form.hidden_tag() }}
                <!-- <input type='hidden' id='user_email_field'> -->
                <div class="input-field col s12">
                    {{ form.unit(size=32) }}<br>
                    {{ form.unit.label }}
                </div>
                <div class="input-field col s12">
                    {{ form.team(size=32) }}<br>
                    {{ form.team.label }}
                </div>

                <div class="input-field col s12">
                    {{ form.length(size=32) }}<br>
                    {{ form.length.label }}
                </div>

                <div class="btn-ctn">
                    <button type="submit" id="build-workout" class="waves-effect waves-light btn" >BUILD WORKOUT</button>
                </div>
            </form>
            <br>
            <div id="loading-msg"></div>
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script> -->
    <script>
        $(document).ready(function(){
            $("form").submit(function(){
                $('#workout-form :input').attr('readonly','readonly');
                $('#build-workout').attr('disabled','disabled');
                $("#loading-msg").html('Please wait while your workouts are created.</br>' +
                    'This can take several minutes.</br>' +
                    'Links to your workouts will be displayed when the process is complete.</br>' +
                    'Go grab some coffee (or tea, if you prefer).</br>' +
                    '</br><div class="loader"></div>');
            });

        });
    </script>
{% endblock %}