{% extends "base.html" %}

{% import 'logo_macro.html' as logo %}

{% block title %}Teacher Home Page{% endblock %}

{% block content %}
<script src='../static/login.js'></script>

<script>
  function show_student_name_form(student_name, class_id){
    var new_name = prompt("Enter a new name for student " + student_name);
    if(new_name){
      $.ajax({
        type: "POST",
        url: "/change_roster_name/" + class_id + "/" + student_name,
        data: JSON.stringify({
            "new_name": new_name
        }),
      })
    }
  }

  function remove_student(class_id){
    var student_name = prompt("Enter the name of the student to remove: ");
    $.ajax({
      type: "POST",
      url: "/change_class_roster/" + class_id,
      data: JSON.stringify({
        "action": "remove",
        "student_name":student_name
      }),
      success: function(){
        window.location.reload();
      }
    })
  }

  function add_new_student(class_id){
    var new_student_name = prompt("Enter the new student's name");
    $.ajax({
      type: "POST",
      url: "/change_class_roster/" + class_id,
      data: JSON.stringify({
          "action": "add",
          "student_name":new_student_name
      }),
      success: function(){
        window.location.reload();
      }
    })
  }

  var teacher_email = null;
  initApp = function(){
    var auth_config = {
      apiKey: '{{auth_config["api_key"]}}',
      authDomain: '{{auth_config["auth_domain"]}}',
      projectId: '{{auth_config["project_id"]}}'
    };
    //alert('{{auth_config["api_key"]}}');
    firebase.initializeApp(auth_config);
    firebase.auth().onAuthStateChanged(function(user){
      if(user){
        var displayName = user.displayName;
        teacher_email = user.email;
        var data = {teacher_email:teacher_email}
        
        document.getElementById('class_creation_teacher_id').value = teacher_email;

        document.getElementById('user_name_header').innerHTML = "Welcome " + displayName;

        $.ajax({
          type: "POST",
          url: "/check_user_level",
          data: JSON.stringify({
              "user_email": user.email
          }),
          success: function(data){
            var json = $.parseJSON(data)
            if(json['authorized'] == false){
              location.href = "/unauthorized";
            }
            if(json['admin'] == true){
              var controls = document.getElementById('teacher_controls');
              var admin_button = document.createElement("a");
              admin_button.href = "/admin";
              admin_button.className = "btn";
              admin_button.innerHTML = "Admin Page";
              admin_button.style.marginTop = "1em";
              controls.append(admin_button);
            }

          }
        })

      } else {
        window.location.href = "/login";
        document.getElementById('sign-out').style.display = "none";
        document.getElementById('info_display').style.display = "none";
        document.getElementById('build_workout_widget').style.display = "none";
        document.getElementById('user_name_header').innerHTML = "Please Log In";
        var sign_in_button = document.createElement('a');
        sign_in_button.innerHTML = "Login";
        sign_in_button.className = "btn";
        sign_in_button.href = "/login";
        var container = document.getElementById('teacher_controls');
        container.appendChild(sign_in_button);
        container.style.margin = "auto";
        
      }
    })
    var signOutBtn =$('#sign-out');
    signOutBtn.click(function(event) {
      event.preventDefault();
  
      firebase.auth().signOut().then(function() {
        console.log("Sign out successful");
        window.location.href = "/login";
      }, function(error) {
        console.log(error);
      });
    });
    return teacher_email;
  };

  window.addEventListener('load', function(){
    var teacher_email = initApp();
    var timestamp_list = document.getElementsByClassName('timestamp_field');
    for(var i = 0; i < timestamp_list.length; i++){
      timestamp_list[i].innerHTML = timeConverter(timestamp_list[i].innerHTML)
    }
  })
  
  function timeConverter(UNIX_timestamp){
    var a = new Date(UNIX_timestamp * 1000);
    var months = ['Jan','Feb','Mar','Apr','May','Jun','Jul','Aug','Sep','Oct','Nov','Dec'];
    var year = a.getFullYear();
    var month = months[a.getMonth()];
    var date = a.getDate();
    var hour = a.getHours();
    var min = a.getMinutes();
    var sec = a.getSeconds();
    var time = date + ' ' + month + ' ' + year + ' ' + hour + ':' + min + ':' + sec ;
    return time;
  }

  function to_build_page(){
    var input = document.getElementById('unit_select').value;
    window.location.href = "/" + input;
  }
</script>
<style>

  .unit_group{
    border:1px solid black;
    margin-bottom:1em;
  }
  .unit_header{
    color:white;
    background-color:var(--main_color, #6e2639);
    margin-top:0;
  }
</style>

<div class='row'>
  <div id='teacher_controls' class='col-3'>
    {{logo.logo_div() }}
    <h2 style="text-align: center;"><span id='user_name_header'></span>!</h2>
    
    <div  id="build_workout_widget" class="input-group mb-3 unit_build_container" style="margin-bottom:1em;">
      
      <div class="input-group-prepend">
        <button class="btn btn-outline-secondary" type="button" onclick='to_build_page()'>Build Unit</button>
      </div>
      <select class="custom-select" id="unit_select">
        <option selected>Select unit type...</option>
        <option value="mobileforensics">Mobile Forensics</option>
        <option value="cyberattack">Botnet Cyberattack</option>
        <option value="ransomware">Ransomware</option>
        <option value="bufferoverflow">Buffer Overflow</option>
        <option value="wireshark">Wireshark</option>
        <option value="nessus">Nessus</option>
        <option value="publicprivate">Public/Private</option>
        <option value="password-policy">Password Policy</option>
        <option value="phishing">Phishing</option>
        <option value="johnnycipher">Johnny Cipher</option>
        <option value="reversus">Reversus</option>
        <option value="dos">DOS</option>
        <option value="shodan">Shodan</option>
        <option value="2fa">Two-Step Authentication</option>
        <option value="xss">Cross-Site Scripting</option>
        <option value="inspect">Inspect Element</option>
        <option value="sql">SQL Injection</option>
        <option value="arena_snake">Arena Snake</option>
        <option value="hiddennode">Hidden Node</option>
        <option value="access-control">Access Control</option>
      </select>
    </div>
    <button id="sign-out" class='btn'>Sign out</button>
  </div>
  <div id='info_display' class='col'>
    <ul class="nav nav-tabs" id="control_tabs" role="tablist">
      <li class="nav-item">
          <a class="nav-link active" id="unit_tab" data-toggle="tab" href="#unit_container" role="tab" aria-controls="user_container" aria-selected="true">Units</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" id="class_tab" data-toggle="tab" href="#class_container" role="tab" aria-controls="class_container" aria-selected="false">Classes</a>
      </li>
    </ul>
    <div class='tab-content'>
      <div class="tab-pane fade active show" id="unit_container" role="tabpanel" aria-labelledby="unit_tab">
        <h2>Your Units</h2>
        {% for workout_name, items in teacher_info['units']|groupby('workout_name') %}
          <div style="margin-bottom:1em;border:1px solid black;">
            <a class="unit_header btn" data-toggle="collapse" href="#unit_group_{{workout_name}}">{{workout_name}}</a>
            <div id="unit_group_{{workout_name}}" class="collapse" style="margin-bottom:1em;">
              <table id="unit_table_{{workout_name}}">
                <tr>
                  <th>Unit Name</th>
                  <th>Creation Date</th>
                </tr>
                {% for unit in items %}
                <tr>
                  <td>
                  {% if unit['build_type'] == "arena" %}
                    <a href="/arena_list/{{unit.unit_id}}">{{unit.unit_name}}</a>
                  {% else %}
                    <a href="/workout_list/{{unit.unit_id}}">{{unit.unit_name}}</a>
                  {% endif %}
                  </td>
                  <td class='timestamp_field'>
                    {{unit.timestamp}}
                  </td>
                </tr>
                {% endfor %}
              </table>
            </div>
          </div>
        {% endfor %}
      </div>
      <div class="tab-pane fade" id="class_container" role="tabpanel" aria-labelledby="class_tab">
        <h2>Your Classes</h2>
        <div id="class_list">
          {% for class in teacher_info['classes'] %}
          <div style="margin-bottom:1em;border:1px solid black;">
            <a class="class_header btn" data-toggle="collapse" href="#class_group_{{class['class_name']}}">{{class['class_name']}}</a>
            <div id="class_group_{{class['class_name']}}" class="collapse" style="margin-bottom:1em;">
              <table id="class_table_{{class['class_name']}}">
                <tr>
                  <td>Roster</td>
                  <td>Units</td>
                </tr>
                <tr>
                  <td>
                    <ul>
                    {% for student in class['roster'] %}
                      <li>{{student}} <a href="#" onclick="show_student_name_form('{{student}}', '{{class['class_id']}}')">Change Name</a></li>
                    {% endfor %}
                    </ul>
                    <br>
                    <a class="add_student_link" href="#" onclick="add_new_student('{{class['class_id']}}')">Add New Student</a><br>
                    <a class="remove_student_link" href="#" onclick="remove_student('{{class['class_id']}}')">Remove Student</a>
                  </td>
                  <td>
                    {% if class['class_units'] %}
                    <table>
                    <tr>
                      <th>Unit Name</th>
                      <th>Unit Type</th>
                      <th>Creation Date</th>
                      <th>Remove</th>
                    </tr>
                    
                      {% for unit in class['class_units'] %}
                      <tr>
                        {% if unit['build_type'] != 'arena' %}
                          <td><a href="/workout_list/{{unit['unit_id']}}">{{unit['unit_name']}}</a></td>
                          <td>{{unit['workout_name']}}</td>
                        {% else %}
                          <td><a href="/arena_list/{{unit['unit_id']}}">{{unit['unit_name']}}</a></td>
                          <td>{{unit['workout_name']}}</td>
                        {% endif %}
                        {% if unit['timestamp']%}
                        <td class='timestamp_field'>{{unit['timestamp']}}</td>
                        {% else %}
                        <td>Unknown</td>
                        {% endif %}
                        <td><a href="/remove_unit_from_class/{{class['class_id']}}/{{unit['unit_id']}}">Remove Unit</a></td>
                      </tr>
                      {% endfor %}
                      </ul>
                    {% else %}
                    <p>This class has no units</p>
                    {% endif %}
                    </table>
                  </td>
                </tr>

              </table>
              <a href="/remove_class/{{class['class_id']}}">Remove Class</a>

            </div>
          </div>
          {% endfor %}

        </div> <!-- Filled in by AJAX -->
          <a style="width:50%!important;text-align:center;" class='btn' data-toggle='collapse' href='#create_class_form'>Create New Class</a>
        <div id='create_class_form' class='collapse user_info'>

          <form action="/create_new_class" method="POST">
            <input name="class_name"id="class_name_input" type="text"/>
            <label for="class_name_input">Class Name (for future reference)</label>

            <input name="num_students" id="num_students_input" type="number"/>
            <label for="num_students_input">Number of students</label>

            <input name="teacher_email" type="hidden" id='class_creation_teacher_id'/>
            <br>
            <button class="btn" type="submit">Submit</button>
          </form>
        </div>
      </div>
      </div>
    </div>
</div>
    </div>
    <!-- <h2 style='text-align: center;'>Your Units</h2> -->
  </div>
</div>

{% endblock %}
