{% extends "base.html" %}
{% block title%}Cyber Gym Unit Registration{% endblock%}
{% block content %}
    {% if unit_full %}
    <h2>Unit Full</h2>
    <p>Please contact your instructor to access your workout</p>
    {% else %}
    <h2>Workout Registration</h2>
        <div id="unit_registration_input">
            <form id="student_info" action="" method="POST">
                <input name="student_name" type="text" placeholder="Your name here">
                <label for="student_name">Enter your name</label>
                <input class="btn" type="submit">
            </form>
        </div>
    <br>
    {% endif %}
{% endblock %}