{% extends "teacher_base.html" %}
{% import 'logo_macro.html' as logo %}
{% block title %}Teacher Home{% endblock %}
{% block nav_title %}Teacher Home{% endblock %}
{% block styles %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('teacher_app.static', filename='css/teacher_app_styles.css') }}">
{% endblock styles %}
{% block navbar %}
    <div class="navbar-nav mr-auto">
        <ul class="nav nav-pills top-navbar-pill">
            <li class="nav-item">
                <a href="{{ url_for('home') }}" class="nav-link text-center">Cyber Arena</a>
            </li>
            <li class="nav-item">
                <a href="{{ url_for("fixed_arena.home") }}" class="nav-link text-center">STOC</a>
            </li>
            {% if 'admins' in auth_list %}
                <li class="nav-item">
                    <a href='/admin/home' class="nav-link text-center">Admin Home</a>
                </li>
            {% endif %}
        </ul>
    </div>
     <div class="navbar-nav navbar-right">
        <ul class="nav nav-pills top-navbar-pill">
            <li class="nav-item">
                <a id="contact-us" class="nav-item btn top-navbar-btn" href="#" data-toggle="modal" data-target="modalContactUs">Contact Us</a>
            </li>
            <li class="nav-item disabled">
                <p id="banner" class="nav-item btn top-navbar-btn disabled no-select"></p>
            </li>
            <li class="nav-item">
                <a id="sign-out" class="nav-item btn top-navbar-btn">Sign Out</a>
            </li>
        </ul>
    </div>
{% endblock %}
{% block content %}
    <script type="text/javascript" src='{{ url_for("static", filename="js/login.js") }}'></script>
    <script type="text/javascript" src='{{ url_for(".static", filename="js/teacher_app.js") }}'></script>
    <script>
          var teacher_email = null;
          var auth_config = {
              apiKey: '{{ auth_config["api_key"] }}',
              authDomain: '{{ auth_config["auth_domain"] }}',
              projectId: '{{ auth_config["project_id"] }}'
          };
          initApp(auth_config).then(value => {
              enable_signout();
               // Set welcome banner
              const welcome_nav = document.getElementById('banner');
              welcome_nav.textContent = value['display_name'];
              const teacher_email_input = document.getElementById("class_creation_teacher_id");
              teacher_email_input.value = value['email'];
          });
           $(document).ready(function() {
               // Call functions that need to be run during initial page load here
               var tsToDate = new TimestampToDate();
               tsToDate.convert_timestamps();
           });
    </script>
     <div id="content-row" class="row row-offcanvas row-offcanvas-left vh-100">
        <div id="sidebar-div" class="col-md-3 col-lg-2 sidebar-offcanvas h-100 overflow-auto nav-sidebar" role="navigation">
            <ul id="sidebar-nav" class="nav nav-pills flex-column sticky-top pl-0 mt-3" role="tablist">
                <li>{{ logo.logo_div() }}</li>
                <!-- Not Sure if we need this sidebar here on this page -->
                <li class="nav-item" role="presentation">
                    <button class="nav-link active" id="classes-tab" data-toggle="pill"
                            data-target="#classes-container" type="button" role="tab"
                            aria-controls="classes-container" aria-selected="true">Classes</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="assignments-tab" data-toggle="pill"
                            data-target="#assignments-container" type="button" role="tab"
                            aria-controls="assignments-container" aria-selected="false">Assigned Homework</button>
                </li>
            </ul>
        </div> <!-- End sidebar-menu div -->
        <div id="content-div" class="col main pt-5 mt-5 h-100 pr-3 overflow-auto">
            <div id="tab-container" class="tab-content">
                <div id="error-msg-div"><p id="error-msg-p" class="text-danger text-center"></p></div>
                <div class="tab-pane fade active show" id="classes-container" role="tabpanel" aria-labelledby="classes-tab">
                    <div id="class-list" class="container">
                        <div id="manage-class-wrapper" class="table-manage-wrapper">
                            <div class="table-toolbar-div">
                                <ul class="table-toolbar">
                                    <li class="table-control">
                                        <button type="button" data-toggle="modal" data-target="#create-class-modal"
                                                class="table-control-btn no-select newClassBtn">
                                            <i class="fa fa-plus-circle fa-lg margin-r-5" style="color: blue;"></i>Create Class</button>
                                    </li>
                                    <li class="table-control" title="Select a class" data-toggle="tooltip" data-placement="bottom">
                                        <button id='deleteClassBtn' type="button" class="table-control-btn btn-delete no-select table-action"
                                                onclick="confirmDeleteClass();">
                                            <i class="fa fa-trash fa-lg margin-r-5 icon-light" style="color: blue;"></i>Delete</button>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <!-- Display Table of active classes for current instructor -->
                        {% for class_type, items in teacher_info['classes'] | groupby('student_auth') %}
                            <div id="{{ class_type }}_class_container" class="class_container container">
                                <div class="table-ctn">
                                    {% if class_type == 'email' %}
                                        {% set classType = 'registered' %}
                                        <h3 class="text-center">Registered Classes</h3>
                                    {% else %}
                                        {% set classType = 'anonymous'  %}
                                        <h3 class="text-center">Anonymous Classes</h3>
                                    {% endif %}
                                    <table id="{{ classType }}-table" class="table text-nowrap table-large">
                                        <thead>
                                            <tr id="class-table-headers">
                                                <th class="text-center">Select</th>
                                                <th class="prevent-select text-center">Link</th>
                                                <th class="prevent-select text-center">Class Name</th>
                                                <th class="prevent-select text-center">Roster Size</th>
                                            </tr>
                                        </thead>
                                        {% for class_item in items %}
                                            <tr>
                                                <td>
                                                    <input id="{{ class_item.id }}" class="classIdRow" type="checkbox" value=""
                                                           name="class_id"/>
                                                </td>
                                                <td>
                                                    <a class='btn-fa d-inline-flex' target="_blank" href="/teacher/class/{{ class_item.id }}">
                                                        <i class="fa fa-laptop fa-lg icon-light"></i> View Class</a>
                                                </td>
                                                <td>{{ class_item.name }}</td>
                                                <td>{{ class_item.roster_size }}</td>
                                            </tr>
                                        {% endfor %}
                                    </table>
                                </div>
                                {%  for class_item in items %}
                                    {% set class_id = class_item.id %}
                                    <div class="modal fade" id="modal_{{class_id}}" tabindex="-1" role="dialog" style="box-shadow:none;background-color:transparent;" aria-labelledby="ModalLabel_{{class_id}}" aria-hidden="true">
                                        <div class="modal-dialog" role="document" style="width: 50%;">
                                            <div class="modal-content">
                                                <div class="modal-header" style='justify-content:center;'>
                                                <h2 style='text-align:center;' class="modal-title" id="ModalLabel_{{class_id}}">CAUTION</h2>
                                                </div>
                                                <div class="modal-body" style="display: block; word-wrap: break-word; white-space: normal">
                                                    <p>You are about to delete the following class, <em>{{ class_item.name }}</em>.
                                                        This action can't be undone!</p>
                                                </div>
                                                <div class="modal-footer" style="justify-content:space-around;">
                                                    <button type="button" style="margin-right: 1em;" class="btn-fa popup_close" data-dismiss="modal">Cancel</button>
                                                    <a onclick="deleteClass('{{ class_id }}');" class="btn-fa btn-delete" style="color: white;">Continue!</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        {% endfor %}
                    </div>
                    <div id="create-class-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="create-class-modal" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-slideout modal-sm" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="create-class-modal-header">Create Class</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">x</span>
                                    </button>
                                </div> <!-- End modal-header -->
                                <div class="modal-body">
                                    <form id="create-class-form" action="" onsubmit="event.preventDefault();">
                                        <div class="form-group" id="createClassHidden">
                                            <input name="instructor_email" type="hidden" readonly id="class_creation_teacher_id" />
                                        </div>
                                        <div class="form-group">
                                            <label for="className">Class Name:</label>
                                            <input id="className" name="class_name" type="text" class="form-control"
                                                   required placeholder="Ex. Intro to Cybersecurity" />
                                        </div>
                                        <div class="form-group">
                                            <label for="studentAuthSelect">Student Access: </label>
                                            <select onchange="change_student_auth(this.value);" name="student_auth" id="studentAuthSelect">
                                                <option value="anonymous" selected>Anonymous (no login required)</option>
                                                <option value="email">Registered (requires email address)</option>
                                            </select>
                                        </div>
                                        <div class="form-group" id="student-count-div">
                                            <label for="student-count">Number of students:</label>
                                            <input id="student-count" name='student_count' type="number"
                                                   class="form-control" min="1" value="1"/>
                                        </div>
                                        <div class="form-group">
                                            <button type="button" class="btn-fa w-100" id="submitCreateClass" onclick="createNewClass()">Submit</button>
                                        </div>
                                    </form>
                                </div> <!-- End modal-body -->
                            </div> <!-- End modal-content -->
                        </div> <!-- End modal-dialog -->
                    </div> <!-- End create-class-modal -->
                </div>
                <div id="assignments-container" class="tab-pane fade" role="tabpanel" aria-labelledby="assignments-tab">
                    <h2 class="text-center">Assigned Homework</h2>
                    {% for name, items in teacher_info['active_units'] | groupby('name') %}
                        <div class="card unit-card col-lg-4 col-sm-12" onclick="show_current_units('{{ loop.index }}')">
                            <div class="card-body">
                                <h5 class="card-title">{{ name }}</h5>
                            </div>
                        </div>
                        <div class="modal fade" tabindex="-1" role="dialog" id="current_unit_{{ loop.index }}">
                        <div class="modal-dialog modal-lg" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5>{{ name }} Assignments</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">x</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <table class="table unit_table">
                                        <thead>
                                            <tr>
                                                <th scope="col">ID</th>
                                                <th scope="col">Class Name</th>
                                                <th scope="col">Created</th>
                                                <th scope="col">Expires</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for assignment in items %}
                                                <tr>
                                                    <td>
                                                        <a class='btn-fa d-inline-flex' target="_blank" href="/teacher/workout_list/{{ assignment.id }}">
                                                            <i class="fa fa-book"></i> {{ assignment.id }}</a>
                                                    </td>
                                                    <td>
                                                        <a class='btn-fa d-inline-flex' target="_blank" href="/teacher/class/{{ assignment.class_name }}">
                                                            <i class="fa fa-laptop fa-lg icon-light"></i> {{ assignment.class_name }}</a>
                                                    </td>
                                                    <td class="timestampField">
                                                        {{ assignment.created }}
                                                    </td>
                                                    <td class="timestampField">
                                                        {{ assignment.expires }}
                                                    </td>
                                                </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div> <!-- End Assignments container-->
            </div>
        </div>
     </div>
{% endblock content %}