{% extends "v2-base.html" %}
{% import 'logo_macro.html' as logo %}
{% import 'teacher_macros.html' as macros %}
{% import 'contact_us.html' as forms %}
{% block title %}Teacher Home{% endblock %}
{% block nav_title %}Teacher Home{% endblock %}
{% block styles %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('teacher_app.static', filename='css/teacher_app_styles.css') }}">
{% endblock styles %}
{% block navbar %}
    <div class="navbar-nav mr-auto">
        <ul class="nav nav-pills top-navbar-pill">
            <li class="nav-item m-l-r-3">
                <a href="{{ url_for('home') }}" class="nav-link text-center">Cyber Arena</a>
            </li>
            <li class="nav-item m-l-r-3">
                <a href="{{ url_for("fixed_arena.home") }}" class="nav-link text-center">STOC</a>
            </li>
            {% if auth_list.admin %}
                <li class="nav-item m-l-r-3">
                    <a href='{{ url_for("admin.home") }}' class="nav-link text-center">Admin Home</a>
                </li>
            {% endif %}
        </ul>
    </div>
    <div class="navbar-nav navbar-right">
        <ul class="nav nav-pills top-navbar-pill">
            <li class="nav-item m-l-r-3">
                <a id="contact-us" class="nav-item btn top-navbar-btn" href='#' data-toggle="modal"
                   data-target="#modalContactUs"><i class="fa fa-envelope-o icon-light"></i>Contact Us</a>
            </li>
        </ul>
        <div class="dropdown">
            <ul class="nav nav-pills top-navbar-pill">
                <li class="nav-item m-l-r-3">
                    <button id="banner" class="nav-item btn top-navbar-btn" data-toggle="dropdown">
                        <span id="user"></span><i class="fa fa-caret-down ml-1"></i></button>
                    <ul class="dropdown-menu m-l-r-3 dropdown-menu-hover">
                        <li class="nav-item m-l-r-3 text-center">
                            <a id="settings" class="nav-item btn" href="/teacher/settings" style="width: 100%;">Settings</a>
                        </li>
                        <li class="nav-item m-l-r-3 text-center">
                            <a id="sign-out" class="nav-item btn" style="width: 100%;">Sign Out</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
{% endblock %}
{% block content %}
    <script type="text/javascript" src='{{ url_for("static", filename="js/login.js") }}'></script>
    <script type="text/javascript" src='{{ url_for("static", filename="js/main_app.js") }}'></script>
    <script type="text/javascript" src='{{ url_for(".static", filename="js/teacher_app.js") }}'></script>
    <script>
          var teacher_email = null;
          var auth_config = {
              apiKey: '{{ auth_config["api_key"] }}',
              authDomain: '{{ auth_config["auth_domain"] }}',
              projectId: '{{ auth_config["project_id"] }}'
          };
          initApp(auth_config).then(value => {
              enable_signout();
               // Set welcome banner
              const welcome_nav = document.getElementById('user');
              welcome_nav.textContent = value['display_name'];

              // Set workout form value
              //document.getElementById('assignment-teacher-id').value = value['user_email'];
          });
          $(document).ready(function() {
               // Call functions that need to be run during initial page load here
               let tsToDate = new TimestampToDate();
               tsToDate.convert_timestamps();
           });
    </script>
     <div id="content-row" class="row row-offcanvas row-offcanvas-left vh-100">
        <div id="sidebar-div" class="position-fixed col-md-3 col-lg-2 order-0 sidebar-offcanvas h-100 overflow-auto nav-sidebar" role="navigation" style="top: 50px;">
            <ul id="sidebar-nav" class="nav nav-pills flex-column sticky-top pl-0 mt-3" role="tablist">
                <li>{{ logo.logo_div() }}</li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link active" id="teacher-home-btn" data-toggle="pill"
                            data-target="#teacher-home-tab" type="button" role="tab"
                            aria-controls="teacher-home-tab" aria-selected="true">Home</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="build-workout-tab-btn" data-toggle="pill"
                            data-target="#build-workout-tab" type="button" role="tab"
                            aria-controls="build-workout-tab" aria-selected="false">Build Workout</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="assignments-tab" data-toggle="pill"
                            data-target="#assignments-container" type="button" role="tab"
                            aria-controls="assignments-container" aria-selected="false">Assigned Homework</button>
                </li>
            </ul>
        </div> <!-- End sidebar-menu div -->
        <main class="col offset-2 main pt-3 mt-3 h-100 pr-3">
            <div id="content-div" class="overflow-auto">
                <div id="tab-container" class="tab-content">
                    <div class="tab-pane fade active show" id="teacher-home-tab" role="tabpanel" aria-labelledby="teacher-home-btn">
                        <div>
                            <div class="row table-ctn-header">
                                <div class="col table-filter-ctn">
                                    <ul class="table-filter-ul float-left">
                                        <li>
                                            <a id="filterActiveWorkouts" href="#" onclick="filterWorkouts('active-workout');" class="badge badge-btn badge-primary active-filter">Active Workouts</a>
                                        </li>
                                        <li>
                                            <a id="filterExpiredWorkouts" href="#" onclick="filterWorkouts('expired-workout');" class="badge badge-btn badge-light">Expired Workouts</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col table-ctn">
                            <table id="teacher-workout-table" class="table table-large table-hover">
                                <thead>
                                    <tr id="active-table-headers">
                                        <th scope="col" class="text-center no-select">Name</th>
                                        <th scope="col" class="text-center no-select">Description</th>
                                        <th scope="col" class="text-center no-select">Created</th>
                                        <th scope="col" class="text-center no-select">Expires</th>
                                    </tr>
                                </thead>
                                {% if teacher_info.active_units | length == 0 %}
                                    <tr class="opaque-loading active-workout"><td class="opaque-loading text-center" colspan="100%">No Active Workouts Found!</td></tr>
                                {% else %}
                                    {% for unit in teacher_info.active_units %}
                                        <tr class="active-workout">
                                            <td>
                                                {% if unit.build_type == 'escape_room' %}
                                                    <a href="/teacher/escape-room/{{ unit['id'] }}" class="btn-fa text-truncate" target="_blank" style="width: 250px; margin: auto; display: block;">
                                                        <i class="fa fa-book"></i> {{ unit.name }}</a>
                                                {% elif unit.build_type == 'unit' %}
                                                    <a href="/teacher/assignment/{{ unit['id'] }}" class="btn-fa text-truncate" target="_blank" style="width: 250px; margin: auto; display: block;">
                                                        <i class="fa fa-book"></i> {{ unit.name }}</a>
                                                {% endif %}
                                            </td>
                                            <td><div class="description">{{ unit.description }}</div></td>
                                            <td class="timestampField">{{ unit.created }}</td>
                                            {% if 'expires' in unit %}
                                                <td class="timestampField">{{ unit.expires }}</td>
                                            {% else %}
                                                <td>N/A</td>
                                            {% endif %}
                                        </tr>
                                    {% endfor %}
                                {% endif %}
                                {% if teacher_info.expired_units | length == 0 %}
                                    <tr class="opaque-loading expired-workout" style="display: none;"><td class="opaque-loading text-center">No Expired Workouts Found!</td></tr>
                                {% else %}
                                    {% for unit in teacher_info.expired_units %}
                                        <tr class='expired-workout' style="display: none;">
                                            <td>
                                                {% if unit.build_type == 'escape_room' %}
                                                    <a href="/teacher/escape-room/{{ unit['id'] }}" class="btn-fa text-truncate" target="_blank" style="width: 250px; margin: auto; display: block;">
                                                        <i class="fa fa-book"></i> {{ unit.name }}</a>
                                                {% elif unit.build_type == 'unit' %}
                                                    <a href="/teacher/assignment/{{ unit['id'] }}" class="btn-fa text-truncate" target="_blank" style="width: 250px; margin: auto; display: block;">
                                                        <i class="fa fa-book"></i> {{ unit.name }}</a>
                                                {% endif %}
                                            </td>
                                            <td><div class="description">{{ unit.description }}</div></td>
                                            <td class="timestampField">{{ unit.created }}</td>
                                            {% if 'expires' in unit %}
                                                <td class="timestampField">{{ unit.expires }}</td>
                                            {% else %}
                                                <td>N/A</td>
                                            {% endif %}
                                        </tr>
                                    {% endfor %}
                                {% endif %}
                            </table>
                        </div> <!-- End Workout Table Container -->
                    </div>
                    <div id="build-workout-tab" class="tab-pane fade" role="tabpanel" aria-labelledby="build-workout-tab-btn">
                        <div class="card-container">
                            <div class="row" style="margin-bottom: 3vh;">
                                <div class="input-group justify-content-center">
                                    <div class="input-group-prepend">
                                        <select id='filter_group' name='filter_group' class="dropdown-toggle" onchange="hide_spec_groups()">
                                            <option selected disabled hidden value="">Select Filter Group</option>
                                            <option class="dropdown-item" value="buildAssignmentRow" selected>Assignments</option>
                                            <option class="dropdown-item" value="buildLiveRow">Live</option>
                                            <option class="dropdown-item" value="buildEscapeRoomRow">Escape Room</option>
                                        </select>
                                        <!--<select id="filter_type" name='filter_type' class="dropdown-toggle">
                                            <option class="dropdown-item" value="cardTitle" selected>By Name</option>
                                            <option class="dropdown-item" value="cardTag">By Tag</option>
                                        </select>-->
                                        <input type="text" id="buildWorkoutFilter" class="form-control card-search" onkeyup="filter_build_specs(this.id, 'buildAssignmentRow');"
                                               placeholder="Search for workout ...">
                                    </div>
                                </div>
                            </div>
                            <div id="buildAssignmentRow">
                                <div class="row justify-content-center">
                                    <h2 class="section-title">Assignments</h2>
                                </div>
                                <div class="row justify-content-center">
                                    {{ macros.buildWorkoutCards(workout_specs.assignments, 'assignment', urls.unit, teacher_info.lms) }}
                                </div>
                            </div>
                        </div>
                        <div class="card-container">
                            <div id="buildLiveRow">
                                <div class="row justify-content-center">
                                    <h2 class="section-title">Live</h2>
                                </div>
                                <div class="row justify-content-center">
                                    {{ macros.buildWorkoutCards(workout_specs.live, 'live', urls.fixed_arena) }}
                                </div>
                            </div>
                        </div>
                        <div class="card-container">
                            <div id="buildEscapeRoomRow">
                                <div class="row justify-content-center">
                                    <h2 class="section-title">Escape Rooms</h2>
                                </div>
                                <div class="row justify-content-center">
                                    {{ macros.buildWorkoutCards(workout_specs.escape_rooms, 'escape-room', urls.escape_room) }}
                                </div>
                            </div>
                        </div>
                        <div class="modal fade" tabindex="-1" role="dialog" id="waiting-message-modal">
                            <div class="modal-dialog modal-lg" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <div class="modal-title w-100">
                                            <h5 class="text-center">Please wait while your workouts are created ...<span id='floating-coffee'><i class="fa fa-coffee floating-icon pl-2"></i></span></h5>
                                        </div>
                                    </div>
                                    <div class="modal-body">
                                        <div class="text-center">
                                            <p>This page will automatically redirect when the process is complete.</p>
                                            <p>Go grab some coffee (or tea, if you prefer).</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div> <!-- End waiting-message-modal -->
                    </div> <!-- End build workouts tab -->
                    <div id="assignments-container" class="tab-pane fade" role="tabpanel" aria-labelledby="assignments-tab">
                        <h2 class="text-center">Assigned Homework</h2>
                        <div class="row">
                            {% for name, items in teacher_info['active_units'] | groupby('name') %}
                                <div class="card unit-card col-lg-4 col-sm-12" onclick="show_modal_card('current_unit_{{ loop.index }}')">
                                    <div class="card-body">
                                        <h5 class="card-title">{{ name }}</h5>
                                    </div>
                                </div>
                                <div class="modal fade" tabindex="-1" role="dialog" id="current_unit_{{ loop.index }}">
                                    <div class="modal-dialog modal-lg" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header" style="overflow-y: initial !important;">
                                                <h5>{{ name }} Assignments</h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">x</span>
                                                </button>
                                            </div>
                                            <div class="modal-body" style="max-height: 80vh; overflow-y: auto;">
                                                 <table class="table unit_table">
                                                    <thead>
                                                        <tr>
                                                            <th scope="col">ID</th>
                                                            <th scope="col">Created</th>
                                                            <th scope="col">Expires</th>
                                                            <th scope="col">Build Count</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        {% for assignment in items %}
                                                            <tr>
                                                                <td>
                                                                    {% if assignment.build_type == 'escape_room' %}
                                                                        <a href="/teacher/escape-room/{{ assignment['id'] }}" class="btn-fa d-inline-flex" target="_blank">
                                                                            <i class="fa fa-book"></i> {{ assignment.name }}</a>
                                                                    {% elif assignment.build_type == 'unit' %}
                                                                        <a class='btn-fa d-inline-flex' target="_blank" href="/teacher/assignment/{{ assignment.id }}">
                                                                            <i class="fa fa-book"></i> {{ assignment.id }}</a>
                                                                    {% endif %}
                                                                </td>
                                                                <td class="timestampField">
                                                                    {{ assignment.created }}
                                                                </td>
                                                                <td class="timestampField">
                                                                    {{ assignment.expires }}
                                                                </td>
                                                                <td>
                                                                    {{ assignment.build_count }}
                                                                </td>
                                                            </tr>
                                                        {% endfor %}
                                                    </tbody>
                                                </table> <!-- End unit table -->
                                            </div> <!-- End assignment modal-body -->
                                        </div> <!--End assignment modal-content-->
                                    </div> <!--End assignment modal-dialog-->
                                </div> <!--End assignment card-->
                            {% endfor %}
                        </div>
                    </div> <!--End assignments-container-->
                </div> <!--End tab-container-->
                {{ forms.contact_us() }}

            </div> <!--End content-div-->
        </main>
     </div><!--End content-row -->
{% endblock content %}
