{# Not currently in use #}
{% macro deleteStudent(class_id, student_name) -%}
<button type="button" class="btn-fa d-inline-flex col-5 btn-delete" data-toggle="modal" data-target="#modal_{{ class_id }}">
    <i class="fa fa-trash fa-lg icon-light"></i> Delete Student
</button>
<div class="modal fade" id="modal_{{ class_id }}" tabindex="-1" role="dialog" style="box-shadow:none;background-color:transparent;" aria-labelledby="ModalLabel_{{ class_id }}" aria-hidden="true">
    <div class="modal-dialog" role="document" style="width: 50%;">
        <div class="modal-content">
            <div class="modal-header" style='justify-content:center;'>
            <h2 style='text-align:center;' class="modal-title" id="ModalLabel_{{ class_id }}">CAUTION</h2>
            </div>
            <div class="modal-body" style="display: block; word-wrap: break-word; white-space: normal">
                <p>You are about to remove the following student, <em>{{ student_name }}</em>.
                    This action can't be undone!</p>
            </div>
            <div class="modal-footer" style="justify-content:space-around;">
                <button type="button" style="margin-right: 1em;" class="btn-fa popup_close" data-dismiss="modal">Cancel</button>
                <a onclick="deleteStudent('{{ class_id }}', '{{ student_name }}');" class="btn-fa btn-delete" style="color: white;">Continue!</a>
            </div>
        </div>
    </div>
</div>
{%- endmacro %}

{# Cards are used as part of the Build Workout tab in teacher_classroom.html #}
{% macro buildWorkoutCards(specs, build_type, url) %}
    {% for spec in specs %}
        <div class="card unit-card col-lg-4 col-sm-12" onclick="show_modal_card('current_{{ build_type }}_{{ loop.index }}')">
            <div class="card-body">
                <h5 class="card-title">{{ spec.summary.name }}</h5>
                {% if spec.summary.tags %}
                    {% for tag in spec.summary.tags %}
                        <div class="badge filterTags text-truncate {{ tag['id'] | lower }}">{{ tag.name }}</div>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
        <div class="modal fade" tabindex="-1" role="dialog" id="current_{{ build_type }}_{{ loop.index }}">
            <div class="modal-dialog modal-lg" role="document" style="overflow-y: initial !important;">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5>{{ spec.summary.name }}</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">x</span>
                        </button>
                    </div>
                    <div class="modal-body" style="overflow-y: auto; max-height: 80vh;">
                        <div class="build-tags">
                            {% if spec.summary.tags %}
                                {% for tag in spec.summary.tags %}
                                    <div class="badge {{ tag['id'] | lower }}" style="width: fit-content">{{ tag.name }}</div>
                                {% endfor %}
                            {% endif %}
                        </div>
                        <div style="border-bottom: 1px solid #e6e6e6; padding: 3px;">
                            <p>{{ spec.summary.description }}</p>
                        </div>
                        <form id="{{ build_type }}_{{ loop.index }}_form" action="{{ url }}" method="post"
                              onsubmit="displayWaitingMessage('current_{{ build_type }}_{{ loop.index }}');">
                            <div class="form-group">
                                <input type="hidden" name="email" id="email" />
                                <input type="hidden" name="build_file" id="build_file" value="{{ spec['id'] }}">
                            </div>
                            <div class="form-group">
                                <label for="class-expire-date-{{ loop.index }}">Expires: </label>
                                <input id="class-expire-date-{{ loop.index }}" class="form-control" name="expires"
                                       type="datetime-local" onchange="validateDateTime(this)">
                            </div>
                            <div id="{{ build_type }}-build-count-{{ loop.index }}-div" class="form-group">
                                <input id="build-count-{{ loop.index }}" class="form-control" type="number" name="build_count" min="1" max="50" />
                                <label for="build-count-{{ loop.index }}">Enter max number of students</label>
                            </div>
                            {% if spec.lms %}
                            <div style="border-top: 1px solid #e6e6e6; padding: 3px;">
                            </div>
                            <div class="form-group">
                                <label for="quiz-due-date-{{ loop.index }}">Quiz Due: </label>
                                <input id="quiz-due-date-{{ loop.index }}" class="form-control" name="quiz-due-date"
                                       type="datetime-local" onchange="validateDateTime(this)">
                            </div>
                            <div class="form-group">
                                <label for="quiz-points-{{ loop.index }}">How Many Points: </label>
                                <input id="quiz-points-{{ loop.index }}" class="form-control" name="quiz-points"
                                       type="number" >
                            </div>
                            <div class="form-group">
                                <label for="quiz-attempts-{{ loop.index }}">Number of Attempts (-1 = unlimited): </label>
                                <input id="quiz-attempts-{{ loop.index }}" class="form-control" name="quiz-attempts"
                                       type="number" >
                            </div>
                            {% endif %}
                            <div class="d-flex justify-content-center">
                                <button type="submit" id="build-{{ build_type }}-{{ loop.index }}" class="waves-effect waves-light btn-fa text-center build-workout">Build Workout!</button>
                            </div>
                        </form>
                    </div> <!-- End modal-body -->
                </div> <!--End modal-content -->
            </div> <!-- End modal-dialog -->
        </div> <!-- End modal-->
    {% endfor %}
{%- endmacro %}

{% macro workoutAssessmentModals(workout_list, url) %}
    {% for workout in workout_list %}
        <div class="modal fade" tabindex="-1" role="dialog" id="modal_{{ workout['id'] }}_assessment">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5>{{ workout['id'] }} Assessment</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">x</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <table class="table table-sm assessment-table">
                            <thead>
                                <tr>
                                    <td>Question</td>
                                    <td>Response</td>
                                    <td>Answer Key</td>
                                    <td>Complete</td>
                                </tr>
                            </thead>
                            <tbody>
                                {% for question in workout.assessment %}
                                    <tr>
                                        <td>{{ question['id'] }}</td>
                                        {% if question.response %}
                                            <td>{{ question.response }}</td>
                                        {% else %}
                                            <td class="disabled">No Response</td>
                                        {% endif %}
                                        {% if question.type in ['auto', 'input'] %}
                                            <td>{{ question.answer }}</td>
                                        {% elif question.type == 'upload' %}
                                            {% if not question.comlete %}
                                                <td>
                                                    <button onclick="markComplete('{{ question['id'] }}', '{{ workout['id'] }}', '{{ url }}');">Mark Complete</button>
                                                </td>
                                            {% else %}
                                                <td>Upload accepted</td>
                                            {% endif %}
                                        {% endif %}
                                        {% if question.complete %}
                                            <td id="{{ question['id'] }}-complete" class="complete">{{ question.complete | upper }}</td>
                                        {% else %}
                                            <td id="{{ question['id'] }}-complete" class="incomplete">{{ question.complete | upper }}</td>
                                        {% endif %}
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table> <!-- End assessment table -->
                    </div> <!-- End modal-body -->
                </div> <!-- End modal-content-->
            </div> <!-- End modal-dialog -->
        </div> <!-- End modal div-->
    {% endfor %}
{% endmacro -%}

{% macro nuke_workout_modals(workout_list, url) %}
    {% for workout in workout_list %}
        <div class="modal fade" tabindex="-1" role="dialog" id="modal_{{ workout['id'] }}_nuke">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="text-center">Nuke {{ workout['id'] }} workout!</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">x</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <h5 class="text-center">WARNING: This action can't be undone!</h5>
                        <p>Nuking the workout will destroy and rebuild all machines for the current workout. Any student progress on the machines
                        will be lost!</p>
                    </div>
                     <div class="modal-footer" style="justify-content:space-around;">
                        <button type="button" style="margin-right: 1em;" class="btn-fa popup_close" data-dismiss="modal">Cancel</button>
                        <button class="btn-fa btn-delete" onclick="nuke('{{ url }}/{{ workout['id'] }}', 'modal_{{ workout['id'] }}_nuke');">Continue?</button>
                     </div>
                </div>
            </div>
         </div>
    {% endfor %}
{% endmacro -%}
