{% extends "v2-base.html" %}
{% import 'logo_macro.html' as logo %}
{% import 'teacher_macros.html' as macros %}
{% block title %}Teacher Home{% endblock %}
{% block nav_title %}Teacher Home{% endblock %}
{% block styles %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('teacher_app.static', filename='css/teacher_app_styles.css') }}">
{% endblock styles %}
{% block navbar %}
    <div class="navbar-nav mr-auto">
        <ul class="nav nav-pills top-navbar-pill">
            <li class="nav-item">
                <a href="{{ url_for('home') }}" class="nav-link text-center">Cyber Arena</a>
            </li>
            <li class="nav-item">
                <a href="{{ url_for("fixed_arena.home") }}" class="nav-link text-center">STOC</a>
            </li>
            {% if 'admins' in auth_list %}
                <li class="nav-item">
                    <a href='/admin/home' class="nav-link text-center">Admin Home</a>
                </li>
            {% endif %}
        </ul>
    </div>
    <div class="navbar-nav navbar-right">
        <ul class="nav nav-pills top-navbar-pill">
            <li class="nav-item">
                <a id="contact-us" class="nav-item btn top-navbar-btn" href="#" data-toggle="modal" data-target="modalContactUs">Contact Us</a>
            </li>
            <li class="nav-item disabled">
                <p id="banner" class="nav-item btn top-navbar-btn disabled no-select"></p>
            </li>
            <li class="nav-item">
                <a id="sign-out" class="nav-item btn top-navbar-btn">Sign Out</a>
            </li>
        </ul>
    </div>
{% endblock %}
{% block content %}
    <script type="text/javascript" src='{{ url_for("static", filename="js/login.js") }}'></script>
    <script type="text/javascript" src='{{ url_for("static", filename="js/main_app.js") }}'></script>
    <script type="text/javascript" src='{{ url_for(".static", filename="js/teacher_app.js") }}'></script>
    <script>
          var teacher_email = null;
          var auth_config = {
              apiKey: '{{ auth_config["api_key"] }}',
              authDomain: '{{ auth_config["auth_domain"] }}',
              projectId: '{{ auth_config["project_id"] }}'
          };
          initApp(auth_config).then(value => {
              enable_signout();
               // Set welcome banner
              const welcome_nav = document.getElementById('banner');
              welcome_nav.textContent = value['display_name'];

              // Set workout form value
              //document.getElementById('assignment-teacher-id').value = value['user_email'];
          });
          $(document).ready(function() {
               // Call functions that need to be run during initial page load here
               let tsToDate = new TimestampToDate();
               tsToDate.convert_timestamps();
           });
    </script>
     <div id="content-row" class="row row-offcanvas row-offcanvas-left vh-100">
        <div id="sidebar-div" class="col-md-3 col-lg-2 sidebar-offcanvas h-100 overflow-auto nav-sidebar" role="navigation">
            <ul id="sidebar-nav" class="nav nav-pills flex-column sticky-top pl-0 mt-3" role="tablist">
                <li>{{ logo.logo_div() }}</li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link active" id="teacher-home-btn" data-toggle="pill"
                            data-target="#teacher-home-tab" type="button" role="tab"
                            aria-controls="teacher-home-tab" aria-selected="true">Home</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="build-workout-tab-btn" data-toggle="pill"
                            data-target="#build-workout-tab" type="button" role="tab"
                            aria-controls="build-workout-tab" aria-selected="false">Build Workout</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="assignments-tab" data-toggle="pill"
                            data-target="#assignments-container" type="button" role="tab"
                            aria-controls="assignments-container" aria-selected="false">Assigned Homework</button>
                </li>
                <!--<li class="nav-item" role="presentation">
                    <button class="nav-link" id="roster-tab-btn" data-toggle="pill"
                            data-target="#roster-tab" type="button" role="tab"
                            aria-controls="roster-tab" aria-selected="false">Roster</button>
                </li>-->
            </ul>
        </div> <!-- End sidebar-menu div -->
        <main class="col main pt-3 mt-3 h-100 pr-3">
            <div id="content-div" class="overflow-auto">
                <div id="tab-container" class="tab-content">
                    <div class="tab-pane fade active show" id="teacher-home-tab" role="tabpanel" aria-labelledby="teacher-home-btn">
                        <!-- Tab TBD -->
                        <div class="container">
                            <div class="table-ctn">
                                <table id="active-class-table" class="table text-nowrap table-small">
                                    <thead>
                                        <tr id="active-table-headers">
                                            <th scope="col" class="text-center no-select">Name</th>
                                            <th scope="col" class="text-center no-select">Description</th>
                                            <th scope="col" class="text-center no-select">Created</th>
                                            <th scope="col" class="text-center no-select">Expires</th>
                                        </tr>
                                    </thead>
                                    {% if teacher_info.active_units | length == 0 %}
                                        <tr class="opaque-loading"><td class="opaque-loading text-center" colspan="100%">No Active Workouts Found!</td></tr>
                                    {% else %}
                                        {% for unit in teacher_info.active_units %}
                                            <tr>
                                                <td>
                                                    {% if unit.build_type == 'escape_room' %}
                                                        <a href="/teacher/escape-room/{{ unit['id'] }}" class="btn-fa d-inline-flex" target="_blank">
                                                            <i class="fa fa-book"></i> {{ unit.name }}</a>
                                                    {% elif unit.build_type == 'unit' %}
                                                        <a href="/teacher/assignment/{{ unit['id'] }}" class="btn-fa d-inline-flex" target="_blank">
                                                            <i class="fa fa-book"></i> {{ unit.name }}</a>
                                                    {% endif %}
                                                </td>
                                                <td><div class="description">{{ unit.description }}</div></td>
                                                <td class="timestampField">{{ unit.created }}</td>
                                                {% if 'expires' in unit %}
                                                    <td class="timestampField">{{ unit.expires }}</td>
                                                {% else %}
                                                    <td>N/A</td>
                                                {% endif %}
                                            </tr>
                                        {% endfor %}
                                    {% endif %}
                                </table>
                            </div>
                        </div>
                    </div>
                    <div id="build-workout-tab" class="tab-pane fade" role="tabpanel" aria-labelledby="build-workout-tab-btn">
                        <div class="card-container">
                            <h2 class="section-title">Assignments</h2>
                            <div class="row">
                                {{ macros.buildWorkoutCards(workout_specs.assignments, 'assignment', teacher_info.classes, urls.unit) }}
                            </div>
                        </div>
                        <div class="card-container">
                            <h2 class="section-title">Live</h2>
                            <div class="row">
                                {{ macros.buildWorkoutCards(workout_specs.live, 'live', teacher_info.classes, urls.fixed_arena) }}
                            </div>
                        </div>
                        <div class="card-container">
                            <h2 class="section-title">Escape Rooms</h2>
                            <div class="row">
                                {{ macros.buildWorkoutCards(workout_specs.escape_rooms, 'escape-room', teacher_info.classes, urls.escape_room) }}
                            </div>
                        </div>
                        <div class="modal fade" tabindex="-1" role="dialog" id="waiting-message-modal">
                            <div class="modal-dialog modal-lg" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <div class="modal-title w-100">
                                            <h5 class="text-center">Please wait while your workouts are created ...<span id='floating-coffee'><i class="fa fa-coffee floating-icon pl-2"></i></span></h5>
                                        </div>
                                    </div>
                                    <div class="modal-body">
                                        <div class="text-center">
                                            <p>This page will automatically redirect when the process is complete.</p>
                                            <p>Go grab some coffee (or tea, if you prefer).</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div> <!-- End waiting-message-modal -->
                    </div> <!-- End build workouts tab -->
                    <div id="assignments-container" class="tab-pane fade" role="tabpanel" aria-labelledby="assignments-tab">
                        <h2 class="text-center">Assigned Homework</h2>
                        {% for name, items in teacher_info['active_units'] | groupby('name') %}
                            <div class="card unit-card col-lg-4 col-sm-12" onclick="show_modal_card('current_unit_{{ loop.index }}')">
                                <div class="card-body">
                                    <h5 class="card-title">{{ name }}</h5>
                                </div>
                            </div>
                            <div class="modal fade" tabindex="-1" role="dialog" id="current_unit_{{ loop.index }}">
                                <div class="modal-dialog modal-lg" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5>{{ name }} Assignments</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">x</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                             <table class="table unit_table">
                                                <thead>
                                                    <tr>
                                                        <th scope="col">ID</th>
                                                        <th scope="col">Created</th>
                                                        <th scope="col">Expires</th>
                                                        <th scope="col">Build Count</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    {% for assignment in items %}
                                                        <tr>
                                                            <td>
                                                                {% if assignment.build_type == 'escape_room' %}
                                                                    <a href="/teacher/escape-room/{{ assignment['id'] }}" class="btn-fa d-inline-flex" target="_blank">
                                                                        <i class="fa fa-book"></i> {{ assignment.name }}</a>
                                                                {% elif assignment.build_type == 'unit' %}
                                                                    <a class='btn-fa d-inline-flex' target="_blank" href="/teacher/assignment/{{ assignment.id }}">
                                                                        <i class="fa fa-book"></i> {{ assignment.id }}</a>
                                                                {% endif %}
                                                            </td>
                                                            <td class="timestampField">
                                                                {{ assignment.created }}
                                                            </td>
                                                            <td class="timestampField">
                                                                {{ assignment.expires }}
                                                            </td>
                                                            <td>
                                                                {{ assignment.build_count }}
                                                            </td>
                                                        </tr>
                                                    {% endfor %}
                                                </tbody>
                                            </table> <!-- End unit table -->
                                        </div> <!-- End assignment modal-body -->
                                    </div> <!--End assignment modal-content-->
                                </div> <!--End assignment modal-dialog-->
                            </div> <!--End assignment card-->
                        {% endfor %}
                    </div> <!--End assignments-container-->
                </div> <!--End tab-container-->
            </div> <!--End content-div-->
        </main>
     </div><!--End content-row -->
{% endblock content %}
