{% extends "teacher_base.html" %}
{% import 'logo_macro.html' as logo %}
{% block title %}Unit {{ unit.key.name }}{% endblock %}
{% block nav_title %}Unit {{ unit.key.name }}{% endblock %}
{% block styles %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('teacher_app.static', filename='css/teacher_app_styles.css') }}">
{% endblock styles %}
{% block navbar %}
    <div class="navbar-nav mr-auto">
        <ul class="nav nav-pills top-navbar-pill">
            <li class="nav-item">
                <a id="banner" href="#" class="nav-link text-center disabled no-select"></a>
            </li>
            <li class="nav-item">
                <a href="{{ url_for('home') }}" class="nav-link text-center">Cyber Arena</a>
            </li>
            <li class="nav-item">
                <a href="{{ url_for("fixed_arena.home") }}" class="nav-link text-center">STOC</a>
            </li>
        </ul>
    </div>
    <div class="navbar-nav ml-auto">
        <button id="contact-us" class="nav-item btn top-navbar-btn"
                data-toggle="modal" data-target="#commentsModal">Contact Us</button>
        <button id="sign-out" class="nav-item btn top-navbar-btn">Sign Out</button>
    </div>
{% endblock %}
{% block content %}
    <script type="text/javascript" src='{{ url_for("static", filename="js/login.js") }}'></script>
    <script>
          var teacher_email = null;
          var auth_config = {
              apiKey: '{{ auth_config["api_key"] }}',
              authDomain: '{{ auth_config["auth_domain"] }}',
              projectId: '{{ auth_config["project_id"] }}'
          };
          initApp(auth_config).then(value => {
              enable_signout();
              // Set welcome banner
              const welcome_nav = document.getElementById('banner');
              welcome_nav.innerHTML = value['display_name'];
              if (value['authorized'] === true){
                  teacher_email = value['email'];
                  var teacher_button = document.createElement('a');
                  teacher_button.href = '/teacher/home/';
                  teacher_button.className = 'nav-link';
                  teacher_button.innerHTML = 'Teacher Home';
                  if (value['admin'] === true){
                      var admin_button = document.createElement("a");
                      admin_button.href = "/admin/home";
                      admin_button.className = "nav-link";
                      admin_button.innerHTML = "Admin Home";
                  }
              } else {
                  if(value['student'] === true){
                      var student_home_link = document.createElement("a");
                      student_home_link = '/student/home';
                      student_home_link.className = "nav-link";
                      student_home_link.innerHTML = "Your Student Page";
                  }
              }
          });
    </script>
    <div id='content-row' class='row row-offcanvas row-offcanvas-left vh-100'>
        <!--TODO: Create toggle sidebar button in top navbar -->
        <!--<div id="sidebar-div" class="col-sm-3 col-md-2 sticky-top nav-sidebar">-->
        <div id="sidebar-div" class="col-md-3 col-lg-2 sidebar-offcanvas h-100 overflow-auto nav-sidebar" role="navigation">
            <ul id="sidebar-nav" class="nav nav-pills flex-column sticky-top pl-0 mt-3" role="tablist">
                <li>{{ logo.logo_div() }}</li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link active" id="fa-home-btn" data-toggle="pill"
                            data-target="#boot-container" type="button" role="tab"
                            aria-controls="nav-boot"
                            aria-selected="true">Home</button>
                </li>
                <li class="nav-item">
                    {% if unit['build_type'] == "compute" %}
                        <!-- TODO: Add unit controls -->
                    {% endif %}
                </li>
                <!-- Not sure if this is needed right now
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="fa-config-btn" data-toggle="pill"
                            data-target="#settings-container" type="button" role="tab"
                            aria-controls="nav-settings"
                            aria-selected="false">Manage</button>
                </li>-->
            </ul>
        </div> <!--End sidebar-menu div -->
        <div id="content-div" class="col main pt-5 mt-3 h-100 pr-3 overflow-auto">
            <div id="home-content-ctn" class="d-inline-flex">

            </div>
        </div>
    </div> <!-- End content-row -->
{% endblock content %}