{% extends "v2-base.html" %}
{% import 'logo_macro.html' as logo %}
{% import 'teacher_macros.html' as macros %}
{% block title %}{{ unit.summary.name }}{% endblock %}
{% block nav_title %}{{ unit.summary.name }} Assignment{% endblock %}
{% block styles %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('teacher_app.static', filename='css/teacher_app_styles.css') }}">
{% endblock styles %}
{% block navbar %}
    <div class="navbar-nav mr-auto">
        <ul class="nav nav-pills top-navbar-pill">
            <li class="nav-item">
                <a href="{{ url_for('home') }}" class="nav-link text-center">Cyber Arena</a>
            </li>
            <li class="nav-item">
                <a href="{{ url_for("fixed_arena.home") }}" class="nav-link text-center">STOC</a>
            </li>
            {% if 'admins' in auth_list %}
                <li class="nav-item">
                    <a href='{{ url_for("admin.home") }}' class="nav-link text-center">Admin Home</a>
                </li>
            {% endif %}
        </ul>
    </div>
    <div class="navbar-nav navbar-right">
        <ul class="nav nav-pills top-navbar-pill">
            <li class="nav-item">
                <a id="contact-us" class="nav-item btn top-navbar-btn" href='#' data-toggle="modal"
                   data-target="#modalContactUs"><i class="fa fa-envelope-o icon-light"></i>Contact Us</a>
            </li>
            <li class="nav-item disabled">
                <p id="banner" class="nav-item btn top-navbar-btn disabled no-select"></p>
            </li>
            <li class="nav-item">
                <a id="sign-out" class="nav-item btn top-navbar-btn"><i class="fa fa-sign-out"></i>Sign Out</a>
            </li>
        </ul>
    </div>

{% endblock %}
{% block content %}
    <script type="text/javascript" src='{{ url_for("static", filename="js/login.js") }}'></script>
    <script type="text/javascript" src='{{ url_for("static", filename="js/main_app.js") }}'></script>
    <script type="text/javascript" src='{{ url_for(".static", filename="js/teacher_app.js") }}'></script>
    <script>
        var teacher_email = null;
        var auth_config = {
          apiKey: '{{ auth_config["api_key"] }}',
          authDomain: '{{ auth_config["auth_domain"] }}',
          projectId: '{{ auth_config["project_id"] }}'
        };
        initApp(auth_config).then(value => {
            enable_signout();
            // Set welcome banner
            const welcome_nav = document.getElementById('banner');
            welcome_nav.innerHTML = value['display_name'];
        });
        $(document).ready(function (){
            let tsToDate = new TimestampToDate();
            tsToDate.convert_timestamps();
            // Start Timer if Needed
            {% if unit.servers | count > 0 %}
                {% if not unit.workspace_settings.expired %}
                    {% if unit.workspace_settings.start_time %}
                        let countdownTimer = new Timer("{{ unit['id'] }}", '{{ unit.api }}', "{{ unit.build_type }}");
                        let times = {
                            'start_time': {{ unit.workspace_settings.start_time }},
                            'time_limit': {{ unit.workspace_settings.time_limit }},
                            'expired': {{ unit.workspace_settings.expired | lower }}
                        }
                        countdownTimer.start(times);
                    {% endif %}
                    checkState("{{ unit['id'] }}", "{{ unit.api }}",);
                {% endif %}
            {% endif %}
        }); // end document.ready
    </script>
    <div id='content-row' class='row row-offcanvas row-offcanvas-left vh-100'>
        <div id="sidebar-div" class="position-fixed col-md-3 col-lg-2 order-0 sidebar-offcanvas h-100 overflow-auto nav-sidebar" role="navigation" style="top: 50px;">
            <ul id="sidebar-nav" class="nav nav-pills flex-column sticky-top pl-0 mt-3" role="tablist">
                <li>{{ logo.logo_div() }}</li>
                <li>
                    {% if not unit.expired %}
                        <div class="nav-link disabled" style="pointer-events: none">
                            <h5>EXPIRES: <span class="timestampField">{{ unit.workspace_settings.expires }}</span></h5>
                        </div>
                    {% else %}
                        <div class="nav-link disabled" style="pointer-events: none">
                            <h5>UNIT EXPIRED</h5>
                        </div>
                    {% endif %}
                </li>
                {% if workout_list %}
                    {% if workout_list | count > 0 %}
                        {% if workout_list[0].servers %}
                            <!-- Since attacks can only be sent to server based workouts, there is no need to have
                            multiple tab buttons available for container only workouts. Removing both buttons and displaying
                             the default will help eliminate potential confusion -->
                            <li class="nav-item" role="presentation">
                            <button class="nav-link" id="main-container-btn" data-toggle="pill"
                                    data-target="#main-container-tab" type="button" role="tab"
                                    aria-controls="main-container-tab"
                                    aria-selected="true">Assignment</button>
                            </li>
                            <li class="nav-item" role="presentation">
                                <button class="nav-link" id="build-attack-btn" data-toggle="pill"
                                        data-target="#build-attack-tab" type="button" role="tab"
                                        aria-controls="build-attack-tab"
                                        aria-selected="true">Build Attack</button>
                            </li>
                        {% endif %}
                    {% endif %}
                {% endif %}
            </ul>
        </div> <!--End sidebar-menu div -->
        <main class="col offset-2 main pt-3 mt-3 h-100 pr-3"  style="overflow: auto;">
            <div id="content-div" class="overflow-auto">
                <div id="tab-container" class="tab-content">
                    <div id="main-container-tab" class="tab-pane fade active show" role="tabpanel" aria-labelledby="main-container-btn">
                        <div class="container">
                            <div id="assignment-info" class="info-container">
                                <h2 class="text-center">{{ unit.summary.name }}</h2>
                                <p><span style="font-weight: bold">Author: </span>{{ unit.summary.author }}</p>
                                <p><span style="font-weight: bold">Summary: </span> {{ unit.summary.description }}</p>
                                {% if unit.summary.teacher_instructions %}
                                    <a class="btn-fa" href="{{ unit.summary.teacher_instructions_url }}"
                                       target="_blank" rel="noopener noreferrer">Teacher Instructions</a>
                                {% endif %}
                                {% if join_url %}
                                    <div id="distribution" style="margin-top: 12px;">
                                        <h6 class="text-center">Students can join assignment by visiting <span style="color: var(--python-blue);"><em>{{ join_url }}</em></span> and entering the code below: </h6>
                                        <div class="alert alert-info text-center" style="max-width: 65%; margin: 0 auto;">
                                            <h4>{{ unit['join_code'] }}</h4>
                                        </div>
                                    </div>
                                {% endif %}
                            </div>
                            <div id="workout-table-ctn" class="table-ctn">
                                <table class="table text-nowrap table-small">
                                    <thead>
                                        <tr id="active-table-headers">
                                            <td>#</td>
                                            <td>State</td>
                                            <td>ID</td>
                                            <td>Claimed By</td>
                                            <td>Workout Links</td>
                                            {% if unit.assessment %}
                                                <td>Assessment</td>
                                            {% endif %}
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% if workout_list %}
                                            {% for workout in workout_list %}
                                                <tr>
                                                    <td>{{ loop.index }}</td>
                                                    <td>
                                                        {% if workout['state'] == 50 %}
                                                            <i id="workoutState-{{ workout['id'] }}" class="fa fa-circle buildState running" data-toggle="tooltip" data-placement="top" title="RUNNING"></i>
                                                            <!--<span id="workout-state-{{ workout['id'] }}" class="buildState running"></span>-->
                                                        {% elif workout['state'] == 53 %}
                                                            <i id="workoutState-{{ workout['id'] }}" class="fa fa-circle buildState stopped" data-toggle="tooltip" data-placement="top" title="STOPPED"></i>
                                                        {% elif workout['state'] == 72 %}
                                                            <i id="workoutState-{{ workout['id'] }}" class="fa fa-circle buildState deleted" data-toggle="tooltip" data-placement="top" title="DELETED"></i>
                                                        {% else %}
                                                            <i id="workoutState-{{ workout['id'] }}" class="fa fa-circle buildState transition" data-toggle="tooltip" data-placement="top" title="WORKING"></i>
                                                        {% endif %}
                                                    </td>
                                                    <td>{{ workout['id'] }}</td>
                                                    <td>{{ workout.student_email }}</td>
                                                    <td>
                                                        <a class="btn-fa" href="{{ url_for('student_app.workout_view', build_id=workout['id'])}}" target="_blank">
                                                            <i class="fa fa-book" style="padding-right: 5px;"></i>View Workout</a>
                                                    </td>
                                                    {% if unit.assessment %}
                                                        <td>
                                                            <button class="btn-fa" data-toggle="modal"
                                                                    data-target="modal_{{ workout['id'] }}_assessment"
                                                                    onclick="show_modal_card('modal_{{ workout['id'] }}_assessment')">View Responses</button>
                                                        </td>
                                                    {% endif %}
                                                </tr>
                                            {% endfor %}
                                        {% else %}
                                            <tr class="opaque-loading"><td class="opaque-loading text-center" colspan="100%">No workouts built! Table will populate as each student joins.</td></tr>
                                        {% endif %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        {% if workout_list %}
                            <div>
                                {% if unit.assessment %}
                                    {% set unit_url = unit.api ~ unit['id'] %}
                                    {{ macros.workoutAssessmentModals(workout_list, unit_url) }}
                                {% endif %}
                            </div> <!-- End modal container divs -->
                        {% endif %}
                    </div><!--End main-container-tab -->
                    {% if workout_list %}
                        {% if workout_list[0].servers %}
                            <div id="build-attack-tab" class="tab-pane fade" role="tabpanel" aria-labelledby="build-attack-btn">
                                <div><p>IN PROGRESS ...</p></div>
                            </div>
                        {% endif %}
                    {% endif %}
                </div>
                <!-- Modal -->
                <div id="modalContactUs" class="modal fade" role="dialog">
                    <div class="modal-dialog">

                        <!-- Modal content-->
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title">Help Form</h4>
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                            </div>
                            <div class="modal-body">
                                <form id='contact_form' action='{{ url_for("leave_comment") }}' method="POST" enctype="multipart/form-data">
                                    <label for="Email">Your Email</label><br>
                                    <input type="text" id="email" name="email" required><br><br>
                                    <label for="Subject">Subject</label><br>
                                    <input type="text" id="subject" name="subject" required><br><br>
                                    <label for="Comment">Comment</label><br>
                                    <input type="text" id="comment" name="comment" required><br><br>
                                    <label for="Image">Please include an image of any errors</label><br>
                                    <input type="file" id="image" name="image"><br><br>
                                </form>
                            </div>
                            <div class="modal-footer">
                                <input type="submit" form='contact_form' value="Submit">
                            </div>
                        </div>
                    </div>
                </div> <!-- End Modal -->
            </div>
        </main>
    </div> <!-- End content-row -->
{% endblock content %}
